html, body {
	margin: 0;
	padding: 0;
	border: 0;
	text-align:center;
	height:100%;
	}

body {
	font-family:Arial;
	font-size:12px;
	color:#000000;
	}
div, td, th, span, a, font {
	font-family:Arial;
	}
	
.body {
	background:url('images/body_b_bg.gif') #ffffff 0% 100% repeat-x;
	min-width:969px;
	}
.bcntr {
	margin:0px auto;
	padding:0px;
	width:969px;
	text-align:left;
	}
.bottom_bg {
	background:url('images/footer_center_bg.gif') transparent 50% 100% no-repeat;
	padding-bottom:116px;
	}
	.bottom_bg .symb_left {
		background:url('images/footer_l_bg.gif') transparent 0% 0% no-repeat;
		width:43px;
		height:253px;
		position:absolute;
		top:-204px;
		left:-1px;
		}
	.bottom_bg .symb_right {
		background:url('images/footer_r_bg.gif') transparent 0% 0% no-repeat;
		width:21px;
		height:281px;
		position:absolute;
		top:-253px;
		right:-1px;
		}

img, a img { border:none; }
a:link, a:visited { color:#3366cc; text-decoration:underline; }
a:hover { text-decoration:none; }

h1, .h1, h2, .h2, h3, .h3, h4, .h4 { font-weight:normal; font-size:30px; margin:0px; padding:0px; }
h1, .h1 { font-weight:bold; font-family:Helvetica, Arial; margin:3px 0px 8px 0px; }
h2, .h2 { font-size:17px; color:#0033cc; text-transform:uppercase; margin:7px 38px 18px; }
h3, .h3 { font-size:18px; color:#0033cc; font-weight:normal; margin:12px 0px/* 0px 12px 0px*/; }
h4, .h4 {
	font-size:14px;
	font-weight:bold;
	text-align:center;
	margin-bottom:5px;
	}

ul, ol { list-style-position:outside; margin:5px 0px; padding:0px 0px 0px 35px; }
ul { list-style-type:disc; }
	ul li, ol li {  }

.block ul, .block ol { padding-left:15px; margin:0px; }
	.block ul li, .block ol li { margin:5px 0px; }

p { margin:15px 0px; }

.float_l { float:left; }
.float_r { float:right;text-align:right;}
.clear, .clear_l, clear_r { font-size:0px; height:0; line-height:0; clear:both; }
.clear_l { clear:left; }
.clear_r { clear:right; }
.frfr { width:40%; }
.fnfn { width:40%; }
.ff { width:50%; }
.thth { width:33%; }
.sxsx { width:60%; }

.msword { background:url('images/msword.gif') transparent 0px 3px no-repeat; padding:2px 0px 2px 20px; }
.zip { background:url('images/icon-zip.png') transparent 0px 3px no-repeat; padding:2px 0px 2px 20px; }
.legend { float:left; width:10px; height:10px; border:1px solid #e3e3e3; background:#ffffff; margin:2px 5px 5px 0px }
.green { background:#b4e828; }
.red { background:#fa832b; }
.lightred { background:#fea8a8; }
.grey { background:#e6e6e6; }
.yellow { background:#eeff61; }
.blue { background:#99ccff; }

.alignleft { text-align:left; }
.alignright { text-align:right; }
.aligncenter { text-align:center; }

.a_lf { text-align:left; }

.hidden { display:none; }

.relative { position:relative; height:0px; line-height:0; font-size:0px; }

.header {
	background:url('images/header_bg.gif') #e1e1e1 0% 0% no-repeat;
	padding:0px 0px 0px 16px;
	}
	.header .r {
		background:url('images/header_bg.gif') #e1e1e1 100% 0% no-repeat;
		padding:0px 16px 0px 0px;
		}
	.header .inner {
		background:url('images/header_bg.gif') #e1e1e1 0% -149px repeat-x;
		padding:0px;
		height:149px;
		}
	.header .ovh { overflow:hidden; width:100%; height:112px; }
	.header .logo {
		margin:14px /*0px 0px*/ 29px;
		width:241px;
		display:block;
		float:left;
		}
	.header .cntr {
		float:left;
		width:326px;
		padding:34px 34px 18px;
		text-align:center;
		font-size:18px;
		/*line-height:22px;*/
		}
	.header .rght {
		float:left;
		width:190px;
		padding:0px 17px 0px 37px;
		}
		.header .rght .contacts {
			margin-top:14px;
			}
			.header .rght .contacts span {
				color:#3366cc;
				}
		.header .rght .lang {
			text-align:right;
			}
			.header .rght .lang a {
				padding:0px 13px 4px;
				}
				.header .rght .lang .last {
					padding-right:0px;
					}
				.header .rght .lang .sel {
					background:url('images/lang_act_bg.gif') transparent 0% 0% no-repeat;
					}

.middle {
	border:1px solid #cccccc;
	border-top:none;
	margin:0px 15px;
	background:#ffffff;
	}
	.middle .bl {
		background:url('images/middle_corn_l.gif') transparent 0% 100% no-repeat;
		position:relative;
		margin:0px -1px -1px;
		}
	.middle .br {
		background:url('images/middle_corn_r.gif') transparent 100% 100% no-repeat;
		}
	.middle .inner {
		padding:10px 6px 25px 32px;
		}
	.middle .lc {
		float:left;
		width:649px;
		}
	.middle .rc {
		float:left;
		width:222px;
		margin-left:30px;
		}

.middle .inner p {
	}

.footer {
	height:26px;
	padding:7px 32px;
	color:#666666;
	font-size:10px;
	}

.menu-str {
	margin:0px -1px 0px;
	}
.top-menu {
	background:url('images/menu_stud_bg.gif') #6991fe 0% 0% repeat-x;
	}
	.top-menu .lm {
		background:url('images/menu_stud_l.gif') transparent 0% 0% no-repeat;
		}
	.top-menu .rm {
		background:url('images/menu_stud_r.gif') transparent 100% 0% no-repeat;
		height:28px;
		}
	.body .top-menu a {
		color:#ffffff;
		text-decoration:none;
		padding:5px 17px;
		display:block;
		float:left;
		font-size:14px;
		}
		.top-menu a:hover {
			text-decoration:underline;
			}
	.top-menu .sel {
		display:block;
		float:left;
		background:url('images/menu_sel_bg.gif') #cccccc 0% 0% repeat-x;
		}
		.top-menu .lb {
			height:27px;
			border-bottom:1px solid #ffffff;
			}
		.top-menu .slm {
			background:url('images/menu_sel_l.gif') transparent 0% 0% no-repeat;
			height:28px;
			}
		.top-menu .srm {
			background:url('images/menu_sel_r.gif') transparent 100% 0% no-repeat;
			height:27px;
			border-bottom:1px solid #ffffff;
			}
			.top-menu .sel a {
				color:#000000;
				text-decoration:none;
				}
		
.auth-menu {
	background-image:url('images/menu_auth_bg.gif');
	background-color:#16497b;
	}
	.auth-menu .lm {
		background-image:url('images/menu_auth_l.gif');
		}
	.auth-menu .rm {
		background-image:url('images/menu_auth_r.gif');
		}
	.auth-menu a {
		padding:5px 17px;
		}
		
.block {
	border:1px solid #e3e3e3;
	background:#ddeeff;
	}
	.block .ctl {
		background:url('images/block_ctl.gif') transparent 0% 0% no-repeat;
		/*position:relative;*/
		margin:-1px;
		}
	.block .ctr {
		background:url('images/block_ctr.gif') transparent 100% 0% no-repeat;
		}
	.block .cbl {
		background:url('images/block_cbl.gif') transparent 0% 100% no-repeat;
		}
	.block .cbr {
		background:url('images/block_cbr.gif') transparent 100% 100% no-repeat;
		}
	.block .in {
		padding:7px 13px 12px;
		}

table.rounded {
	border-collapse:collapse;
	width:100%;
	margin:0px 0px 18px;
	position:relative;
	display:block;
	}
	table.rounded td {
		border:1px solid #e3e3e3;
		padding:10px 13px;
		width:33%;
		vertical-align:top;
		}
	table.rounded td.gs {
		text-align:center;
		font-weight:bold;
		color:#666666;
		padding:10px 7px;
		}
	table.rounded tr.head td {
		background:#ddeeff;
		font-weight:bold;
		text-align:center;
		padding:7px;
		width:auto !important;
		}
	table.rounded thead td {
		padding:0px;
		height:0px;
		line-height:0;
		border:none;
		/*position:relative;*/
		}
		table.rounded thead td div.l, table.rounded thead td div.r {
			line-height:0;
			height:0px;
			/*position:relative;
			margin:0px -1px;*/
			}
		table.rounded thead td div.l div {
			position:absolute;
			top:0px;
			left:0px;
			background:url('images/block_ctl.gif') transparent 0% 0% no-repeat;
			width:6px;
			height:6px;
			}
		@media all and (min-width:0px) { body:last-child table.rounded thead td div.r div, body:last-child table.rounded tfoot td div.r div { right:-1px } }
		@-moz-document url-prefix() {
			table.rounded thead td div.l div, table.rounded tfoot td div.l div { left:-1px !important; } 
			table.rounded thead td div.r div, table.rounded tfoot td div.r div { right:0px !important; } 
		}
		table.rounded thead td div.r div {
			position:absolute;
			top:0px;
			right:0px;
			background:url('images/block_ctr.gif') transparent 100% 0% no-repeat;
			width:6px;
			height:6px;
			}
	table.rounded tfoot td {
		padding:0px;
		height:0px;
		line-height:0;
		width:auto !important;
		border:none;
		/*position:absolute;*/
		}
		table.rounded tfoot td div.l, table.rounded tfoot td div.r {
			line-height:0;
			height:0px;
			/*position:relative;
			margin:0px -1px;*/
			}
		table.rounded tfoot td div.l div {
			position:absolute;
			bottom:0px;
			left:0px;
			background:url('images/table_cbl.gif') transparent 0% 100% no-repeat;
			width:6px;
			height:6px;
			}

		table.rounded tfoot td div.r div {
			position:absolute;
			bottom:0px;
			right:0px;
			background:url('images/table_cbr.gif') transparent 100% 100% no-repeat;
			width:6px;
			height:6px;
			}

table.wa td {
	width:auto !important;
	text-align:center;
	}
	table.wa td.tit {
		text-align:left;
	}

.zayavki {
	margin:0px 40px;
	width:auto;
	display:block;
	}

.reviews {
	}
	.reviews .title { font-size:18px; color:#0033cc; text-transform:uppercase; text-align:center; margin:0px 0px 12px; }
	.reviews .item {
		margin:0px 0px 24px;
		}
		.reviews .item a, .reviews .item span {
			color:#999999;
			text-decoration:none;
			display:block;
			margin:0px 0px 3px;
			}
			.reviews .item a:hover { text-decoration:underline; }
	.reviews .last {
		margin-bottom:12px;
		}

a.add_review {
	text-decoration:none !important;
	border-bottom:1px dashed #0033cc;
	color:#0033cc;
	padding:0px 9px 0px 0px;
	background:url('images/arr_b.gif') transparent 100% 7px no-repeat;
	}
	a.add_review:hover {
		border-bottom:none;
		}
.add {
	float:left;
	padding:7px 5px 7px 28px;
	background:url('images/add_work.gif') transparent 0px 7px no-repeat;
	}
	
form {
	margin:10px 0px;
	padding:0px;
	}
	.block form {
		margin:20px 0px 0px;
		}
	form .pd {
		margin:5px 0px;
		}
	form input.inputtext, form textarea {
		border:1px solid #cccccc;
		width:178px;
		background:#ffffff;
		font-size:12px;
		font-family:Arial;
		color:#999999;
		padding:3px 6px;
		margin:0px 0px 5px;
		float:left;
		}
	form input.file {
		margin:0px 0px 5px;
		}
	form input.wide {
		width:255px !important;
		}
	form input.datepicker {
		background:url('images/calendar.gif') #ffffff 99.5% 1px no-repeat;
		}
	form .b {
		color:#000000 !important;
		}
	form textarea {
		height:80px;
		}
	form textarea.big {
		height:140px;
		width:370px;
		}
	form select {
		margin:0px 0px 5px;
		float:left;
		}
	form select.wide {
		min-width:269px;
		}
	form .radio {
		float:left;
		margin-top:1px;
		}
	form .check {
		float:left;
		margin-top:-2px;
		}
	form .captcha {
		margin-top:10px;
		}
	form .rules {
		margin:10px 0px;
		}
	form .field_descr {
		margin-left:200px;
		padding-top:3px;
		}
	form .wide_field_descr {
		margin-left:275px;
		padding-top:3px;
		}
	form div.big {
		margin-left:390px;
		}
	form br {
		clear:both;
		}
	form div br {
		clear:none;
		}
	form #register-field-UF_SPHERE { margin:7px 0px; }
	
	form input.wideinputtext, form textarea.widetextarea {
		border:1px solid #cccccc;
		width:400px;
		background:#ffffff;
		font-size:12px;
		font-family:Arial;
		color:#000000;
		padding:3px 6px;
		margin:0px;
		}
	form textarea.widetextarea {
		height:250px;
		width:500px;
		}
	form select.wideselect {
		min-width:414px;
		}

.col31, .col32, .col33 {
	float:left;
	width:290px;
	margin:0px 0px 0px 15px;
	}
.col31 { margin-left:0px; }

.col2_container {
	width:503px;
	margin:auto;
	text-align:center;
	}
	.col2_container .col21, .col2_container .col22 {
		float:left;
		width:242px;
		margin:0px 4px;
		}
.reg_col {
	margin-left:320px;
	}

.work-detail {
	width:635px;
	margin:auto;
	}
	.work-detail table.rounded tr.head td {
		font-weight:normal;
		}
	.work-detail table.rounded td {
		width:auto !important;
		text-align:center;
		}
		
	.work-detail table.rounded td.f {
		width:33% !important;
		padding:10px 34px;
		text-align:left;
		}
		
.tabs {
	}
	.body .tabs .tab {
		border:1px solid #e3e3e3;
		border-bottom:none;
		background:#ddeeff;
		display:block;
		float:left;
		text-decoration:none;
		color:#000000;
		margin:0px 1px 0px 0px;
		text-align:center;
		width:295px;
		cursor:hand;
		}
		.tabs .tab .sr {
			background:url('images/block_ctl.gif') transparent 0% 0% no-repeat;
			margin:-1px -1px 0px;
		cursor:hand;
			}
		.tabs .tab .inr {
			background:url('images/block_ctr.gif') transparent 100% 0% no-repeat;
			padding:3px 30px;
			height:30px;
		cursor:hand;
			}
			
	.body .tabs .r {
		float:right;
		margin:0px 0px 0px 40px;
		background:#9acafb;
		}
		.body .tabs .r .sr {
			background-image:url('images/block2_ctl.gif');
			}
		.body .tabs .r .inr {
			background-image:url('images/block2_ctr.gif');
			}
	.body .middle .tabs .selected {
		/*border-bottom-color:#ddeeff;*/
		margin-bottom:-1px !important;
		}
		.body .tabs .selected .inr {
			height:31px !important;
			}
.tabs-detail {
	border:1px solid #e3e3e3;
	}
	.tabs-detail .tab {
		background:#ddeeff;
		padding:17px 32px;
		}
	.tabs-detail .r {
		background:#9acafb;
		padding:17px 32px;
		}

.my-works-list {
	margin:20px 27px;
	padding:15px 0px;
	border-top:3px solid #cccccc;
	}
	.my-works-list .head {
		padding:0px 0px 37px;
		}
		.my-works-list .head .title {
			font-weight:bold;
			float:left;
			width:200px;
			padding:2px 10px 0px 0px;
			}
		.my-works-list .head .selector {
			float:left;
			width:88px;
			padding:2px 5px 0px 0px;
			}
	/*.my-works-list */.note {
		color:#999999;
		font-size:11px;
		}
	.my-works-list .item {
		padding:5px 0px 4px;
		}
		.my-works-list .item .number {
			float:left;
			width:18px;
			padding-right:4px;
			}
		.my-works-list .item .title {
			float:left;
			width:230px;
			padding-right:5px;
			}
		.my-works-list .item .edit {
			display:block;
			float:left;
			width:100px;
			padding:0px 6px 7px 24px;
			background:url('images/works_edit.gif') transparent 0px 3px no-repeat;
			}
		.my-works-list .item .delete {
			display:block;
			float:left;
			width:45px;
			padding:0px 5px 7px 20px;
			background:url('images/works_delete.gif') transparent 0px 3px no-repeat;
			}

.my-work-add {
	padding:0px 28px;
	}
	.my-work-add .fields_col {
		float:left;
		width:260px;
		padding:0px 20px 0px 0px;
		}
	.my-work-add .fields_col2 {
		float:left;
		width:440px;
		}
	.my-work-add .list1 {
		float:left;
		width:400px;
		padding:2px 10px 15px 0px;
		}
	.my-work-add .descr {
		padding:0px;
		font-size:11px;
		color:#999999;
		}

.notetext { color:green; }
.alert{ color:red; }
.a_big { font-weight:bold; font-size:110%;}

div.referal-order { color:#ff0000; text-align:center; font-weight:bold; }
span.hint { background:url('images/question_blue.png') transparent 50% 50% no-repeat; padding:7px; line-height:14px; cursor:pointer; }