div.news-list img.preview_picture
{
	float:left;
	margin:0 4px 6px 0;
}
.news-date-time {
	color:#486DAA;
}

.table_box tbody .am10 td {
    background: #DC9855;
}
.table_box tbody .am11 td {
    background: #ffffff;
}
.table_box tbody .am12 td {
    background: #D1E0A6;
}
.table_box tbody .am13 td {
    background: #F79885;
}
.table_box tbody .am14 td {
    background: #D8D9DE;
}