/*.body .inner {
	height:expression(this.offsetHeight<91?"91px":"auto");
	}*/
.bottom_bg, .middle .br { min-height:0; }
.menu-str { min-height:0; position:relative; }

table.rounded thead td div.l div { top:1px; left:0px; }
table.rounded thead td div.r div { top:1px; right:0px; }
table.rounded tfoot td div.l div { bottom:0px; left:0px; }
table.rounded tfoot td div.r div { bottom:0px; right:0px; }

.tabs .tab .sr { /*zoom:1;*/ position:relative; min-height:0; }