.niceCheck {
	vertical-align: middle;
	width: 24px;
	height: 24px;
	background: url(../../images/check.png) no-repeat;
	cursor: pointer;
	display: inline-block;
	margin-right: 10px;
}
.niceCheck input {
	display: none;
}
.niceCheck.checked {
	background: url(../../images/check_h.png) no-repeat;
}
.niceCheck.disabled {
}
.niceCheck.checked.disabled {
	background: url(../../images/check.png) no-repeat;
}
.niceCheck.focused {
	background: url(../../images/check.png) no-repeat;
}
.niceCheck.checked.focused {
	background: url(../../images/check.png) no-repeat;
}