/* font-face */
@font-face {
  font-family: 'Glyphicons Halflings';

  src: url('../fonts/glyphicons-halflings-regular.eot');
  src: url('../fonts/glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), url('../fonts/glyphicons-halflings-regular.woff') format('woff'), url('../fonts/glyphicons-halflings-regular.ttf') format('truetype'), url('../fonts/glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face{
    font-family: 'Roboto';
    font-weight: 400;
    src: url('../fonts/Roboto-Regular.woff') format('woff');
}

@font-face{
    font-family: 'Roboto';
    font-weight: 500;
    src: url('../fonts/Roboto-Medium.woff') format('woff');
}

@font-face{
    font-family: 'Roboto';
    font-weight: 600;
    src: url('../fonts/Roboto-Bold.woff') format('woff');
}
/* end font-face */

/* animations */
@keyframes blinking{
    0%{
        background-color: #fff;
    }
    
    50%{
        background-color: #ffc107
    }
    
    100%{
        background-color: #fff;
    }
}

@keyframes blinking_red{
    0%{
        background-color: #fff;
    }
    50%{
        background-color: #f44336;
    }
    100%{
        background-color: #fff;
    }
}
/* end animations */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*:focus{
    outline: none;
}

img{
    max-width: 100%;
    border: 0;
}

.contentDiv{
    padding: 0px 24px 24px 24px;
}

.noborder{
    border:0!important;
}

.contentDiv > div{
    position: relative;
}

.contentDiv:not(.noborder) > div{
    border-top: 1px solid #B6B6B6;
}

.contentDiv:not(.noborder) > div:not(.formDiv){
    padding-top: 30px;
}

/* common */
html, body{
    height: 100%;
}

body{
    background: #5e5e5e;
    font-family: "Roboto", Arial;
    font-weight: 400;
    font-size: 13px;
    line-height: 1.35;
}

.wrapper{
    position: relative;
    margin: 0 auto;
    background: #F3EFEE;
    padding-top: 88px;
    padding-left: 264px;
    padding-right: 24px;
    padding-bottom: 100px;
    overflow: hidden;
    min-height: 100%;
}

h1{
    font-weight: 400;
    font-size: 1.7em;
    margin-top: 0;
    margin-bottom: 30px;
}

.underline{
    text-decoration: underline;
}

.text-left{
    text-align: left!important;
}

.nowrap{
    white-space:nowrap;
}

@media screen and (min-width:1054px){
    .wrapper{
        width: 1024px;
    }
}

@media screen and (max-width:1054px){
    body{
        font-size: 14px;
    }
    
    h1{
    }
    
    .wrapper{
        padding-left: 224px;
    }
}

@media screen and (max-width:768px){
    .wrapper{
        padding-left: 0px;
        padding-right: 0;
        padding-top: 88px;
    }
    
    body.overlay{
        position: relative;
    }
    
    body.overlay:after{
        content: "";
        position: fixed;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.7);
        z-index: 15;
    }
}

@media screen and (max-width:480px){
    h1{
        font-size: 1.4em;
    }
}
/* end common */

/* icons */
*[class*="mgIcon_"]{
    position: relative;
}

*[class*="mgIcon_"]:before{
    background-image: url(../images/icons.png);
    content: "";
    position: absolute;
}

.mg_small:before{
    width: 24px;
    height: 24px;
}

.mg_normal:before{
    width: 32px;
    height: 32px;
}

.mg_big:before{
    width: 48px;
    height: 48px;
}

    .mgIcon_remind:before{
        background-position: -96px 0;
    }

    .mgIcon_remind:hover:before{
        background-position: -120px 0;
    }

    .mgIcon_activeTask:before{
        background-position: -192px 0;
    }

    .mgIcon_activeTask:hover:before{
        background-position: -216px 0;
    }

    .mgIcon_profile:before{
        background-position: -600px 0;
    }
    .mgIcon_profile:hover:before{
        background-position: -624px 0;
    }
    .mgIcon_exit:before{
        background-position: -648px 0;
    }
    .mgIcon_exit:hover:before{
        background-position: -672px 0;
    }
    .mgIcon_myWorks:before{
        background-position: -352px -24px;
    }
    .mgIcon_myWorks:hover:before, .mgIcon_myWorks.active:before{
        background-position: -384px -24px;
    }
    .mgIcon_addWork:before{
        background-position: -544px -24px;
    }
    .mgIcon_addWork:hover:before, .mgIcon_addWork.active:before{
        background-position: -576px -24px;
    }
    .mgIcon_requests:before{
        background-position: 0px -24px;
    }
    .mgIcon_requests:hover:before, .mgIcon_requests.active:before{
        background-position: -32px -24px;
    }
    .mgIcon_requestList:before{
        background-position: -608px -24px;
    }
    .mgIcon_requestList:hover:before, .mgIcon_requestList.active:before{
        background-position: -640px -24px;
    }
    .mgIcon_pinned:before{
        background-position: -480px -24px;
    }
    .mgIcon_pinned:hover:before, .mgIcon_pinned.active:before{
        background-position: -512px -24px;
    }
    .mgIcon_done:before{
        background-position: -672px -24px;
    }
    .mgIcon_done:hover:before, .mgIcon_done.active:before{
        background-position: -704px -24px;
    }
    .mgIcon_edit:before{
        background-position: -504px 0;
    }
    .mgIcon_edit:hover:before, .mgIcon_edit:focus:before{
        background-position: -336px 0;
    }
    .mgIcon_delete:before{
        background-position: -480px 0;
    }
    .mgIcon_delete:hover:before, .mgIcon_delete:focus:before{
        background-position: -456px 0;
    }

    .mgIcon_note:before{
        background-position: -792px 0;
    }
    .mgIcon_note:hover:before{
        background-position: -816px 0;
    }
    
    .mgIcon_workType:before{
        background-position: -736px -24px;
    }

    .mgIcon_discipline:before{
        background-position: -160px -24px;
    }

    .mgIcon_university:before{
        background-position: -128px  -24px;
    }

    .mgIcon_period:before{
        background-position: -576px  0px;
    }

    .mgIcon_pages:before{
        background-position: -960px  0px;
    }

    .mgIcon_lang:before{
        background-position: -936px  0px;
    }

    .mgIcon_download:before{
        background-position: -408px 0px;
    }

    .mgIcon_myPrice:before{
        background-position: -1152px -56px;
    }
    
    .mgIcon_backlink:before{
        background-position: -312px 0;
    }

    .mgIcon_lookTask:before{
        background-position: -1656px 0;
    }
    
    .mgIcon_originality:before{
        background-position: 0px  -200px;
    }
    
    @media screen and (max-width:767px){
        .mgIcon_myWorks:before{
            background-position: -352px -24px;
        }
        
        .mgIcon_myWorks.active:before{
            background-position: -384px -24px;
        }
        
        .mgIcon_addWork:before{
            background-position: -544px -24px;
        }
        .mgIcon_addWork.active:before{
            background-position: -576px -24px;
        }
        .mgIcon_requests:before{
            background-position: 0px -24px;
        }
        .mgIcon_requests.active:before{
            background-position: -32px -24px;
        }
        .mgIcon_requestList:before{
            background-position: -608px -24px;
        }
        .mgIcon_requestList.active:before{
            background-position: -640px -24px;
        }
        .mgIcon_pinned:before{
            background-position: -480px -24px;
        }
        .mgIcon_pinned.active:before{
            background-position: -512px -24px;
        }
        .mgIcon_done:before{
            background-position: -672px -24px;
        }
        .mgIcon_done.active:before{
            background-position: -704px -24px;
        }
    }
/* end icons */

/* buttons */
.btn2{
    display: inline-block;
    border: 0;
    border-radius: 3px;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
    height: 36px;
    line-height: 36px;
    padding: 0 15px;
    box-shadow: 0px 3px 2px rgba(0,0,0,.2);
    margin: 0 2px;
    cursor: pointer;
}

.btn2:hover, .btn2:focus{
    background-color: #5D4038;
}

.btn2.bg-transparent{
    background: none;
    box-shadow: none;
    color: #727272;
}
@media screen and (max-width:480px){
    .btn2{
        font-size:.85em;
    }
}
/* end buttons */

/* bg */
.bg-orange{
    background-color: #FFC107;
}
/* end bg */

/* topbar */
.topbar{
    height: 64px;
    background: #5D4038;
    position: fixed;
    top: 0;
    left: 0;
    box-shadow: 0px 2px 5px rgba(0,0,0,.1);
    z-index: 105;
}

.logoWrapper{
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 240px;
    background: #FFD741;
    text-align: center;
}

.logo{
    display: inline-block;
    width: 69px;
    height: 64px;
    padding-top: 7px;
}

.topmenu{
    position: absolute;
    height: 64px;
    top: 0;
    right: 15px;
}

.topmenu a{
    height: 64px;
    float: left;
    padding: 40px 15px 0 15px;
    position: relative;
    text-decoration: none;
    color: #d7ccc8;
    font-size: .85em;
}

.topmenu a:before{
    left: 50%;
    margin-left: -12px;
    top: 16px;
}

.topmenu a:hover{
    color: #fff; 
}

.topmenu .counter{
    position: absolute;
    width: 18px;
    height: 18px;
    border-radius: 18px;
    background-color: #d7ccc8;
    text-align: center;
    line-height: 18px;
    color: #5D4037;
    font-size: 10px;
    top: 8px;
    left: 50%;
    margin-left: 14px;
}

.topmenu a.mgIcon_remind .counter{
    background-color: #ffc107;
    color: #000;
    animation: blinking 1s linear infinite;
}

.topmenu a:hover .counter{
    background: #fff;
}

@media screen and (min-width:1054px){
    .topbar{
        width: 1024px;
        left: 50%;
        margin-left: -512px; 
    }
}

@media screen and (max-width: 1054px){
    .topbar{
        width: 100%;
    }
    
    .logoWrapper{
        width: 200px;
    }
}

@media screen and (min-width:768px){
    #hamburger{
        display: none;
    }
}

@media screen and (max-width:768px){
    .logoWrapper{
        width: 160px;
    }
    
    .logo{
        margin-left: 64px;
        padding-top: 14px;
    }
    
    .logo, .logo img{
        width: 52px;
    }
    
    #hamburger{
        display: block;
        position: absolute;
        float: left;
        width: 36px;
        height: 36px;
        left: 12px;
        top: 14px;
        cursor: pointer;
    }
    
    #hamburger.active{
        background: url(../images/icons.png) -6px -62px no-repeat;
    }
    
    #hamburger.active span{
        display: none;
    }
    
    #hamburger:not(.active){
        padding: 6px;
    }
    
    /*
    #hamburger:not(.active):hover{
        background: #5d4037;
    }
    
    #hamburger:not(.active):hover span{
        background: #fff;
    }
    */
    #hamburger:not(.active) span{
        height: 3px;
        background: #5d4037;
        display: block;
        width: 24px;
        float: left;
    }
    
    #hamburger:not(.active) span:not(:first-child){
        margin-top: 6px;
    }
    
    .topmenu a{
        font-size:0.1px;
        text-indent:-9999px;
        width: 50px;
    }
    
    .topmenu span{
        font-size: 11px;
        text-indent: 0;
    }
    
    .topmenu a:before{
        top: 20px;
    }
    
    .topmenu .counter{
        margin-left: 5px;
    }
}

@media screen and (min-width:480px){
    #hamburger2{
        display: none;
    }
    
    .topmenu{
        right: 15px!important;
    }
}

@media screen and (max-width:480px){
    .topmenu{
        top: 100%;
        width: 100%;
        right: 0;
        background: #5D4038;
        margin-top: 1px;
        height: auto;
        padding-bottom: 8px;
        right: -101%;
        transition: right .3s ease-in-out;
    }
    
    .topmenu.active{
        right: 0;
    }
    
    .topmenu a{
        float: none;
        display: block;
        width: 100%;
        font-size: 1em;
        text-indent: 0;
        min-height: 48px;
        line-height: 1;
        padding: 26px 10px 3px 48px;
        height: auto;
    }
    
    .topmenu a:before{
        left: 8px;
        margin-left: 0;
    }
    
    .topmenu .counter{
        left: 24px;
        margin-left: 0;
    }
    
    #hamburger2{
        width: 32px;
        height: 32px;
        position: absolute;
        right: 12px;
        top: 16px;
        text-align: center;
        display: block;
        transition: all .3s ease-in-out;
        cursor: pointer;
    }
    
    #hamburger2 span{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 7px;
        height: 7px;
        border-radius: 7px;
        background: #FFC107;
    }
    
    #hamburger2.notification span{
        animation: blinking 1s linear infinite;
    }
    
    #hamburger2.active{
        transform: rotate(90deg);
    }
    
    #hamburger2.active span{
    
    }
    
    #hamburger2 span:not(:first-child){
        margin-top: 5px;
    }
}
/* end topbar */

/* sidebar */
.sidebar{
    position: fixed;
    top: 64px;
    bottom: 0;
    background: #fff;
    box-shadow: 2px 0px 5px rgba(0,0,0,.1);
    z-index: 102;
    width: 240px;
    padding-top: 32px;
}

.sidebar h6{
    margin-top: 0;
    margin-bottom: 15px;
    font-weight: 400;
    color: #727272;
    font-size: .85em;
    padding: 0 15px;
}

.sidebar a{
    display: block;
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
    font-size: .85em;
    height: 48px;
    padding-left: 70px;
    line-height: 48px;
}

.sidebar a.active, .sidebar a:hover{
    background: #795548;
    color: #fff;
}

.sidebar a:before{
    left: 15px;
    top: 50%;
    margin-top: -16px;
}
    
.sidebar .menuGroup:not(:first-child){
    margin-top: 25px;
    padding-top: 25px;
    position: relative;
}
    
.sidebar .menuGroup:not(:first-child):before{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 0;
    height: 1px;
    content: "";
    background: #b6b6b6;
}

@media screen and (max-width:1054px){
    .sidebar{
        left: 0;
        width: 200px;
    }
    
    .sidebar a{
        padding-left: 60px;
    }
}


@media screen and (min-width:769px){
    .sidebar{
        left: 0px!important;
    }
}

@media screen and (min-width:1054px){
    .sidebar{
        left: 50%!important;
        margin-left: -512px;
    }    
}


@media screen and (max-width:767px) and (max-height: 500px){
    .sidebar{
        position: absolute;
    }
}

@media screen and (max-width:769px){
    .sidebar{
        left: -240px;
        transition: left .3s ease-out;
    }
    
    .sidebar.active{
        left: 0;
    }
    
    .sidebar a{
        height: 32px;
        line-height: 32px;
    }
    
    .sidebar a:before{
    }
}

/* end sidebar */

/* content */
.contentWrapper{
}

.contentInner{
}

.contentHeader{
    padding: 24px;
    position: relative;
}

.contentHeader:after{
    clear: both;
    display: block;
    content: "";
}

.contentHeader h1{
    padding-top: 5px;
    margin-bottom: 0;
}

.headerToolbar{
    position: absolute;
    float: right;
    width: 250px;
    right: 24px;
    top: 24px;
    text-align: right;
    z-index: 3;
}

.headerToolbar + h1{
    float: left;
    width: 100%;
    padding-right: 248px;
}

.content{
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.1);
}

.content table{
    border: 0;
    border-spacing: 0;
}

.content table, .content tbody{
    width: 100%;
}

.content th{
    border-bottom: 2px solid #b6b6b6;
    text-transform: uppercase;
    font-weight: 500;
    color: #727272;
    font-size: .92em;
    white-space: nowrap;
}

.content td{
    vertical-align: top;
    border-collapse: collapse;    
}

.content td:last-child:not(.text-left), .content th:last-child:not(.text-left){
    text-align: right!important;
}

.content td, .content th{
    text-align: left;
    padding: 12px 12px;
}

.content th:not(.id_col){
    min-width: 80px;
}

.content tr:not(:last-child) td{
    border-bottom: 1px solid #b6b6b6;
}

.content .id_col{
    width: 30px;
    text-align: center;
    padding: 12px;
}

.tdDiv{
    position: relative;
}

.itemToolbar{
    position: absolute;
    top: 0px;
    right: 0px;
    width: 80px;
}

.itemToolbar a{
    float: left;
    display: block;
    width: 24px;
    height: 24px;
    vertical-align: top;
}

.itemToolbar a:not(:first-child){
    margin-left: 30px;
}

.itemToolbar + .itemShortInfo{
    padding-right: 110px;
}

.itemShortInfo a{
    color: #000;
    text-decoration: underline;
}

.itemShortInfo a:hover, .itemShortInfo a:focus{
    text-decoration: underline;
    color: #1c6cbf;
}

.itemShortInfo p{
    color: #727272;
    font-size: .85em;
    padding-top: 7px;
}

table.trHover tr > th:first-child{
    padding-left: 17px;
}

table.trHover tr > td:first-child{
    border-left: 5px solid transparent;
}

table.trHover tr:hover > td:first-child{
    border-left-color: #ffc107;
}

table td a{
    color: #000;
}
table td a:hover{
    text-decoration: none;
}

span.mgIcon_note{
    display: inline-block;
    width: 24px;
    height: 24px;
    cursor: pointer;
}

.note_text{
    display: none;
}

@media screen and (max-width: 480px){
    .contentHeader{
        display: flex;
        flex-direction: column-reverse;
        padding: 12px 12px 24px 12px;
        
        margin-bottom: 15px;
    }
    
    .contentHeader.reverse{
        flex-direction: column;
    }
        
    .contentDiv{
        padding: 0px 12px 24px 12px;
    }
    
    .headerToolbar + h1, .headerToolbar{
        padding: 0;
        position: static;
        float: none;
        width: auto;
    }
    
    .contentHeader.reverse h1{
        margin-bottom: 15px!important;
    }
    
    .headerToolbar{
        text-align: left;
        padding-top: 15px;
    }

    .thead{
        display: none;
    }
    
    .content th{
        display: none;
    }
    
    .content tr:not(.thead){
        display: block;
    }
    
    .content tr{
        padding-top: 15px;
        border-top: 1px solid rgba(0,0,0,.38);
        margin-bottom: 15px;
    }
    
    .content tr:after{
        clear: both;
        display: block;
        content: "";
    }
    
    .content td{
        display: block;
        width: 100%!important;
        padding: 8px 12px!important;
        border: 0!important;
        position: relative;
        text-align: left!important;
    }
    
    .content td:empty, .content td.empty{
        display: none!important;
    }
    
    .content td:before{
        font-weight: 600;
        left: 5px;
        top: 0px;
        text-align: left;
        content: attr(title);
        
        display: block;
        width: 100%;
    }
    
    .content td.id_col:before{
        display: inline-block;
        width: auto;
    }
    
    .tdDiv{
        display: flex;
        flex-direction: column-reverse;
    }
    
    .itemShortInfo{
        padding-right: 5px!important;
    }
    
    .itemToolbar{
        position: static;
        width: auto;
        padding-top: 10px;
    }
    
    .itemToolbar a:not(:first-child){
        margin-left: 15px;
    }

    .content td:last-child:not(.text-left){
        text-align: left!important;
    }
    
    .content table.withCheckbox tr:not(.thead){
        padding-left: 48px;
        position: relative;
    }
    
    .td_checkbox{
        position: absolute!important;
        left: 0;
        top: 17px;
    }
}
/* end content */

/* pagination */
.mg_pagination{
    text-align:center;
    padding: 20px 20px 0px 20px;
}

.mg_pagination > a, .mg_pagination > span{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #b6b6b6;
    height: 40px;
    line-height: 40px;
    background: #fff;
    padding: 0 10px;
    margin: 0 -3px;
    text-decoration: none;
    font-size: 1em;
    text-align: center;
    min-width: 40px;
}

.mg_pagination > a{
    color: #212121;
}

.mg_pagination > a:hover{
    background: #ffc107;
    border-color: #ffc107;
}

.mg_pagination > span{
    color: rgba(0,0,0,.38);
}

.mg_pagination > *:first-child{
    border-radius: 4px 0 0 4px;
}

.mg_pagination > *:last-child{
    border-radius: 0px 4px 4px 0px;
}

@media screen and (max-width:1054px){
    .mg_pagination > a, .mg_pagination > span{
        height: 32px;
        line-height: 32px;
        min-width: 32px;
        padding: 0 4px;
        font-size: .85em;
    }
}

@media screen and (max-width:767px){
    .mg_pagination > a, .mg_pagination > span{
        height: auto;
        line-height: 1;
        min-width: 0px;
        padding: 4px;
        font-size: .85em;
        background: none;
        border: 0;
        margin: 0;
    }
}

/* end pagination */

/* footer */
.footer{
    background: #5d4037;
    height: 70px;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    line-height: 70px;
    padding-left: 272px;
}

.footer a{
    color: #d7ccc8;
    text-decoration: underline;
    font-size: .85em;
}

.footer a:not(:first-child){
    margin-left: 15px;
}

.footer a:hover{
    text-decoration: none;
}

@media screen and (max-width:1054px){
    .footer{
        padding-left: 232px;
    }
    
    .footer a{
    }
}

@media screen and (max-width:767px){
    .footer{
        padding-left: 12px;
    }
}

/* end footer */

/* form */
.formField{
    position: relative;
}

input{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 1em;
}

input[type=submit]{
    cursor:pointer;
    -webkit-appearance: none;
}

.selectSpan{
    display: block;
    z-index: 0;
    position: relative;
    padding-left: 0px;
}

.selectSpan.default{
    color: rgba(0,0,0,.58);
}

.selectSpan:after{
    content: "";
    border: 5px solid transparent;
    border-top-color: #b6b6b6;
    position: absolute;
    right: 0;
    top: 50%;
    margin-top: -5px;
}

.formField > input[type=text], .formField > input[type=password], .selectSpan{
    border: 0;
    border-bottom: 1px solid #B6B6B6;
    padding-bottom: 4px;
    width: 90%;
    max-width: 300px;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: .9em;
    height: 32px;
    padding-top: 5px;
}

.formField > input[type=text]:focus, .formField > input[type=password]:focus{
    padding-bottom: 3px;
    border-bottom: 2px solid #FFC107;
}

.formField textarea{
    border: 0;
    padding: 15px;
    background: #f2efee;
    width: 100%;
    /*max-width: 300px;*/
    font-family: 'Roboto';
    font-weight: 400;
    color: #727272;
    font-size: .9em;
    height: 160px;
}

.formField textarea:focus{
    border-bottom: 2px solid #FFC107;
}

.submitForm{
    border-top: 1px solid #FFC107;
    margin-top: 60px;
    padding-top: 15px;
    text-align: center;
}

.submitForm.noborder{
    margin-top: 30px;
}

.has-error > input[type=text], .has-error > input[type=password], .has-error > textarea, .has-error  > .selectSpan{
    border-bottom: 2px solid #e91e63;
    /*box-shadow:0px 0px 5px red;*/
    padding-bottom: 3px;
}

.formRow:not(:first-child){
    margin-top: 20px;
}

.fieldLabel{
    text-transform: uppercase;
    font-weight: 500;
    color: #b6b6b6;
    font-size: .85em;
    margin-bottom: 4px;
}

select{
    width: 90%;
    max-width: 300px;
    height: 32px;
    opacity: 0;
    position: absolute;
    z-index: 3;
    top: 0;
    left: 0;
    cursor: pointer;
}

select option{
    padding: 4px;
}
/* end form */

/* my profile */
.my_profile{
}

.formDiv{
    padding-top: 7px;
}

.formNote{
    text-transform: uppercase;
    font-size: .85em;
    color: #727272;
}

.formRow{
    position: relative;
}

.formDiv form{
    margin-top: 30px;
}

.my_profile .formRow{
    padding-left: 132px;
    min-height:48px;
}

.my_profile .formRow:before{
    width: 48px;
    height: 48px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    display: block;
    left: 52px;
    top: 0;
    z-index: 101;
    content: "";
    position: absolute;
}

.my_profile .formRow.noBg:before{
    display: none!important;
}

.field_user_name:before{
    background-position: -528px -56px;
}

.field_user_name.focus:before{
    background-position: -480px -56px;
}

.field_email:before{
    background-position: -816px -56px;
}

.field_email.focus:before{
    background-position: -768px -56px;
}

.field_phone{
    max-width: 432px;
}

.field_phone input[type=text]{
    width: 100%!important;
    max-width: 300px;
}

.field_phone:before{
    background-position: -432px -56px;
}

.field_phone.focus:not(.optionalVisible):before{
    background-position: -384px -56px;
}

    .field_phone .optionalPhone{
        margin-top: 30px;
        display: none;
    }
    
    .field_phone .optionalPhone input[type=text]{
    }
    
    .field_phone .optionalPhone .fieldLabel{
        margin-bottom: 0!important;
        padding-bottom: 0;
    }

.field_bday:before{
    background-position: -1104px -56px;
}

.field_bday.focus:before{
    background-position: -1056px -56px;
}

    .field_bday input.goCalendar{
        width: 140px!important;
    }
    
.field_location:before{
    background-position: -624px -56px;
}

.field_location.focus:before{
    background-position: -576px -56px;
}

.field_about_us:before{
    background-position: -720px -56px;
}

.field_about_us.focus:before{
    background-position: -672px -56px;
}

.field_card_number:before{
    background-position: -1008px -56px;
}

.field_card_number.focus:before{
    background-position: -960px -56px;
}

.field_card_number .formField_group{
    padding: 15px;
    background: #F2EFEE;
    border: 1px solid #d7ccc8;
    border-radius: 8px;
    width: 80%;
    max-width: 354px;
}

.card_number:after{
    clear: both;
    display: block;
    content: '';
}

.card_number input{
    width: 70px;
    text-align: center;
}

.card_number span{
    padding: 0 4px;
}

.card_number *{
    float: left;
    height: 26px;
    line-height: 26px;
}

.card_holder{
    padding-top: 20px;
}

.card_holder input{
    width: 100%;
    height: 26px;
    line-height: 26px;
    padding: 0 10px;
}

.field_card_number input{
    border: 1px solid #d7ccc8;
}

.field_card_number input:focus{
    border-color: #FFC107;
}

.field_type_work:before{
    background-position: -1200px -56px;
}

.field_type_work.focus:before{
    background-position: -240px -56px;
}

.field_select_disciplines:before{
    background-position: -912px -56px;
}

.field_select_disciplines.focus:before{
    background-position: -864px -56px;
}

.field_send_mailing:before{
    background-position: -336px -56px;
}

.field_send_mailing.focus:before{
    background-position: -288px -56px;
}

.formField_tags input[type=checkbox]{
    display: none;
}

.formField_tags label{
    display: inline-block;
    vertical-align: top;
    color: #212121;
    font-weight: 500;
    cursor: pointer;
    margin-bottom: 4px;
    font-size: 1em;
}

.formField_tags label span{
    display: inline-block;
    padding: 3px;
}

.formField_tags input[checked=checked] + span, .formField_tags input:checked + span{
    background: #ffc107;
    border-radius: 3px;
}

.field_send_mailing{
    padding-top: 15px;    
}

.field_send_mailing .fieldLabel{
    display: inline-block;
}

.field_send_mailing .formField_confirm{
    display: inline-block;
    float: right;
}

.field_send_mailing .formField_confirm label{
    padding: 0px 45px;
    width: 150px;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.field_send_mailing .formField_confirm .confirm_no{
    position: absolute;
    left: 0;
    top: 0;
    color: #b6b6b6;
}

.field_send_mailing .formField_confirm .confirm_yes{
    position: absolute;
    right: 0;
    top: 0;
}

.fieldRemark{
    font-size: .85em;
    color: #b6b6b6;
    padding-top: 2px;
}

.mgIcon_plus:before{
    background-position: -888px 0px;
}

.mgIcon_plus:hover:before, .mgIcon_plus.active:before{
    background-position: -912px 0px;
}

.mgIcon_del:before{
    background-position: -744px 0px;
}

.field_phone .formField{
    position: relative;
}

.field_phone .mgIcon_plus, .field_phone .mgIcon_del{
    top: 2px;
    right: 0;
    position: absolute;
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-left: -24px;
    cursor: pointer;
}

.field_phone.optionalVisible .mgIcon_plus{
    display: none;
}

.switchbar{
    display: inline-block;
    height: 15px;
    background: #b6b6b6;
    width: 60px;
    border-radius: 15px;
    position: relative;
    cursor: pointer;
}

.switchbar:before{
    width: 25px;
    height: 25px;
    border-radius: 25px;
    left: -5px;
    top: -5px;
    background: #d5d5d5;
    cursor: pointer;
    transition: all .3s linear;
    box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    content: "";
    position: absolute;
}

.confirm input:checked + span.switchbar{
    background: #fadd6f;
    transition: all .3s linear;
}

.confirm input:checked + span.switchbar:before{
    left: 100%;
    margin-left: -20px;
    background: #ffc107;
}

.confirm input[type=checkbox]{
    position: absolute;
    left: -9999px;
}

@media screen and (max-width: 767px){
    .field_send_mailing{
        padding-top: 0;
    }
    .field_send_mailing .formField_confirm{
        display: block;
        float: none;
        margin-top: 15px;
    }
}

@media screen and (max-width: 480px){
    .my_profile{
        padding: 0 12px 12px 12px;
    }
    
    .my_profile .formRow{
        padding-left: 0px;
    }
    
    .my_profile .formRow:before{
        left: 0;
        width: 24px;
        height: 24px;
    }
    
    .my_profile .field_user_name:before, .my_profile .field_email:before, .my_profile .field_phone:before, .my_profile .field_bday:before, .my_profile .field_location:before{
        top: 23px;
    }
    
    .field_about_us .fieldLabel, .field_card_number .fieldLabel, .field_type_work .fieldLabel, .field_select_disciplines .fieldLabel, .field_send_mailing .fieldLabel{
        padding-left: 32px;
        margin-bottom: 8px;
        padding-top: 5px;
    }
    
    .my_profile textarea{
        padding: 5px;
        width: 100%;
    }
    
    .selectSpan, select{
        width: 100%;
    }
    
    .my_profile .formField > input[type=text]{
        width: 100%;
        padding-left: 32px;
    }
    
    .field_card_number .formField_group{
        width: 100%;
    }
    
    .card_number input{
        width: 55px;
    }
    
    .field_user_name:before{
        background-position: -1104px 0;
    }
    
    .field_user_name.focus:before{
        background-position: -1128px 0;
    }
    
    .field_email:before{
        background-position: -1008px 0;
    }
    
    .field_email.focus:before{
        background-position: -1032px 0;
    }
    
    .field_phone:before{
        background-position: -1056px 0;
    }
    
    .field_phone.focus:not(.optionalVisible):before{
        background-position: -1080px 0;
    }
    
    .field_bday:before{
        background-position: -1392px 0;
    }
    
    .field_bday.focus:before{
        background-position: -1416px -1px;
    }
    
    .field_location:before{
        background-position: -1152px 0;
    }
    
    .field_location.focus:before{
        background-position: -1176px 0;
    }
    
    .field_about_us:before{
        background-position: -1200px 0;
    }
    
    .field_about_us.focus:before{
        background-position: -1224px 0;
    }
    
    .field_card_number:before{
        background-position: -1344px 0;
    }
    
    .field_card_number.focus:before{
        background-position: -1368px 0;
    }

    .field_type_work:before{
        background-position: -840px 0;
    }
    
    .field_type_work.focus:before{
        background-position: -864px 0;
    }
    
    .field_select_disciplines:before{
        background-position: -1296px 0;
    }
    
    .field_select_disciplines.focus:before{
        background-position: -1320px 0;
    }
    
    .field_send_mailing:before{
        background-position: -1008px 0;
    }
    
    .field_send_mailing.focus:before{
        background-position: -1032px 0;
    }
    
    .formField_tags label{
        font-size: .9em;
    }
}
/* end my profile */

/* tabs */
.tabsMenu:after{
    clear: both;
    display: block;
    content: "";
}

.tabsMenu{
    margin-bottom: 5px;
}

.tabsMenu span{
    padding: 5px 8px;
    border-bottom: 1px solid #b6b6b6;
    float: left;
}

.tabsMenu span:first-child{
    padding-left: 0;
}

.tabsMenu span:hover, .tabsMenu span.active{
    border-bottom: 2px solid #FFC107;
    padding-bottom: 4px;
    cursor: pointer;
}

@media screen and (min-width: 768px){
    h6.responsiveTabTitle{
        display: none;
    }
}

@media screen and (max-width: 768px){
    .tabsMenu{
        display: none;
    }
    
    h6.responsiveTabTitle{
        position: relative;
        font-size: 1em;
        padding: 5px 8px;
        border-bottom: 1px solid #b6b6b6;
        margin-bottom: 5px;
        cursor: pointer;
    }
    
    h6.responsiveTabTitle:after{
        content: "";
        width: 0;
        height: 0;
        border: 5px solid transparent;
        border-top-color: rgba(0,0,0,.3);
        right: 0;
        bottom: 10px;
        position: absolute;
    }
    
    h6.responsiveTabTitle.active{
        border-bottom: 2px solid #FFC107;
        padding-bottom: 4px;
        cursor: pointer;
    }
    
    h6.responsiveTabTitle.active:after{
        border-top-color: transparent;
        border-bottom-color: #ffc107;
    }
    
    /*
    .tabsContent > div:last-child > h6.responsiveTabTitle{
        border-bottom: 0!important;
    }*/
}
/* end tabs */

/* date picker more */
.dtp-buttons button{
    padding: 4px;
    background: none;
    border: 0;
    cursor: pointer;
    color: #5d4037;
    text-transform: uppercase;
    font-family: 'Roboto';
    font-weight: 500;
}
/* end date picker more */

/* error */
.error_sub, .error_float, .fieldRemark_float, .help-block{
    font-style: italic;
    font-size: .85em;
    color: #e91e63;
    min-height: 24px;
    padding: 4px 0 0 28px;
    margin-top: 5px;
    display: block;
    position: relative;
}

.fieldRemark_float{
    color:#b6b6b6;
}

.error_sub:before, .error_float:before, .help-block:before{
    content: "";
    position: absolute;
    width: 24px;
    height: 24px;
    background-image: url(../images/icons.png);
    background-repeat: no-repeat;
    left: 0;
    top: 0;
    background-position: -360px 0;
}

.error_float, .fieldRemark_float{
    position: absolute;
    top: 0;
    right: 30px;
    width: 200px;
}

.error_float:before{
    top: 4px;
}

@media screen and (min-width:1054px){
    .error_float{}
}

@media screen and (max-width:1054px){
    .error_float, .fieldRemark_float{
        position: relative;
        width: auto;
        right: auto;
        padding-top: 7px!important;
    }
    
    .fieldRemark_float{
        padding-left: 0!important;
    }
}
/* end error */

/* change password */
.changePassword form{
    position: relative;
}

.changePassword form:before{
    content: "";
    width: 48px;
    height: 48px;
    background: url(../images/icons.png) -1248px -56px no-repeat;
    position: absolute;
    left: 52px;
}

.changePassword .formRow{
    padding-left: 132px;
}

input[type=password]+.showHidePass{
    position: absolute;
    cursor: pointer;
    position: absolute!important;
    width: 24px;
    height: 24px;
    z-index: 1;
    top: 0;
    margin-left: -24px;
    background: url(../images/icons.png) -685px -118px no-repeat;
}

input[type=text]+.showHidePass.active{
    position: absolute;
    cursor: pointer;
    position: absolute!important;
    width: 24px;
    height: 24px;
    z-index: 1;
    top: 0;
    margin-left: -24px;
    background: url(../images/icons.png) -1021px -118px no-repeat;
}

@media screen and (max-width:767px){
    .changePassword .formRow{
        padding-left: 0;
    }
    
    .changePassword form:before{
        display: none;
    }
}
/* end change password */

/* my work */
.workSelected{
    position: relative;
    font-size: 1.15em;
    color: #212121;
    margin-top: 10px;
    display: inline-block;
    text-decoration: none;
    display: none;
}

.workSelected.active{
    display: block;
}

/*.workSelected:hover{
    color: rgba(0,0,0,.58);
}*/

.workSelected:after{
    width: 24px;
    height: 24px;
    background: url(../images/icons.png) -432px 0 no-repeat;
    content: "";
    display: inline-block;
    vertical-align: top;
    margin-left: 20px;
    margin-top: -3px;
    cursor:pointer;
}

.td_note{
    text-align: right!important;
    padding-right: 12px!important;
}

span.note_hover{
    z-index: 101;
}

span.note_hover:hover{
    z-index: 102;
}

span.note_hover:before{
    left: 0;
    top: 0;
    z-index: 101;
}

@media screen and (max-width: 767px){
    .workSelected{
        margin-top: 0;
    }    
}

@media screen and (min-width:480px){
    span.note_hover:hover p{
        display: block;
        position: absolute;
        top: -12px;
        right: -12px;
        width: 540px;
        min-height: 100px;
        border-right: 70px solid #FFC107;
        background: #fff;
        padding: 15px;
        text-align: left;
        box-shadow: 2px 2px 5px rgba(0,0,0,.3);
    }
}

@media screen and (max-width: 480px){
    span.note_hover{
        width: auto;
        height: auto;
    }
    
    span.note_hover:before{
        display: none;
    }
    
    .note_text{
        display: block;
        font-size: .85em;
        color: rgba(0,0,0,.58);
    }
}
/* end my work */

/* orders_list */
span.my_rate{
    display: inline-block;
    position: relative;
    padding-top: 26px;
}

span.my_rate:before{
    content: "";
    width: 24px;
    height: 24px;
    position: absolute;
    background: url(../images/icons.png) -528px 0 no-repeat;
    top: 0;
    left: 50%;
    margin-left: -12px;
}
@media screen and (min-width: 480px){
    .confirm_prelabel{
        float: left;
        padding-right: 90px;
    }
    
    .noRate{
        display: none;
    }
    
    .confirm_prelabel + label{
        position: absolute;
        right: 0;
        top: 10px;
        z-index: 2;
    }
}

@media screen and (max-width: 480px){
    .confirm_prelabel{
        margin-bottom: 10px;
    }
    
    .my_rate:before{
        display: none;
    }
    
    .my_rate{
        padding-top: 0!important;
    }
}
/* end orders_list */

/* details */
.work_id{
    font-size: 12px;
    color: #727272;
    padding-right: 24px;
    position: relative;
    display: inline-block;
    height: 24px;
    line-height: 24px;
}

.work_id:after{
    content: "";
    width: 24px;
    height: 24px;
    background: url(../images/icons.png) -384px 0 no-repeat;
    position: absolute;
    display: block;
    right: 0;
    top:0;
}

.workInfo > div{
    padding-left: 40px;
    padding-top: 5px;
    min-height: 32px;
    position: relative;
    color: #212121;
    font-size: 1.15em; 
    width:75%;
}

.workInfo > div:not(:first-child){
    margin-top: 10px;
}

.workInfo > div:before{
    left: 0;
    top: 0;
}

.workStats{
    padding-top: 30px;
}

.workStats:after{
    clear: both;
    display: block;
    content: "";
}

.workStats > div{
    float: left;
    height: 24px;
    width: 33.33%;
    padding-left: 28px;
    padding-top: 4px;
    font-size: 1em;
}

.workStats > div:before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
}

.workStats > div span{
    text-transform: uppercase;
    color: #727272;
    font-size: 0.9em;
    margin-right: 5px;
}

.workStats > div strong{
    position: absolute;
    cursor: pointer;
    margin-top: -8px;
    margin-left: 2px;
    font-weight: normal;
}

.workStats > div strong:before{
    background-position: -24px -200px;
}

.workStats > div strong span{
    position: absolute;
    top: 0;
    right: 0;
    background: #fff;
    box-shadow: 0px 0px 5px rgba(0,0,0,.25);
    padding: 7px;
    border-radius: 8px;
    width: 260px;
    display: none;
}

.workStats > div strong:hover span{
    display: block;
}

@media screen and (max-width: 767px){
    .workStats > div strong{
        position: static;
        display: inline-block;
        vertical-align: top;
    }
    
    .workStats > div strong:hover span{
        left: 0;
        right: auto;
    }
}

.download_file{
    padding-left: 28px;
    height: 24px;
    line-height: 24px;
    position: relative;
    color: #212121;
    text-decoration: underline;
}

.download_file:hover{
    text-decoration: none;
}

.download_file:before{
    position: absolute;
    left: 0;
    top: 0;
}

.workDesc{
    padding-top: 20px;
    border-top: 1px solid #b6b6b6;
    margin-top: 20px;
}

.workDesc p{
    margin-bottom: 15px;
}

.proposalForm{
    margin-top: 30px;
}

h3{
    font-size: 1.42em;
    color: #212121;
    font-weight: 500;
    margin-bottom: 15px;
}

.proposalForm h3 span{
    display: inline-block;
    padding-bottom: 10px;
    border-bottom: 1px solid #b6b6b6;
}

.my_price{
    padding-left: 54px;
    min-height: 48px;
    position: relative;
    padding-top: 10px;
    margin-bottom: 30px;
}

.my_price:before{
    left: 0;
    top: 0;
}

.my_price input[type=text]{
    width: 70px;
    border: 0;
    padding-bottom: 4px;
    border-bottom: 1px solid #b6b6b6;
    margin-right: 5px;
}

.my_price input[type=text]:focus{
    border-bottom-color: #FFC107;
}

.toggleBlocks{
    width: 90%;
    max-width: 500px;
    margin-top: 15px;
}

.toggleBlocks > div:not(:first-child){
    margin-top: 15px;
}

.toggleBlocks > div > span{
    display: block;
    border: 1px solid #b6b6b6;
    height: 48px;
    line-height: 48px;
    padding-left: 50px;
    text-transform: uppercase;
    color: #727272;
    text-decoration: none;
    position: relative;
    cursor: pointer;
}

.toggleBlocks > div > span:before{
    position: absolute;
    left: 20px;
    top: 50%;
    margin-top: -8px;
    width: 15px;
    height: 16px;
    background: #FFC107;
    border-radius: 2px;
    content: "+";
    text-align: center;
    line-height: 16px;
    padding-left: 1px;
    color: #fff;
}

.toggleBlocks > div > span.active:before{
    content: "-";
}

.toggleBlocks > div > span span{
    text-transform: none;
}

.toggleBlocks > div > div{
    border: 1px solid #B6B6B6;
    border-top: 0;
    padding: 15px;
    display: none;
}

.toggleBlocks textarea{
    border: 0;
    width: 100%;
    min-height: 80px;
    padding: 0;
    font-family: "Roboto";
    font-weight: 400;
    font-size: 1em;
}

.toggleBlocks > div > p{
    padding: 5px 15px;
    font-size: 0.9em;
    color: rgba(0,0,0,.38);
    font-style:  italic;
}
@media screen and (max-width: 767px){
    .workStats{
        padding-top: 25px;
    }
    
    .workStats > div{
        width: 100%;
    }
    
    .workStats > div:not(:first-child){
        margin-top: 10px;
    }
    
    .toggleBlocks > div > span{
        font-size: .8em;
        text-transform: none;
        line-height: 1.25;
        padding-top: 15px;
    }
}
/* end details */

/* add work */
.field_workName:before{
    background-position: -192px -56px;
}

.field_workName.focus:before{
    background-position: -1297px -56px;
}

.field_workCategory:before{
    background-position: -1200px -56px;
}

.field_workCategory.focus:before{
    background-position: -240px -56px;
}

.field_workType:before{
    background-position: -912px -56px;
}

.field_workType.focus:before{
    background-position: -864px -56px;
}

.field_workContent:before{
    background-position: -144px -56px;
}

.field_workContent.focus:before{
    background-position: -1344px -56px;
}

.field_workPrice:before{
    background-position: -1152px -56px;
}

.field_workPrice.focus:before{
    background-position: -1392px -56px;
}

.field_workPrice .formField > input[type=text]{
    width: 80px;
}

.workAddInfo{
    margin-top: 30px;
    max-width: 300px;
}

.workAddInfo:after{
    clear: both;
    display: block;
    content: "";
}

.workAddInfo input{
    width: 100%!important;
}

.workAddInfo > div{
    float: left;
    width: 140px;
}

.workAddInfo > div:last-child{
    float: right;
}

.fieldRemark_float a{
    font-style: normal;
    color: #212121;
}

@media screen and (max-width: 480px){
    .add_work div[class*="field_work"] > .fieldLabel{
        padding-left: 30px;
        line-height: 24px;
    }
    
    .field_workName:before{
        background-position: -1440px 0px;
    }
    
    .field_workName.focus:before{
        background-position: -1464px 0px;
    }
    
    .field_workCategory:before{
        background-position: -1488px 0px;
    }
    
    .field_workCategory.focus:before{
        background-position: -1512px 0px;
    }
    
    .field_workType:before{
        background-position: -1296px 0px;
    }
    
    .field_workType.focus:before{
        background-position: -1320px 0px;
    }
    
    .field_workContent:before{
        background-position: -1536px 0px;
    }
    
    .field_workContent.focus:before{
        background-position: -1560px 0px;
    }
    
    .field_workPrice:before{
        background-position: -1584px 0px;
    }
    
    .field_workPrice.focus:before{
        background-position: -1608px 0px;
    }
    
    .field_workPrice .formField > input[type=text]{
        width: 80px;
    }

}
/* end add work */

/* faq */
.faq_group:not(:first-child){
    margin-top: 45px;
}

.faq_group h3{
    font-size: 1.42em;
    font-weight: 500;
    padding-left: 64px;
    position: relative;
    min-height: 48px;
    padding-top: 10px;
    margin-bottom: 15px;
}

.faq_group h3:before{
    content: "";
    display: block;
    width: 48px;
    height: 48px;
    position: absolute;
    left: 0;
    top: 0;
}

.faq_group.faq_sell h3:before{
    background: url(../images/icons.png) -96px -56px no-repeat;
}

.faq_group.faq_writing h3:before{
    background: url(../images/icons.png) -48px -56px no-repeat;
}

.faq_group > div{
    padding-left: 34px;
}

.faqDiv:not(:first-child){
    margin-top: 20px;
}

.faqDiv > p{
    padding-left: 60px;
    color: #727272;
    font-size: 1em;
    padding-top: 10px;
    display: none;
}

.faqDiv > span{
    display: block;
    padding-left: 60px;
    font-size: 1.15em;
    cursor: pointer;
    position: relative;
    min-height: 24px;
}

.faqDiv > span:before{
    content: "+";
    display: block;
    position: absolute;
    left: 30px;
    top: 0;
    width: 20px;
    height: 20px;
    background: #b6b6b6;
    color: #fff;
    border-radius: 1px;
    text-align: center;
    line-height: 20px;
}

.faqDiv > span.active:before{
    content: "-";
    background: #FFC107;
}

@media screen and (max-width: 480px){
    .faq_group h3{
        font-size: 1.2em;
        padding-top: 8px;
    }
    
    .faq_group > div{
        padding-left: 0;
    }

    .faqDiv > *{
        padding-left: 30px!important;
    }
    
    .faqDiv > span{
        font-size: 1em;
        padding-top: 3px;
    }
    
    .faqDiv > span:before{
        left: 0;
    }
}
/* end faq */

/* pinned */
span.simpleText{
    color: #b6b6b6;
}
/* end pinned */

/* details2 */
.commentsLink{
    position: relative;
}

.commentsLink:after{
    content: "";
    width: 32px;
    height: 32px;
    background: url(../images/icons.png) -448px -24px no-repeat;
    position: relative;
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
}

div.tasks{
    margin-top: 45px;
}

div.tasks h3{
    font-weight: 500;
    font-size: 1.42em;
    margin-bottom: 15px;
}

div.tasks td{
    vertical-align: middle;
}

.tr_done *{
    color: #b6b6b6;
}

div.tasks a[class*="icon_flag"], div.tasks a.icon_done{
    position: relative;
}

div.tasks a.icon_done:before{
    background: url(../images/icons.png) -696px 0 no-repeat;
}

div.tasks a[class*="icon_flag"]:before{
    background-image: url(../images/icons.png);
    background-position: -552px 0;
    background-repeat: no-repeat;
    border-radius: 24px;
}

div.tasks a.icon_flag-red:before{
    animation: blinking_red 1s linear infinite;
}

div.tasks a.icon_flag-red:before{
    background-color: #f44336;
}

div.tasks a.icon_flag-orange:before{
    background-color: #ffc107;
}

div.tasks a[class*="icon_flag"]:before, div.tasks a.icon_done:before{
    content: "";
    width: 24px;
    height: 24px;
    display: inline-block;
    vertical-align: middle;
    margin-right: 6px;
}

    .workStatus{
        display: inline-block;
        padding-top: 60px;
        max-width: 140px;
        text-align: center;
        font-size: 0.9em;
        color: #000;
        text-decoration: none!important;
    }
    
    .workStatus span{
        border-bottom: 1px dotted #000;
    }
    
    .workStatus:before{
        position: absolute;
        content: "";
        top: 0;
        left: 50%;
        margin-left: -24px;
        width: 48px;
        height: 48px;
    }
    
    .workStatus.activeTasks{
    }
    
    .workStatus.activeTasks:before{
        background: url(../images/icons.png) -1344px -104px no-repeat;
        border: 3px solid #FFC107;
        border-radius: 48px;
    }

    .workStatus.pendingTasks:before{
        background: url(../images/icons.png) -1440px -56px no-repeat;
        border: 3px solid #FFC107;
        border-radius: 48px;
    }

    .workStatus.notAcceptedTasks:before{
        background: url(../images/icons.png) -1392px -104px no-repeat;
        border: 3px solid #f44336;
        border-radius: 48px;
    }
    
    .workStatus span{
        display: inline-block;
    }

@media screen and (min-width: 767px){
    .workStatus{
        position: absolute;
        right: 0;
        top: 50px;
        z-index: 10;
    }    
}

@media screen and (max-width: 767px){
    .workStatus{
        position: relative;
        margin-bottom: 30px; 
    }
    
    .workStatus.activeTasks{
    }
}
@media screen and (min-width: 480px){
    div.tasks table td:first-child{
        width: 60%;
    }
}
/* end details2 */

/* reminder */
.remindDiv{
    padding: 30px 0;
    border-top: 1px solid #B6B6B6;
    position: relative;
    padding-right: 160px;
}

.remindDiv:first-child{
    padding-top: 0;
    border: none;
}

.remindDiv h4{
    font-size: 1.15em;
    font-weight: 500;
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    margin-bottom: 15px;
}

.remindDiv h4:before{
    left: 0;
    top: 0;
    position: absolute;
    width: 24px;
    height: 24px;
}

.remindDiv h4.mgIcon_added:before{
    background-position: -240px 0px;
}

.remindDiv h4.mgIcon_comment:before{
    background-position: -1632px 0px;
}

.remindDiv small{
    color:#b6b6b6;
    font-size: 0.9em;
    padding-top: 15px;
    display: block;
}

@media screen and (min-width: 767px){
    .remind_action{
        position: absolute;
        right: 0;
        top: 40px;
        color: #212121;
    }
}

@media screen and (max-width: 767px){
    .remindDiv{
        padding-right: 0;
    }
    
    .remind_action{
        color: #212121;
        display: inline-block;
        margin-top: 15px;
    }
}

.remind_action:hover{
    text-decoration: none;
}
/* end reminder */

/* add work page */
.sendWork > div:not(:first-child){
    margin-top: 15px;
}

a.addFile{
    display: inline-block;
    color: #212121;
    text-decoration: none;
    border-bottom: 1px dashed #212121;
    margin-top: 10px;
}

.delFile{
    display: inline-block;
    vertical-align: top;
    width: 24px;
    height: 24px;
    background: url(../images/icons.png) -744px 0 no-repeat;
    margin-left: 15px;
}

span.filename{
    padding-top: 3px;
    display: inline-block;
}

.commentField > div{
    color: #b6b6b6;
    text-transform: uppercase;
    font-size: .9em;
    margin-bottom: 4px;
}

.commentField > div > span{
    text-transform: none;
}

.commentField textarea{
    resize: none;
    width: 90%;
    width: 560px;
    border: 0;
    padding: 10px;
    background: #f2efee;
    color: #212121;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    min-height: 120px;
}
/* end add work page */

/* plan */
.backLink{
    display: inline-block;
    margin: 24px 24px 0 24px;
    position: relative;
    padding-left: 30px;
    padding-top: 2px;
    color: #212121;
}

.backLink:hover{
    text-decoration: none;
}

.backLink:before{
    left: 0;
    top: 0;
}

.planInfo{
    position: relative;
}

@media screen and (min-width:767px){
    .planInfo{
        padding-right: 260px;
    }
    
    .planInfo div[class*="plan_status"]{
        position: absolute;
        right: 0;
        top: 15px;
        max-width: 220px;
    }    
}

@media screen and (max-width:767px){
    .planInfo div[class*="plan_status"]{
        margin-top: 30px;
    }
}

.plan_status-red p{
    font-size: .85em;
    color: #f44336;
    padding-top: 15px;
}

.plan_status-green p{
    font-size: .85em;
    color: #4caf50;
    padding-top: 15px;
}

.planInfo .download_file{
    margin-top: 30px;
    display: inline-block;
}

.plan_period{
    padding-left: 30px;
    padding-top: 3px;
    margin-bottom: 20px;
}

.plan_period span{
    color: #b6b6b6;
    text-transform: uppercase;
    font-size: .9em;
}

.plan_period:before{
    left: 0;
    top: 0;
}

.commentsBlock{
    max-width: 500px;
}

.addComment{
    margin-top: 60px;
}

.addComment textarea{
    width: 100%;
    height: 90px;
    padding: 15px;
    background: #f2efee;
    border: 0;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 1em;
    color: rgba(0,0,0,.87);
}

.addComment + .submitForm{
    margin-top: 0px!important;
}

.commentInfo{
    margin-bottom: 4px;
    color: #212121;
}

.commentWho{
    font-weight: 500;
}

.planComments > div:not(:first-child){
    margin-top: 30px;
}

.comment_me > div{
    float: right;
}

.comment_me .commentTxt{
    padding: 8px 15px;
    background: #f2efee;
    position: relative;
    border-radius: 3px;
}

.comment_contragent .commentTxt{
    padding: 8px 15px;
    background: #ffc107;
    position: relative;
    border-radius: 3px;
}

.comment_me .commentTxt:after{
    position: absolute;
    content: "";
    width: 32px;
    height: 29px;
    top: 100%;
    right: 15px;
    background: url(../images/icons2.png) -1508px  -32px no-repeat;
}

.comment_contragent .commentTxt:after{
    position: absolute;
    content: "";
    width: 32px;
    height: 30px;
    top: 100%;
    left: 15px;
    background: url(../images/icons2.png) -1541px -32px no-repeat;
}

.comment_contragent:after, .comment_me:after{
    clear: both;
    display: block;
    content: "";
}

.comment_contragent > div{
    float: left;
}

.commentDate{
    color: #b6b6b6;
    font-size: 0.85em;
}

.icon_attach{
    padding-left: 32px;
    background-image: url(../images/icons.png);
    background-position: -54px -158px;
    background-repeat: no-repeat;
}

.plan_status-done{
    text-align: center;
    padding-top: 60px;
    position: relative;
}

.plan_status-done:before{
    background: url(../images/icons.png) -384px -152px no-repeat;
    border: 3px solid #FFC107;
    border-radius: 48px;
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    margin-left: -24px;
    width: 48px;
    height: 48px;
}

.taskComments{
    padding-bottom: 30px;
    border-bottom: 1px solid #b6b6b6;
    margin-bottom: 30px;
}

.mgIcon_lookTask{
    padding-left: 36px;
}

.taskComments .mgIcon_lookTask{
    margin-bottom: 15px;
}

.mgIcon_lookTask:before{
    left: 5px;
    top: 50%;
    margin-top: -12px;
}

small{
    font-size: .85em;
    font-weight: 400;
    color: #727272;
}

.taskComments > div{
    margin-top: 15px;
}

.taskComments > div p{
    margin-top: 5px;
}
/* end plan */

.waitResponse, .waitResponse a{
    color: #E63939;
}