div.news-detail img.detail_picture
{
	float:left;
	margin:0 8px 6px 1px;
}
.news-date-time
{
	color:#486DAA;
}
.new-pl-l, .new-pl-r{float:left;border:0px;}
.new-pl-r{margin-top:20px;}
.send_box_val.dellthisafter label{float:none;}
.new-pay-t{border:0px;}
.clp-new-val textarea{width:86.5%!important;}
.new-pay-t .sbHolder{width:100%;}
.fter tr td {vertical-align:top;  }
.fter .new-pay-l{border:0px;}
.send_box_nagtitle{display:block;}
.add_link_nag{float:right;}
.nag_title{float:left;}

.nag_block{margin-top:40px;}
.nag_block table tr td{padding:0px;}
.new-pl .new-pl-r {width:100%}

.send_box_val input[name="title"]
{display: inline-block;
    margin: 0 5px;
    width: 125px;
    background: #fff;
    height: 20px;
    border: 1px solid #fff;
    box-shadow: inset 1px 1px 4px #aaa;
    padding: 0 10px;
    color: #333333;
    font-size: 14px;
}}