.zakaz-form-l .required{
    color: #ff0000;
    font-size: 12px;
    margin-left: 30px;
}

/* no method */
#noMethod{
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,.5);
    z-index: 999;
    display: none;
}

#noMethod > div{
    background: #fff;
    border-radius: 4px;
    padding: 30px;
    width: 250px;
    height: 210px;
    top: 50%;
    left: 50%;
    margin: -110px 0 0 -125px;
    position: absolute;
}

#noMethod h4{
    margin-bottom: 0;
}

#noMethod h4 + p{
    margin-top: 5px;
}

#noMethod p{
    color: rgba(0,0,0,.58);
}

#noMethod h4:first-child{
    margin-top: 0;
}

.noMethod-controls{
    text-align: right;
    height: 32px;
    margin-top: 30px;
}

.noMethod-controls input[type=button]{
    padding: 0 12px;
    border: 0;
    background: none;
    font-weight: bold;
    color: #ffbb00;
    cursor: pointer;
}

.noMethod-controls input[type=button]:hover{
    color: rgba(0,0,0,.87);
}
/* end no method */

.plagiatus_yes:after{
    clear: both;
    display: block;
    content: "";
}

.plagiatus_yes > div.sel2{
    width: 60%;
    float: left;
}

.plagiatus_yes > div.sel2 .sbHolder, #plagiatusWrapper .sbHolder{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.plagiatus_yes > div.sel2 .sbHolder .sbSelector, #plagiatusWrapper .sbSelector{
    width: 100%;
}

#plagiatusWrapper{
    box-sizing: border-box;
    width: 30%;
    float: left;
    margin-left: 5%;
    position: relative;
    margin-top:-24px;
}

#zakaz_form label{
    position: relative;
}

#zakaz_form span[data-tooltip]:before{
    content: "?";
    color: rgba(0,0,0,.58);
    font-size: 12px;
    padding: 2px;
    width: 10px;
    height: 10px;
    text-align: center;
    line-height: 10px;
    border-radius: 10px;
    background: #fff;
    display: inline-block;
}

#zakaz_form span[data-tooltip]:hover{
    cursor: pointer;
    position: relative;
}

#zakaz_form span[data-tooltip]:hover:after{
    content:attr(data-tooltip);
    position: absolute;
    left: 0;
    top: 100%;
    padding: 15px;
    background: #fff;
    border: 1px solid #eee;
    z-index: 100;
    font-size: 12px;
    color: rgba(0,0,0,.58);
    width: 320px;
}

#submite{
display: block;
margin: 30px auto 0 auto;
width: 320px;
height: 52px;
background: url(http://magistr.in.ua/bitrix/templates/magistr_html5/images/zakaz2-h.png) no-repeat;
text-align: center;
line-height: 52px;
font-size: 18px;
font-weight: bold;
outline: none;
border: none;
cursor: pointer;
text-transform: uppercase;
color: #fff;
text-shadow: 1px 0 1px #426700;
}


.z-val.tell input.full_phone_input{
	width:auto!important
}