/* Table of Contents
==================================================
    #Base 960 Grid
    #Tablet (Portrait)
    #Mobile (Portrait)
    #Mobile (Landscape)
    #Clearing */

.columns, 
.column { 	
	-webkit-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -moz-transition: all 0.2s ease;
	  -ms-transition: all 0.2s ease;
	  -o-transition: all 0.2s ease;
	  transition: all 0.2s ease;
}

/* #Base 1200 Grid
================================================== */

		
/* Note: Design for a width 1024 Desktop
================================================== */
@media only screen and (min-width: 970px) and (max-width: 1080px) {
		.bg .header {}
		.bg .slider-bg .slider0 {width: 800px;}
		.bg .slider ul li .slider-desc {width: 800px;}
		.bg #mycarousel {width: 800px;}
		.bg #mycarousel li {width: 800px;}
		.bg .slider-desc .slider-desc-r{width:288px;}
		.bg .slider-desc .slider-desc-r img{max-width:100%; height: auto;}
		.bg .students-bg .students {width: 960px;}
		.bg .price-bg .price {width: 960px;}
		.bg .price .table-pr0 {width: 950px;}
		.bg .table-pr0 .table-pr {width: 910px;}
		.bg .reviews-bg .reviews {width: 960px;}
		.bg .footer-bg .footer {width: 960px;}
		.bg .price-bg {min-height: 1080px;}
		
		/**/
		.bg .rev-page-bg .rev-page {width: 960px;}
		.bg .rev-bl .rev-right {width: 725px;}
		
		.bg .zakaz-form {width: 890px; margin-left: 0;}
		.bg .zakaz-form-l {width: 428px;}
		.bg .zakaz-form-r {width: 428px;}
		.bg .z-val input {width: 402px;}
		.bg .sbHolder {width: 402px;}
		.bg .z-val-l input {width: 180px;}
		.bg .z-val-r input {width: 180px;}
		.bg .z-val-l {width: 206px;}
		.bg .z-val-r {width: 206px;}
		.bg .sbOptions {width: 402px;}
		.bg .z-val.tell p {width: 100%; margin-top: 10px;}
}



/* #Tablet (Portrait)
================================================== */

    /* Note: Design for a width of 768px */

    @media only screen and (min-width: 778px) and (max-width: 969px) {
		.bg .header {width: 768px;}
		.bg .header .logo {margin-top: 12px;}
		.bg .header .logo img {width: 215px;}
		.bg .slider-bg .slider0 {width: 648px;}
		.bg #mycarousel {width: 648px;}
		.bg #mycarousel li {width: 648px;}		
		.bg .slider ul li .slider-desc {width: 648px;}
		.bg .slider-desc .slider-desc-l {width: 380px;}
		.bg .slider-desc .slider-desc-l .s-image {width: 100px;}
		.bg .slider-desc .slider-desc-l .s-image img {max-width: 80px; height: auto;}
		.bg .slider-desc .slider-desc-r{width:266px;}
		.bg .slider-desc .slider-desc-r img{max-width:100%; height: auto;}
		.bg .sale-bg {min-height: 180px; height: auto;}
		.bg .sale-bg .sale {width: 768px;}
		.bg .sale .sale-r {padding-top: 100px;}
		.bg .prob {width: 768px;}
		.bg .prob ul {width: 345px;}
		.bg .work-bg .work {width: 768px;}
		.bg .work ul {width: 350px;}
		.bg .students-bg .students {width: 768px;}
		.bg .students table td em {font-size: 26px;}
		.bg .students table td {font-size: 17px;}
		.bg .price-bg {padding-bottom: 35px;}
		.bg .price-bg .price {width: 768px;}
		.bg .price .table-pr0 {width: 758px;}
		.bg .table-pr0 .table-pr {width: 718px;}
		.bg .table-pr .price-l {width: 290px;}
		.bg .reviews-bg .reviews {width: 768px;}
		.bg .reviews .reviews-bl {width: 370px;}
		.bg .reviews .partners {width: 395px;}
		.bg .partners .partners-bl a {width: 128px;}
		.bg .footer-bg .footer {width: 768px;}
		.bg .footer .f-title1 {font-size: 30px;}
		.bg .f-bottom .cl {width: 124px;}
		
		/**/
		.bg .title-line-bg .title-line {width: 768px;}
		.bg .banner-bg .banner {width: 768px;}
		.bg .banner-bg .banner img {width: 140px;}
		.bg .banner p {font-size: 18px;}
		.bg .authors-bg .authors {width: 768px;}
		.bg .client-work .client-w-l {width: 298px;}
		.bg .client-work .client-w-r {width: 298px;}
		.bg .sale-r .work-bt {width: 200px; background-size: 100% 100%;}
		.bg .sale-r {width: 625px;}
		.bg .rev-page-bg .rev-page {width: 768px;}
		.bg .rev-bl .rev-right {width: 534px;}
		.bg .banner .search {width: 600px;}
		.bg .search input[type="text"] {width: 400px;}
		.bg .work-list-bg .work-list {width: 768px;}
		.bg .work-list ul li {width: 380px;}
		.bg .work-cat-bg .work-cat {width: 768px;}
		.bg .work-filter .clear-bt {margin: 0;}
		
		.bg .contacts-bg .contacts {width: 768px;}
		.bg .contacts .contacts-l {width: 260px;}
		.bg .contacts .contacts-r {width: 505px; height: auto;}
		.bg .contacts .contacts-r img {width: 505px; height: auto;}
		
		.bg .work_pbuy {width: 768px; min-height: 505px;background-position: -68px 30px;background-size: 100%;}
		.bg .work_pbuy_i:first-child {margin: 28px 0 0 15px;width: 180px;}
		.bg .work_pbuy_i {width: 180px;margin: 28px 0 0 80px;}
		.bg .work_pbuy_i:last-child {margin: 28px 0 0 100px;}
		.bg .work_zrazok {width: 730px;}
		
		.bg .wrap-bg .wrap {width: 768px;}
		.bg .price-txt-l {width: 45%;}
		.bg .price-txt-r {width: 45%;}
		
		.bg .op-txt .op-txt-bl {width: 240px;}
		
		.bg .zakaz-form {width: 718px; margin-left: 0;}
		.bg .zakaz-form-l {width: 350px;}
		.bg .zakaz-form-r {width: 350px;}
		.bg .z-val input {width: 324px;}
		.bg .sbHolder {width: 324px;}
		.bg .z-val-l input {width: 135px;}
		.bg .z-val-r input {width: 135px;}
		.bg .z-val-l {width: 160px;}
		.bg .z-val-r {width: 160px;}
		.bg .sbOptions {width: 324px;}
		.bg .z-val.tell p {width: 100%; margin-top: 10px;}
		.bg .jquery-filestyle input[type="text"] {width: 324px!important;}
		.bg .zakaz-pagination {width: 768px;}
		.bg .zakaz-pagination .arrow-z {width: 220px; background-size: 100% 100%;}
    }

/* #Mobile (Landscape)
================================================== */

    /* Note: Design for a width of 480px */

    @media only screen and (min-width: 490px) and (max-width: 777px) {
		.bg .header {width: 480px;}
		.bg .header .logo {margin: 12px auto; float: none; width: 349px;}
		.bg .header .logo img {width: 349px;}
		.bg .header .header-r {width: 480px; float: none; margin: 0 auto;}
		.bg .header-r .menu {width: 480px; background-size: 100% 100%;}
		.bg .menu ul li a {padding: 0 9px;}
		.bg .slider-bg .slider0 {width: 360px;}
		.bg #mycarousel {width: 360px;}
		.bg #mycarousel li {width: 360px;}			
		.bg .slider ul li .slider-desc {width: 360px;}
		.bg .slider-desc .slider-desc-l {width: 200px;}
		.bg .slider-desc .slider-desc-l .s-image {width: 50px;}
		.bg .slider-desc .slider-desc-l .s-image img {max-width: 40px; height: auto;}
		.bg .slider-desc-l h3 {font-size: 16px;}
		.bg .slider-desc-l p {font-size: 11px;}
		.bg .slider-desc .slider-desc-r{width: 160px; padding-top: 120px;}
		.bg .slider-desc .slider-desc-r img{max-width:100%; height: auto;}
		.bg .sale-bg {min-height: 180px; height: auto;}
		.bg .sale-bg .sale {width: 480px;}
		.bg .sale .sale-r {margin-top: 0; padding-top: 110px; width: 480px;}
		.bg .sale-r .work-bt {width: 160px; font-size: 14px; background-size: 100% 100%;}
		.bg .prob {width: 480px;}
		.bg .prob ul {width: auto;float: none;margin: 0 auto;}
		.bg .work-bg .work {width: 480px;}
		.bg .title {font-size: 32px;}
		.bg .work ul {width: auto;float: none;margin: 0 auto;}
		.bg .students-bg .students {width: 480px;}
		.bg .students table td em {font-size: 15px;}
		.bg .students table td {font-size: 14px; padding: 0 15px;}
		.bg .price-bg {padding-bottom: 35px;}
		.bg .price-bg .price {width: 480px;}
		.bg .price .table-pr0 {width: 470px;}
		.bg .table-pr0 .table-pr {width: 430px;}
		.bg .title2 {font-size: 28px;}
		.bg .table-pr .price-l {width: 428px; float: none;}
		.bg .table-pr table thead td {padding: 0 0 0 20px;}
		.bg .table-pr table tbody td {padding: 0 0 0 20px;}
		.bg .table-pr .price-bt {font-size: 14px; width: 428px; background-size: 100% 100%;}
		.bg .table-pr ul {width: 428px!important;}
		.bg .reviews-bg .reviews {width: 480px;}
		.bg .reviews .reviews-bl {width: auto;float: none;}
		.bg .reviews .partners {width: auto;float: none;}
		.bg .partners .partners-bl a {width: 155px;}
		.bg .footer-bg .footer {width: 480px;}
		.bg .footer .f-title1 {font-size: 18px;}
		.bg .footer .f-title2 {font-size: 16px;}
		.bg .footer p {font-size: 22px;}
		.bg .footer .telp p {display: block;}
		.bg .f-bottom .cl {float: none;text-align: center;width: auto;}
		.bg .f-bottom .copy {float: none;text-align: center;width: auto;}
		.bg .f-bottom .count, .bg .f-bottom .social {margin-top: 15px;}
		.bg .footer-bg {min-height: 348px; background-size: auto 100%;}
		
		/**/
		.bg .title-line-bg .title-line {width: 480px;}
		.bg .banner-bg .banner {width: 480px;}
		.bg .banner-bg .banner img {width: 132px;}
		.bg .aut-log {width: 328px; }
		.bg .authors-bg .authors {width: 480px;}
		.bg .client-work .client-w-l {width: 154px;}
		.bg .client-work .client-w-r {width: 154px;}
		.bg .aut-log .reg-bt {width: 200px; background-size: 100% 100%;}
		.bg .aut-log .log-bt {width: 100px; background-size: 100% 100%;}
		.bg .sale-r {width: 420px;}
		.bg .sale-r .work-bt {margin: 0 140px 0 0;}
		.bg .rev-page-bg .rev-page {width: 480px;}
		.bg .rev-bl .rev-right {width: 420px;}
		.bg .banner .search {width: 480px;}
		.bg .search input[type="text"] {width: 285px;}
		.bg .work-list-bg .work-list {width: 480px;}
		.bg .work-list ul li {width: 238px;}
		
		.bg .work-cat-bg .work-cat {width: 480px;}
		.bg .work-filter .clear-bt {}
		.bg .work-filter {padding: 0;}
		
		.bg .contacts-bg .contacts {width: 480px;}
		.bg .contacts .contacts-l {width: 260px;}
		.bg .contacts .contacts-r {width: 480px; height: auto; margin: 20px 0 0 0;}
		.bg .contacts .contacts-r img {width: 480px; height: auto;}
		
		.bg .work_pbuy {width: 480px; min-height: 920px;background-image: none;}
		.bg .work_pbuy_i:first-child {margin: 28px 24px 0 24px;width: auto;}
		.bg .work_pbuy_i {width: auto;margin: 28px 24px 0 24px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #574641;}
		.bg .work_pbuy_i:last-child {margin: 28px 24px 0 24px; border-bottom: none; margin-bottom: 0px; padding-bottom: 20px;}
		.bg .work_zrazok {width: 442px;}
		
		.bg .wrap-bg .wrap {width: 480px;}
		.bg .price-txt-l {width: 45%;}
		.bg .price-txt-r {width: 45%;}
		
		.bg .op-txt .op-txt-bl {width: auto; width: 440px; margin: 20px; float: none;}
		
		.bg .footer > p.telp{width: 180px; margin: 0 auto;}
		
		.bg .rev-page .rev-pag {float: none; clear: both; padding-top: 20px;}
		
		.bg .work_pdesc table tr td:first-child {min-width: 80px; width: 80px;}
		
		/*___*/
		.bg .zakaz-form {width: 430px; margin-left: 0;}
		.bg .zakaz-form-l {width: 430px;}
		.bg .zakaz-form-r {width: 430px;}
		.bg .z-val input {width: 402px;}
		.bg .sbHolder {width: 402px;}
		.bg .z-val-l input {width: 135px;}
		.bg .z-val-r input {width: 135px;}
		.bg .z-val-l {width: 160px;}
		.bg .z-val-r {width: 160px;}
		.bg .sbOptions {width: 324px;}
		.bg .z-val.tell p {width: 100%; margin-top: 10px;}
		.bg .jquery-filestyle input[type="text"] {width: 324px!important;}
		.bg .zakaz-form-c textarea {width: 93.3%;}
		.bg .zakaz-pagination {width: 480px;}
		.bg .zakaz-pagination .arrow-z {width: 75px; background-size: 100% 100%;}	
}	
	
/*  #Mobile (Portrait)
================================================== */

    /* Note: Design for a width of 320px */

    @media only screen and (max-width: 489px) {
		.bg .header {width: 300px;}
		.bg .header .logo {margin: 12px auto; float: none; width: 300px;}
		.bg .header .logo img {width: 300px;}
		.bg .header .header-r {width: 300px; float: none; margin: 0 auto;}
		.bg .header-r .menu {width: 300px; background-size: 100% 100%;}
		.bg .header-r .cont-bt {width: 140px;}
		.bg .header-r .authors-bt {width: 60px; background-size: 100%; font-size: 12px; line-height: 17px;}
		.bg .menu ul li, .bg .cont-bt a {font-size: 10px;}
		.bg .menu ul li a {padding: 0 2px;}
		.bg .slider-bg .slider0 {width: 180px;}
		.bg #mycarousel {width: 180px;}
		.bg #mycarousel li {width: 180px;}			
		.bg .slider ul li .slider-desc {width: 180px;}
		.bg .slider-desc .slider-desc-l {width: 180px;}
		.bg .slider-desc .slider-desc-l .s-image {width: 30px; padding-top: 25px;}
		.bg .slider-desc .slider-desc-l .s-image img {max-width: 20px; height: auto;}
		.bg .slider-desc-l h3 {font-size: 10px; line-height:16px;}
		.bg .slider-desc-l p {font-size: 9px;}
		.bg .slider-desc .slider-desc-r{width: 80px; padding-top: 200px; display: none!important;}
		.bg .slider-desc .slider-desc-r img{max-width:100%; height: auto;}
		.bg .sale-bg {min-height: 180px; height: auto;}
		.bg .sale-bg .sale {width: 300px; overflow: hidden;}
		.bg .sale .sale-r {margin-top: 0; padding-top: 110px; width: 300px;}
		.bg .sale-r .work-bt {width: 300px; overflow: hidden; font-size: 14px; margin-top: 120px; background-size: 100% 100%;}
		.bg .action {width: 300px;overflow: hidden;}
		.bg .action .action-txt {width: 250px; margin-left: 0px; float: none;margin: 0 auto;}
		.bg .action .timer {margin-left: 30px; float: none;margin: 0 auto;}
		.bg .prob {width: 300px; overflow: hidden;}
		.bg .prob ul {width: auto;float: none;margin: 0 auto;}
		.bg .work-bg .work {width: 300px; overflow: hidden;}
		.bg .title {font-size: 28px;}
		.bg .work ul {width: auto;float: none;margin: 0 auto;}
		.bg .students-bg .students {width: 300px; overflow: hidden;}
		.bg .students table td em {font-size: 12px;}
		.bg .students table td {font-size: 11px; padding: 0;}
		.bg .price-bg {padding-bottom: 35px;}
		.bg .price-bg .price {width: 300px; overflow: hidden;}
		.bg .price .table-pr0 {width: 290px;}
		.bg .table-pr0 .table-pr {width: 250px;}
		.bg .title2 {font-size: 28px;}
		.bg .table-pr .price-l {width: 250px; float: none;}
		.bg .price-r .action, .bg .price-r {width: 250px; float: none; margin: 0;}
		.bg .table-pr table thead td {padding: 0 0 0 2px; font-size: 10px; text-align: center;}
		.bg .table-pr table tbody td {padding: 0 0 0 2px; font-size: 10px;}
		.table-pr table tbody td .old-p {font-size: 11px;}
		.table-pr table tbody td .new-p {font-size: 12px;}
		.bg .table-pr .price-bt {font-size: 12px; width: 250px; background-size: 100% 100%; line-height: 14px; padding-top: 12px; height: 40px;}
		.bg .table-pr ul {width: 270px!important;}
		.bg .reviews-bg .reviews {width: 300px; overflow: hidden;}
		.bg .reviews .reviews-bl {width: auto;float: none;}
		.bg .reviews .partners {width: auto;float: none;}
		.bg .partners .partners-bl a {width: 128px;}
		.bg .footer-bg .footer {width: 300px; overflow: hidden;}
		.bg .footer .f-title1 {font-size: 18px;}
		.bg .footer .f-title2 {font-size: 16px;}
		.bg .footer p {font-size: 22px;}
		.bg .footer .telp p {display: block;}
		.bg .f-bottom .cl {float: none;text-align: center;width: auto;}
		.bg .f-bottom .copy {float: none;text-align: center;width: auto;}
		.bg .f-bottom .count, .bg .f-bottom .social {margin-top: 15px;}
		.bg .footer-bg {min-height: 420px; background-size: auto 100%;}
		
		/**/
		.bg .title-line-bg .title-line {width: 300px;}
		.bg .banner-bg .banner {width: 300px;}
		.bg .banner-bg .banner img {width: 80px; margin-top: -30px!important;}
		.bg .aut-log {width: 216px;}
		.bg .authors-bg .authors {width: 300px;}
		.bg .client-work .client-w-l {width: 219px;}
		.bg .client-work .client-w-r {width: 219px;}
		.bg .aut-log .reg-bt {width: 132px; background-size: 100% 100%;}
		.bg .aut-log .log-bt {width: 68px; background-size: 100% 100%;}
		.bg .banner p {font-size: 16px;}
		.bg .authors h2 {font-size: 18px;}
		.bg .authors > p {font-size: 14px;}
		.bg .authors .date {font-size: 16px;}
		.bg .zakaz-list {padding-left: 10px;}
		.bg .zakaz-list ul li {font-size: 14px;}
		.bg .aut-bt .reg-bt {width: 160px; background-size: 100% 100%;}
		.bg .aut-bt .log-bt {width: 118px; background-size: 100% 100%;}
		
		.bg .sale-r {width: 300px;}
		.bg .sale-r .work-bt {margin: 10px 50px 0 0; width: 200px; background-size: 100% 100%;}
		.bg .rev-page-bg .rev-page {width: 300px;}
		.bg .rev-bl .rev-right {width: 240px;}
		
		.bg .banner .search {width: 300px;}
		.bg .search input[type="text"] {width: 172px;}
		.bg .search input[type="submit"] {width: 90px; background-size: 100% 100%;}
		.bg .work-list-bg .work-list {width: 300px;}
		.bg .work-list ul li {width: 300px;}
		
		.bg .work-cat-bg .work-cat {width: 300px;}
		.bg .work-filter .clear-bt {margin-top: 10px;}
		.bg .work-filter {padding: 0; position: relative;}
		.bg .selectbox .select {width: 300px;}
		.bg .work-cat table tbody td {padding: 0 5px;}
		.bg .work-cat table thead td {padding: 0 0 0 10px;}
		.bg .selectbox .dropdown {width: 300px;}
		
		.bg .nonebox {width: 260px; margin-left: -150px;}
		.bg .rev-val input[type="text"], .bg .rev-val textarea {width: 240px;}
		.bg .cod input[type="text"] {width: 50px;}
		.bg .rev-val input[type="submit"] {float: none; margin: 10px auto;}
		
		.bg .contacts-bg .contacts {width: 300px;}
		.bg .contacts .contacts-l {width: 300px;}
		.bg .contacts .contacts-r {width: 300px; height: auto; margin: 20px 0 0 0;}
		.bg .contacts .contacts-r img {width: 300px; height: auto;}
		
		.bg .work_pbuy {width: 300px; min-height: 1020px;background-image: none;}
		.bg .work_pbuy_i:first-child {margin: 28px 14px 0 14px;width: auto;}
		.bg .work_pbuy_i {width: auto;margin: 28px 24px 0 24px; padding-bottom: 10px; margin-bottom: 10px; border-bottom: 1px solid #574641;}
		.bg .work_pbuy_i:last-child {margin: 28px 24px 0 24px; border-bottom: none; margin-bottom: 0px; padding-bottom: 20px;}
		.bg .work_zrazok {width: 262px;}
		
		.bg .wrap-bg .wrap {width: 300px;}
		.bg .price-txt-l {width: 45%;}
		.bg .price-txt-r {width: 45%;}
		
		.bg .op-txt .op-txt-bl {width: auto; width: 300px; margin: 20px 0; float: none;}
		.bg .footer > p {width: 210px; margin: 0 auto;}
		
		.bg .rev-page .rev-pag {float: none; clear: both; padding-top: 20px;}
		
		.bg .rev-val.r2 input {width: 30px!important;}
		.bg .rev-val.r2 .koma {margin: 9px 4px 0 4px;}
		.bg .rev-val.r2 input.i2 {width: 82px!important;}
		
		.bg .work_pdesc table tr td:first-child {min-width: 60px; width: 60px;}
		
		/*___*/
		.bg .zakaz-form {width: 260px; margin-left: 0;}
		.bg .zakaz-form-l {width: 260px;}
		.bg .zakaz-form-r {width: 260px;}
		.bg .z-val input {width: 240px;}
		.bg .sbHolder {width: 240px;}
		.bg .z-val-l input {width: 240px;}
		.bg .z-val-r input {width: 240px;}
		.bg .z-val-l {width: 240px; float: none;}
		.bg .z-val-r {width: 240px; float: none; margin-top: 15px;}
		.bg .sbOptions {width: 240px;}
		.bg .z-val.tell p {width: 100%; margin-top: 10px;}
		.bg .jquery-filestyle input[type="text"] {width: 240px!important;}
		.bg .zakaz-form-c textarea {width: 93.3%;}
		.bg .z-val.tell .koma {margin-left: 4px; margin-right: 4px;}
		.bg .z-val.tell input.i2 {width: 70px!important;}
		.bg .z-val.tell input {width: 30px!important;}
		.bg .zakaz-form input[type="submit"] {width: 260px; background-size: 100% 100%;}
		.bg .zakaz-pagination {width: 300px;}
		.bg .zakaz-pagination .arrow-z {width: 300px; background-size: 100% 100%;}
		
		/***/
		.bg .rev-right .rev-name {font-size: 11px; width: 165px; bottom: -30px;}
    }
    
    @media only screen and (min-width: 250px) and (max-width: 321px) {
        .bg {width: 320px!important; overflow: hidden!important; margin: 0 auto;}
    }