.selectbox {vertical-align:middle; cursor:pointer; }
.selectbox #disabled {opacity:0.5; cursor:auto; }

.selectbox.focused .select {}
.selectbox .select {float: left; margin: 0; width:457px; height:44px; color:#999; font-size:16px; background:url(images/cf-selects-2.png) no-repeat top left; outline:none; line-height:44px;}
.w-filter-val.v2 .selectbox .select {width:140px;}
.zakaz-form .selectbox .select {width:457px; height:44px; height:40px; width:432px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}
.clp-val .selectbox .select {width:490px!important; height:44px!important; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}

.sel .selectbox .select {border:2px solid #ff0000;}
.sel2 .selectbox .select {border:2px solid #66cc33;}
.selectbox .select .text {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0px 15px;}

.selectbox .trigger {position:absolute; top:0; right:0; width:40px; height:100%; background:url(images/cf-selects-2.png) no-repeat top right;}
.zakaz-form .trigger {position:absolute; top:2px; right:10px; width:40px; height:100%; background:url(images/cf-selects-3.png) no-repeat center right; opacity: 0.5;}
.clp-val .trigger {position:absolute; top:2px; right:10px; width:40px; height:100%; background:url(images/cf-selects-4.png) no-repeat center right; opacity: 0.5;}
.zakaz-form .trigger:hover {background:url(images/cf-selects-3.png) no-repeat center right; opacity: 1;}
.clp-val .trigger:hover {background:url(images/cf-selects-4.png) no-repeat center right; opacity: 1;}
.selectbox .dropdown {margin:0; top:40px; width:457px; height:auto!important; right:0!important; left:auto!important; overflow-y:hidden !important;}
.w-filter-val.v2 .selectbox .dropdown {width:140px;}
.clp-val .selectbox .dropdown {width:514px; top:47px;}

.selectbox ul {margin:-1px 8px 0 8px; padding:0; height:auto; list-style:none; border:2px solid #f4ba00;}
.selectbox li:first-child { border-top:none;}
.selectbox li {padding:0 15px; height: 30px; color:#999; font-size: 16px; line-height:27px; border-top:1px solid #f4ba00; background:#fff;}
.selectbox li:hover {color:#000!important;}
.selectbox li:first-child:hover {color:#000!important;}
.selectbox li.selected {color:#999;}
.selectbox li.disabled {color:#999;}