
				
				<div class="work_pbuy_t1">Готовые работы продаются "как есть" , без дальнейших доработок и исправлений автором.</div>
					<div class="work_pbuy_t2">Получите работу одним из способов:</div>
					<div class="work_pbuy_list">
						<div class="work_pbuy_i">
							<div class="image"><img src="/bitrix/templates/magistr_html5/images/work_pbuy1.png" alt=""></div>
							<div class="name">Купить напрямую у <strong>автора</strong>. </div>
							<div class="desc">Автору придет ваша заявка и в ближайшее время с вами свяжется. Расчет и передача работы происходят напрямую. Процесс получения занимает <strong>до 2-х дней</strong>. Агентство за действия сторон не отвечает.</div>
							<a id="authorOrder" href=" javascript: void(0);" onclick="getAutorOrder();" class="buy">купить</a>
						</div>
						<div class="work_pbuy_i">
							<div class="image"><img src="/bitrix/templates/magistr_html5/images/work_pbuy2.png" alt=""></div>
							<div class="name">Купить с посредничеством <strong>агентства</strong>.</div>
							<div class="desc">В таком случае вы отправляете деньги в агентство, а наш менеджер отправит вам готовую работу. Посредничество агентства дает возможность получить работу уже сегодня. <strong>Стоимость услуги: +100 грн к цене работы.</strong></div>
							<a id="agentOrder" href="javascript: void(0);" onclick="getAgencyOrder();" class="buy">купить</a>
						</div>
						<div class="work_pbuy_i">
							<div class="image"><img src="/bitrix/templates/magistr_html5/images/work_pbuy3.png" alt=""></div>
							<div class="name">Заказать написание работы на эту тему “<strong>с нуля</strong>”</div>
							<div class="desc">В таком случае наши авторы выполнят работу по вашему плану и по требованиям вашего ВУЗа. Все дальнейшие доработки и исправления будут бесплатные. Стоимость написания новой работы вам сообщит менеджер после заполнения заявки.</div>
							<a id="newOrder" href="javascript: void(0);" onclick="getNewOrder();" class="buy">Заказать “с нуля”</a>
						</div>
					</div>
				