body {
     margin: 0;
	 padding: 0;
	 background: #fff;
	 font-size: 14px;
	 color: #000;
	 font-family: 'Tahoma';
	 min-width: 960px;
	 position: relative;
}

a:link, a:active, a:visited {color: #000; outline: none; text-decoration: none;}
a:hover {text-decoration: underline; color: #000;}
a img {border: none;}

input:focus, textarea:focus {outline: none;}

.clr {clear: both;}

.bg {}

.header-bg {
	min-height: 162px;
	background: url(../images/head.png) no-repeat top center;
	min-width: 960px;
}
.header-bg .header {
	margin: 0 auto;
	height: 162px;
	width:940px;
	overflow: hidden;
}
.header .logo {
	float:left;
	margin:35px 40px 0 0;
}
.header-r {
	float:right;
	width:540px;
}
.header_top {
	height: 50px;
}
.header .name {
	float: left;
	width: 370px;
	margin: 20px 0 18px 0;
	font-weight: bold;
	color: #574641;	
}
.header .panel_link {
	float: right;
	margin: 18px 0 0 0;
}
.header .panel_link a {
	display: inline-block;
	padding: 0 6px;
	text-decoration: none;
	color: #574641;
}
.header .panel_link a span {
	text-decoration: underline;
	color: #574641;
}
.header .panel_link a:hover {
	text-decoration: none;
	color: #574641;
}
.header .panel_link a:hover span {
	text-decoration: none;
	color: #574641;
}
.header .panel_link a img {
	vertical-align: middle;
}
.header .menu {
	margin: 0;
	height:50px;
	position: relative;
	background: url(../images/menu.png) no-repeat;
}
.header .menu > ul {
	margin: 0;
	padding: 0 2px;
	list-style: none;
}
.header .menu > ul > li {
	float: left;
	width: 304px;
	background: url(../images/menu-line.png) center left no-repeat;
	line-height: 50px;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	padding: 1px 0 0 2px;
}
.header .menu > ul > li:first-child {
	background: none;
	width: 230px;
	padding: 1px 0 0 0;
}
.header .menu > ul > li > a {
	display: block;
	padding: 15px 0 0 0;
	height: 33px;
	color:#574641;
	text-shadow: 0 1px 1px #fff;
	line-height: 14px;
	vertical-align: middle;
	text-align: center;
}
.header .menu > ul > li.parent > a {
	height: 35px;
	z-index: 100;
	position: relative;	
}
.header .menu > ul > li:first-child > a {
	border-radius: 4px 0 0 7px;
	-moz-border-radius: 4px 0 0 7px;
	-webkit-border-radius: 4px 0 0 7px;
}
.header .menu > ul > li:last-child > a {
	border-radius: 0 4px 7px 0;
	-moz-border-radius: 0 4px 7px 0;
	-webkit-border-radius: 0 4px 7px 0;
}
.header .menu > ul > li:hover > a, .header .menu > ul > li.active > a {
	background: #f7eab0;
	text-decoration: none;
}
.header .menu > ul > li > ul {
	display: none;
	margin: 0;
	padding: 5px 0 0 0;
	list-style: none;
	position: absolute;
	top: 49px;
	left: 0;
	width: 538px;
	height: 28px;
	background: #f7eab0;
	border: 1px solid #f5c62b;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	line-height: 19px;
}
.header .menu > ul > li.active > ul {
	display: block;
}
.header .menu > ul > li > ul > li {
	display: inline-block;
	padding: 0 20px;
	height: 19px;
	line-height: 19px;
	border-left: 1px solid #f3c21d;
	text-shadow: 1px 1px 1px #fff;
	font-weight: normal;
}
.header .menu > ul > li > ul > li img {
	vertical-align: middle;
	margin: 0 0 0 5px;
}
.header .menu > ul > li > ul > li .count {
	width:24px;
	height: 17px;
	background: #fff;
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	line-height: 17px;
	box-shadow: 0 -1px 2px #f5cf4d;
	color:#666666;
	font-size: 11px;
	border-radius: 8px;
}
.header .menu > ul .count2 {
	width:24px;
	height: 17px;
	background: #ff3333;
	display: inline-block;
	margin: 0 5px;
	text-align: center;
	line-height: 17px;
	box-shadow: 0 -1px 2px #f5cf4d;
	color:#fff;
	font-size: 11px;
	border-radius: 8px;
}
.header .menu > ul > li > ul > li:first-child {
	border-left: none;
}
.header .menu > ul > li > ul > li > a {
	line-height: 19px;
	color: #574641;
	text-decoration: underline;
}
.header .menu > ul > li > ul > li > a:hover, .header .menu > ul > li > ul > li.active > a{
	color: #574641;
	text-decoration: none;
}
.f-links {
margin: 0 0 0 -150px;
width: 300px;
color: #574641;
font-size: 13px;
position: absolute;
top: 40px;
left: 50%;
}
.f-links a {
	color:#574641;
	font-size: 13px;
	text-decoration: underline;
}
.f-links a:hover {
	text-decoration: none;
}
.wrap-bg {
}
.wrap-bg .wrap {
	margin: 0 auto;
	width:940px;
	padding: 30px 0;
}
.wrap h1 {
	margin: 0 0 30px 0;
	font-size: 30px;
	color: #574641;
	font-weight: normal;
	text-align: center;
	position: relative;
}
.autor_filter {
	margin: 0 0 20px 0;
	height: 22px;
	background: #f4ba00;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding:9px 0px 9px 11px;
}
.autor_filter input[type="text"] {
	float: left;
	width: 290px;
	height: 22px;
	margin: 0 10px 0 0;
	padding: 0 5px;
	line-height: 22px;
	border: none;
	font-size: 12px;
	background: url(../images/autor_filter2.png) no-repeat top left;
	color: #999999;
}
.autor_filter label {
	float: left;
	height: 22px;
	margin: 0 7px;
	padding: 0;
	line-height: 22px;
	font-size: 12px;
	font-weight: bold;
	color: #fff;
}
.autor_filter input.id, .autor_filter input.id2{width: 50px;}
.autor_filter input.fio, .autor_filter input.email2{width: 170px;}
.autor_filter input.email{width: 139px;}
.autor_filter input.tema{width: 139px;}
.autor_filter input.autor{width: 139px;}
.autor_filter input.date{width: 77px;}
.autor_filter input.fio2{width: 309px;}
.autor_filter input.tema2{width: 221px;}
.autor_filter input.id3 {width: 90px;}
.autor_filter input.autor3 {width: 431px;}
.autor_filter input.date31 {width: 80px;}
.autor_filter input.date32 {width: 80px;}

.autor_filter input[type="submit"] {
	float: left;
	width: 52px;
	height: 24px;
	background: url(../images/au_button.png) no-repeat top left;
	margin: 0 7px 0 8px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	padding: 0;
	cursor: pointer;
	border: none;
}
.autor_filter input[type="submit"]:hover {
	background: url(../images/au_button_h.png) no-repeat top left;
	color: #574641;
}
.autor_filter .au_remove {
	float: left;
	width: 22px;
	height: 22px;
	background: url(../images/au_remove.png) no-repeat top left;
	cursor: pointer;
}
.autor_filter .au_remove:hover {
	background: url(../images/au_remove_h.png) no-repeat top left;
}

.autor_teams {
}
.autor_team {
	margin: 0 0 30px 0;
	min-height: 88px;
	border: 2px solid #f1dc7b;
	background: #fffbe8;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 9px 0;
	position: relative;
	float: left;
	width: 936px;
}
.autor_team > div {
	float: left;
	font-size: 12px;
	min-height: 72px;
	padding: 8px 9px;
}
.autor_team .at_col1 {
	width: 130px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .at_col2 {
	width: 201px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .at_col3 {
	width: 101px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .at_col4 {
	width: 241px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .rev_col1 {
	width: 60px;
	border-right: 1px solid #f1dc7b;
	color:#574641;
	font-size: 12px;
}
.autor_team .rev_col2 {
	width: 130px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .rev_col2 strong {
	color:#574641;
	font-size: 12px;
	font-weight: bold;
	text-transform: uppercase;
}
.autor_team .rev_col3 {
	width: 530px;
	border-right: 1px solid #f1dc7b;
}
.autor_team .rev_col3 {
	color:#574641;
	font-style:italic;
	font-size: 14px;
}
.autor_team .rev_col4 {
	width: 140px;
	border-right: none;
}
.autor_team a.edit {
	position: absolute;
	bottom: -20px;
	right: 8px;
	width: 120px;
	height: 20px;
	background: url(../images/at_button.png) no-repeat top left;
	text-indent: 35px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
}
.autor_team a.edit:hover {
	background: url(../images/at_button_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
.autor_team a.active {
	position: absolute;
	bottom: -20px;
	right: 132px;
	width: 120px;
	height: 20px;
	background: url(../images/at_button2.png) no-repeat top left;
	text-indent: 35px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
}
.autor_team a.active:hover {
	background: url(../images/at_button2_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
.autor_team a.refuse {
	position: absolute;
	bottom: -20px;
	right: 256px;
	width: 120px;
	height: 20px;
	background: url(../images/at_button3.png) no-repeat top left;
	text-indent: 35px;
	line-height: 20px;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
}
.autor_team a.refuse:hover {
	background: url(../images/at_button3_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
.agent_marker {
	background: #f3f3f3;
	height: 40px;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	margin: 0 0 20px 0;
	text-align: center;
}
.agent_marker ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.agent_marker ul li {
	display: inline-block;
	padding: 11px 18px 0 18px;
	font-size: 12px;
	color: #333;
}
.work_marker ul li {
	padding: 11px 8px 0 8px;
}
.agent_marker ul li img {
	vertical-align: middle;
	margin-right: 10px;
}

.table_box {
	background: #f1dc7b;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	padding: 2px;
}
.table_box thead th {
	font-size: 16px;
	color: #574641;
	padding: 8px 10px 12px 10px;
	text-align: left;
}
.table_box thead td {
	font-size: 16px;
	color: #574641;
	font-weight: bold;
	padding: 8px 10px 12px 10px;
	text-align: center;
}
.table_box thead th.today {text-align: center;}
.table_box thead th.date {min-width: 80px;}
.table_box thead th.agent, .table_box thead th.type {min-width: 140px;}
.table_box thead th.pay, .table_box thead th.status {min-width: 180px;}
.table_box thead th.act {min-width: 30px;}
.table_box thead th.id {min-width: 30px;}
.table_box thead th.email {min-width: 260px;}
.table_box thead th.rem {min-width: 90px;}

.table_box tbody td {
	font-size: 14px;
	color: #574641;
	padding: 18px 10px;
	text-align: left;
}
.table_box tbody td.pay{font-size: 12px;}
.table_box tbody td.num{font-size: 12px; text-align: right; border-right: none; vertical-align: top;}
.table_box tbody td.rem{text-align: center;}
.table_box tbody td.nomer{min-width: 40px;}
.table_box tbody td.tip{min-width: 170px;}
.table_box tbody td.tip.wait{color:#999999; font-size: 14px;}
.table_box tbody td.autor{min-width: 100px;}
.table_box tbody td.status2{min-width: 160px;}
.table_box tbody td.status3{text-align: center;}
.table_box tbody td.send{min-width: 80px;}
.table_box tbody td.price {min-width: 69px;}
.table_box tbody td.rec {min-width: 149px;}
.table_box tbody td.rem2 {min-width: 120px;}

.table_box tbody .am1 td {background: #ffffff;}
.table_box tbody .am2 td {background: #ffe9e9;}
.table_box tbody .am3 td {background: #ddeefb;}
.table_box tbody .am4 td {background: #e2f3cf;}
.table_box tbody .am5 td {background: #f0f0f0;}
.table_box tbody .am6 td {background: #d4c6e6;}
.table_box tbody tr:last-child td:first-child {
	border-radius: 0 0 0 6px;
	-moz-border-radius: 0 0 0 6px;
	-webkit-border-radius: 0 0 0 6px;
}
.rev-pag {margin: 25px 0 0 0; text-align: right;}
.rev-pag .pag-point {background:none; margin: 0; width: 20px;}
.rev-pag span {display: inline-block; margin: 0 2px; width:30px; height:30px; border-radius: 30px; background: #f4ba00; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
.rev-pag a {display: inline-block; margin: 0 2px; width:30px; height:30px; border-radius: 30px; background: #f1dc7b; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
.rev-next a, .rev-prev a {display: inline-block; margin: 0 2px; width:30px; height:30px; border-radius: 30px; background: #f1dc7b; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
.rev-pag a:hover, .rev-next a:hover {text-decoration: none; background: #f4ba00;}
.theme-w {
	text-align: left!important;
	padding-left: 40px!important;
}
.num {
	float: left;
	width: 10px;
	margin: 0 10px;
	height: 45px;

}
.edit-img {
	width:23px;
	height:24px;
	display: inline-block;
	background: url(../images/edit.png) no-repeat;
}
.edit-img:hover {
	background: url(../images/edit-h.png) no-repeat;
	cursor: pointer;
}
.del-img {
	width:23px;
	height:24px;
	display: inline-block;
	background: url(../images/del.png) no-repeat;
}
.del-img:hover {
	background: url(../images/del-h.png) no-repeat;
}
.rev-img {
	width:16px;
	height:15px;
	display: inline-block;
	background: url(../images/c-n.png) no-repeat;
	cursor: default;
}
.rev-img.active {
	background: url(../images/c.png) no-repeat;
	cursor: pointer;
}
.table_box tbody tr:last-child td:last-child {
	border-radius: 0 0 6px 0;
	-moz-border-radius: 0 0 6px 0;
	-webkit-border-radius: 0 0 6px 0;
}
.table_box tbody td a {
	font-size: 14px;
	line-height: 18px;
	color: #006699;
	text-decoration: none;
}
.table_box tbody td a:hover {
	color: #006699;
	text-decoration: underline;
}
.table_box tbody td span {
	font-size: 12px;
	color: #666;
}
.table_box .remove {
	display: inline-block;
	width: 23px;
	height: 24px;
	background: url(../images/au_remove_y.png) no-repeat top left;
	cursor: pointer;
}
.table_box .remove:hover {
	
}

a.add_agent {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 171px;
	height: 34px;
	background: url(../images/addagent_bt.png) no-repeat top left;
	text-align: center;
	line-height: 34px;
	text-decoration: none;
	font-size: 16px;
	font-weight: bold;
	color: #574641;
}
a.add_agent:hover {
	background: url(../images/addagent_bt_h.png) no-repeat top left;
	text-decoration: none;
	color: #574641;
}

.stars {
	height:30px; 
	margin: 0;
}
.stars .rite {
	display:inline-block; 
	width:23px; 
	height:22px; 
	background: url(../images/st2.png) no-repeat;
}
.stars .rite.act {
	background: url(../images/st1.png) no-repeat;
}

.footer-bg {
	min-height: 99px;
	background: url(../images/footer.png) no-repeat center top;
	min-width: 960px;
}
.footer {
	margin: 0 auto;
	width: 940px;
	height: 99px;
	position: relative;
}
.footer .copy {
	float: left;
	font-size: 13px;
	font-weight: bold;
	color: #574641;
	margin: 40px 0 0 0;
}

.cont-bt {float:right; width:170px; margin: 35px 0 0 0; position: relative;}
.cont-bt img {display: inline-block; vertical-align: middle; margin: 0 4px;}
.cont-bt a {display: inline-block; color:#574641; border-bottom: none; text-decoration: none;}
.cont-bt a span {display: inline-block; color:#574641; border-bottom: 1px solid #a1936f;}
.cont-bt a:hover {text-decoration: none; border-bottom: none;}
.cont-bt a:hover span {border-bottom: none;}
.cont-window {position: absolute; top:-162px; left:-10px; display: none; width:150px; height:118px; z-index: 300; padding: 20px; background: url(../images/cont-w.png) no-repeat; background-size: 100% 100%;}
.cont-window .cont-l {float:left; width:40px; text-align: center; height:25px; color:#574641; font-weight: bold; font-size: 14px; line-height: 25px; text-align: center;}
.cont-window .cont-r {float:right; width:110px; height:25px;}
.cont-window .cont-r p {color:#574641; font-size: 16px; margin: 0;}
.cont-window .cont-r p span {font-size: 14px;}
.eml {color:#574641; font-size: 12px; text-decoration: none!important; display: block!important; text-align: center; border: none!important;}
.eml:hover {text-decoration: none!important;}

.send_box {
	position: absolute;
	top: 65px;
	left: -120px;
	z-index: 2;
	width: 211px;
	min-height: 112px;
	padding: 18px 18px 8px 20px;
	background: #f1dc7b;
	border: 1px solid #f4ba00;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.send_box_arr{
	position: relative;
}
.send_box_arr span{
	position: absolute;
	top: -27px;
	right: -148px;
	width: 10px;
	height: 9px;
	background: url(../images/send_arr.png) no-repeat;
}
.send_box_title {
	font-size: 14px;
	color: #574641;
	font-weight: bold;
	font-family: Tahoma;
	text-align: center;
	margin: 0 0 14px 0;
}
.send_box_val {
	margin: 0 0 8px 0;
}
.send_box_val input[type="radio"] {
	float: left;
	margin: 2px 9px 0 0;
}
.send_box_val label {
	float: left;
	margin: 0 10px 0 0;
}
.send_box_val input[type="text"] {
	float: left;
	margin: -2px 0 0 0;
	width: 63px;
	height: 18px;
	padding: 2px 10px;
	background: url(../images/send_field.png) no-repeat top left;
	font-size: 12px;
	color: #333;
	border: none;
}
.send_box a.cancel {
	padding: 0 0 0 20px;
	float: left;
	width: 118px;
	background: url(../images/cancel.png) no-repeat center left;
	text-decoration: underline;
	font-size: 14px;
	color: #006699;
	margin-top: 0;
}
.send_box a.cancel:hover {
	text-decoration: none;
	color: #006699;
}
.send_box input[type="submit"] {
	float: right;
	width: 52px;
	height: 24px;
	background: url(../images/send_bt.png) no-repeat top left;
	margin: 0 7px 0 8px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	padding: 0;
	cursor: pointer;
	border: none;
}
.send_box input[type="submit"]:hover {
	background: url(../images/send_bt_h.png) no-repeat top left;
	color: #574641;
}
.send_box_hide {
	display: none;
}
.pay_box {
	position: absolute;
	top: 65px;
	left: -120px;
	z-index: 2;
	width: 211px;
	min-height: 112px;
	padding: 18px 18px 8px 20px;
	background: #f1dc7b;
	border: 1px solid #f4ba00;
	border-radius: 9px;
	-moz-border-radius: 9px;
	-webkit-border-radius: 9px;
}
.pay_box_arr{
	position: relative;
}
.pay_box_arr span{
	position: absolute;
	top: -27px;
	right: -148px;
	width: 10px;
	height: 9px;
	background: url(../images/send_arr.png) no-repeat;
}
.pay_box_title {
	font-size: 18px;
	color: #574641;
	font-weight: bold;
	font-family: Tahoma;
	text-align: center;
	margin: 0 0 14px 0;
}
.pay_box_val {
	margin: 0 0 8px 0;
}
.pay_box_val input[type="radio"] {
	float: left;
	margin: 2px 9px 0 0;
}
.pay_box_val label {
	float: left;
	margin: 0 10px 0 0;
}
.pay_box_val input[type="text"] {
	float: left;
	margin: -2px 0 0 0;
	width: 63px;
	height: 18px;
	padding: 2px 10px;
	background: url(../images/send_field.png) no-repeat top left;
	font-size: 12px;
	color: #333;
	border: none;
}
.pay_box a.cancel {
	padding: 0 0 0 20px;
	float: left;
	width: 118px;
	background: url(../images/cancel.png) no-repeat center left;
	text-decoration: underline;
	font-size: 14px;
	color: #006699;
	margin-top: 0;
}
.pay_box a.cancel:hover {
	text-decoration: none;
	color: #006699;
}
.pay_box input[type="submit"] {
	float: right;
	width: 52px;
	height: 24px;
	background: url(../images/send_bt.png) no-repeat top left;
	margin: 0 7px 0 8px;
	line-height: 22px;
	text-align: center;
	font-size: 12px;
	font-weight: bold;
	color: #574641;
	text-shadow: 1px 1px 1px #fff;
	padding: 0;
	cursor: pointer;
	border: none;
}
.pay_box input[type="submit"]:hover {
	background: url(../images/send_bt_h.png) no-repeat top left;
	color: #574641;
}
.pay_box_hide {
	display: none;
}
.pay_box a.cancel {
	float: none;
	margin: 14px auto;
	display: block;
	width: 70px;
}
td.send {
	position: relative;
}
td.rem2 {
	position: relative;
}

a.show_bt {
	display: block;
	margin: 20px auto;
	width: 500px;
	height: 34px;
	background: url(../images/show_bt.png) no-repeat top left;
	line-height: 34px;
	text-align: center;
	text-transform: uppercase;
	color: #574641;
	text-decoration: none;
}
a.show_bt:hover {
	background: url(../images/show_bt_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}

a.menu_partner {
	float: right;
	width: 159px;
	height: 50px;
	margin: 0;
	padding: 0;
	background: url(../images/partner_bt.png) no-repeat top left;
	color: #574641;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
	line-height: 50px;
	text-align: center;
}
a.menu_partner:hover {
	background: url(../images/partner_bt_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
a.menu_partner.rel {
	background: url(../images/partner_bt_r.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
.date30 {
	float: left;
	position: relative;
	width: 90px;
}
.date30 .ui-datepicker-trigger {
	position: absolute;
	top: 3px;
	right: 5px;
}
.tab_total {
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #574641;
	font-size: 18px;
}
.sum_total {
	height: 38px;
	line-height: 38px;
	text-align: center;
	color: #574641;
	font-size: 18px;
}
a.pay_bt {
	float: left;
	width: 90px;
	height: 21px;
	background: url(../images/pay_bt.png) no-repeat top left;
	margin: 1px 7px 0 0;
	padding: 0;
	color: #574641!important;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
	line-height: 21px!important;
	text-align: center;	
}
a.pay_bt:hover {
	background: url(../images/pay_bt_h.png) no-repeat top left;
	color: #574641!important;
	text-decoration: none!important;
}
a.yes_bt {
	display: block;
	width: 69px;
	height: 37px;
	background: url(../images/yes_bt.png) no-repeat top left;
	margin: 0 auto;
	padding: 0;
	color: #574641!important;
	font-weight: bold;
	text-shadow: 1px 1px 1px #fff;
	text-decoration: none;
	line-height: 37px!important;
	text-align: center;
	font-size: 18px;
}
a.yes_bt:hover {
	background: url(../images/yes_bt_h.png) no-repeat top left;
	color: #574641!important;
	text-decoration: none!important;
}
a.payf_bt {
	float: left;
	margin: 0;
	padding: 0 0 0 43px;
	width: 100px;
	height: 44px;
	background: url(../images/payf_bt.png) no-repeat top left;
	line-height: 44px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	color: #574641;
	text-decoration: none;
}
a.payf_bt:hover {
	background: url(../images/payf_bt_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
a.rem_bt {
	float: left;
	margin: 16px 0 0 0;
	padding: 0 0 0 46px;
	width: 97px;
	height: 44px;
	background: url(../images/payf_bt.png) no-repeat top left;
	line-height: 44px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	color: #574641;
	text-decoration: none;
}
a.rem_bt:hover {
	background: url(../images/payf_bt_h.png) no-repeat top left;
	color: #574641;
	text-decoration: none;
}
.anketa {
	 margin: 10px 0;
}
.a-varning {
	 color:#ff3333;
	 font-size: 18px;
	 margin: 0 0 25px 0;
	 text-align: center;
}
.conf {
	 color:#574641;
	 font-weight: bold;
	 font-size: 14px;
	 text-align: center;
	 margin: 0 0 5px 0;
}
.anketa-val {
	 margin: 15px 0 0 0;
}
.anketa-val label {
	 float:left;
	 width: 220px;
	 margin: 10px 10px 0 0;
	 color:#574641;
	 font-size: 16px;
	 text-align: right;
}
.anketa-val label.error{display: none!important;}
.anketa-val label span {
	 color:#ff0000;
}
.anketa-val input[type="text"] {
	 height: 40px;
	 width: 432px;
	 outline: none;
	 background: #fff;
	 border: 2px solid #f4ba00;
	 border-radius: 10px;
	 box-shadow: inset 1px 1px 1px #c5bb90;
	 padding: 0 10px;
	 color: #574641;
	 font-size: 16px;
}
.anketa-val input[type="text"].short{
	float:left;
	width: 150px;
}
.anketa-val input[type="text"].valid, .anketa-val textarea.valid, .af-val textarea.valid {
	 border: 2px solid #66cc33;
}
.anketa-val input[type="text"].error, .anketa-val textarea.error, .af-val textarea.error {
	 border: 2px solid #ff0000;
}
.anketa-val textarea {
	 height: 180px;
	 width: 432px;
	 outline: none;
	 background: #fff;
	 border: 2px solid #f4ba00;
	 border-radius: 10px;
	 box-shadow: inset 1px 1px 1px #c5bb90;
	 padding: 10px;
	 color: #574641;
	 font-size: 16px;
	 float:left;
	 font-family: 'Tahoma';
}
.anketa-val.a-phone input[type="text"] {
	 float: left;
	 width: 45px!important;
	 margin: 0 5px 0 0;
	 text-align: center!important;
}
.anketa-val.a-phone input[type="text"].i2 {
	 width: 100px!important;
	 text-align: center!important;
}
.anketa-val.a-phone .koma {
	float: left;
	margin: 9px 10px 0 10px;
	color: #333333;
	font-size: 18px;
}
.anketa-val.a-phone p {
	float:left;
	margin: 5px 0 0 10px;
	font-style: italic;
	font-size: 12px;
	color:#574641;
}
.anketa-val.prim p {
	float:left;
	margin: 5px 0 0 10px;
	font-style: italic;
	font-size: 12px;
	color:#574641;
	width: 200px;
}
.anketa-val.sel2 input[type="text"] {
	float:left;
	width: 142px;
}
.anketa-val.sel2 label.two {
	float:left;
	width: 100px;
}
.s-center {
	 display: inline-block;
}
.anketa-val.af_check2 .niceCheck {float: left;}
.anketa-val.af_check2 label {float: left; margin: 0; font-size: 16px; line-height: 24px; height: 24px; text-align: left; width: auto;}
.anketa-val.af_check2 i {float: left; margin: 6px 0 0 5px;}
.anketa-val.af_check2 i.af_val2_i {margin: 6px 0 0 262px; width: 400px;}

.anketa-val ul.inf {
	 float:left;
	 width: 220px;
	 margin: 0 0 0 15px;
	 padding:0;
	 list-style: none;
}
.anketa-val ul.inf li {
	 padding: 0 0 0 15px;
	 background: url(../images/marker.png) no-repeat center left;
	 color:#574641;
	 font-size: 11px;
	 margin: 0 0 5px 0;
}
.anketa-val-l {
	 float:left;
	 width: 220px;
}
.anketa-val-l label {
	 margin: 18px 0;
}
.anketa-val-r {
	 float:left;
	 margin: 0 0 0 5px;
	 padding: 10px 5px;
	 background: #f1f1f1;
	 width: 460px;
	 border-radius: 10px;
}
.anketa-val-r input[type="text"] {
	 width: 55px;
	 margin: 0 5px 0 0;
	 text-align: center;
}
.otr-val input[type="text"] {
	 width: 435px;
	 margin: 10px 0 0 0;
}
.type-works {
	 float:left;
	 margin: 0 0 0 10px;
	 padding: 0;
	 width: 450px;
	 list-style: none;
}

.type-works li {
	 margin: 0 0 5px 0;
	 display: inline-block;
	 width: 220px;
}

.subjects {
	 float:left;
	 width: 460px;
	 background: #f7f2c7;
	 border-radius: 10px;
}

.subjects-menu {
	 height: 30px;
	 background: #f1dc7b;
	 border-radius: 10px 10px 0 0;
}

.subjects-menu ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
	 width: 100%;
}

.subjects-menu ul li:first-child a {
	 border-radius: 10px 0 0 0;
}

.subjects-menu ul li {
	 font-size: 12px;
	 float:left;
	 height: 30px;
}

.subjects-menu ul li a {
	 color:#574641;
	 text-decoration: underline;
	 display: block;
	 padding: 7px 12px 0 12px;
	 height: 23px;
}

.subjects-menu ul li a:hover {
	 background: #f8efc1;
}

.subjects-menu ul li.active a {
	 background: #f8efc1;
}

.subjects-menu ul li a:hover {
	 text-decoration: none;
}

.subjects-desc {
	 padding: 10px;
}

.subjects-desc ul {
	 margin: 0;
	 padding: 0;
	 list-style: none;
}

.subjects-desc ul li {
	 display: inline-block;
	 width: 215px;
	 margin: 0 0 3px 0;
}

.anketa-bt {
	 color:#574641;
	 font-size: 16px;
	 font-weight: bold;
	 text-align: center;
	 line-height: 44px;
	 width: 191px;
	 height: 44px;
	 background: url(../images/anketa.png) no-repeat;
	 display: block;
	 margin: 20px auto;
	 outline: none;
	 border: none;
}
.anketa-bt:hover {
	 text-decoration: none;
	 background: url(../images/anketa2.png) no-repeat;
	 cursor: pointer;
}
.profile-edit {
	 display: inline-block;
	 color:#006699!important;
	 font-size: 14px;
	 text-decoration: underline!important;
}
.profile-edit:hover {
	 text-decoration: none!important;
}
.faq_items {
	margin:0;
}
.faq_item {
	background: #f1dc7b;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	margin: 0 0 10px 0;
}
.faq_item_t {
	font-size: 22px;
	font-weight: normal;
	color: #574641;
	padding: 16px 21px 12px 21px;
}
.faq_item ul {
	padding: 9px 0 0 0;
	margin: 0;
	list-style: none;
	background: #f7f2c7;
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-khtml-border-radius: 0 0 7px 7px;	
}
.faq_item ul li {
	min-height: 31px;
	display: block;
	overflow: hidden;
}
.faq_item ul li:last-child {
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-khtml-border-radius: 0 0 7px 7px;
}
.faq_item ul li:nth-child(odd) {
	background: #f7f2c7;
}
.faq_item ul li:nth-child(even) {
	background: #eee8b3;
}
.faq_item ul li a {
	padding: 0 0 0 21px;
	font-size: 14px;
	color: #006699;
	line-height: 31px;
}
.faq_item ul li .faq_item_c {
	padding: 20px 18px;
	background: #fff;
	margin: 2px;
	color: #574641;
	font-size: 14px;
	display: none;
}
a.download_file {
	display: inline-block;
	padding: 0 0 0 22px;
	background: url(../images/download_file.png) no-repeat center left;
	color: #006699;
	text-decoration: underline;
}
a.download_file:hover {
	display: inline-block;
	padding: 0 0 0 22px;
	background: url(../images/download_file.png) no-repeat center left;
	color: #006699;
	text-decoration: none;
}
.table_box tbody td.rem {
	position: relative;
}
.rev_pop {
	position: absolute;
	top: 42px;
	right: 5px;
	width: 300px;
	padding: 10px;
	border: 1px solid #f1dc7b;
	background: #f9f9f9;
	z-index: 2;
	border-radius: 4px;
	font-size: 12px;
	display: none;
}
.tip{
	font-size: 12px;
	display: inline-block;
}