.overlay {
     background:#000;
     position:fixed;
     top:0px;
     bottom:0px;
     left:0px;
     right:0px;
     z-index:9998;
     opacity:0.5;    
}

.nonebox{
     position:absolute;
     top:-1000px;
     left:50%;
     margin-left:-254px;
     background:#f1dc7b;
     padding:25px 20px;
     width:468px;
     z-index:9999;
     border: 3px solid #fff5c6;
     border-radius: 10px;
}

.nonebox h2 {margin:0; padding:0; color:#574641; font-size:19px; text-transform:uppercase; text-align: center;}

.nonebox .rev-form {margin:20px 0 0 0;}
         .rev-form .rev-val {margin: 0 0 15px 0;}
                   .rev-val label {display: block; margin: 0 0 10px 0; color:#574641; font-size: 16px;}
                   .rev-val label span {color:#ff0000;}
                   .rev-val input[type="text"] {height:40px; width:445px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; color:#574641; font-size: 16px;}
                   .rev-val input[type="password"] {height:40px; width:445px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; color:#574641; font-size: 16px;}
                   .rev-val textarea {height:40px; width:445px; height:120px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 10px; font-family: 'Tahoma'; color:#574641; font-size: 16px;}
				   .rev-val textarea.valid {border: 2px solid #66cc33!important;}
				   .rev-val textarea.error {border: 2px solid #ff0000!important;}
				   .rev-val p {float:left; margin: 0 10px 0 0; color:#574641; font-size: 16px;}
				   .rev-val .wrong {color:#006699; font-size: 14px; float:left;}
				   .rev-val .reg {color:#006699; font-weight: bold; font-size: 14px; float:right;}
				   .rev-val i {font-style: normal; text-align: center; color:#574641; font-size: 14px; width: 160px; display:block; margin: 0 auto;}
				   .rev-val .log-bt2 {float:none!important; display: block!important; margin: 0 auto!important; outline: none!important; font-weight: bold!important; border: none!important; cursor: pointer!important; color:#ffffff!important; font-size: 19px!important; width:152px!important; height:52px!important; text-align: center!important; line-height: 52px!important; text-shadow:1px 1px 0 #6d9e00!important; background: url(../images/log-bt2.png) no-repeat!important;}
				   .rev-val .log-bt2:hover {background: url(../images/log-bt2-h.png) no-repeat!important;}
				   .rev-val .reg-bt2 {float:none!important; text-transform: uppercase; display: block!important; margin: 0 auto!important; outline: none!important; font-weight: bold!important; border: none!important; cursor: pointer!important; color:#ffffff!important; font-size: 19px!important; width:320px!important; height:52px!important; text-align: center!important; line-height: 52px!important; text-shadow:1px 1px 0 #6d9e00!important; background: url(../images/zakaz2.png) no-repeat!important;}
				   .rev-val .reg-bt2:hover {background: url(../images/zakaz2-h.png) no-repeat!important;}
                   .rev-val .r-star {float:left; width:150px;}
                            .r-star .r-rate {display:inline-block; width:23px; height:22px; background: url(../images/st2.png) no-repeat;}
                            .r-star .r-rate.act {background: url(../images/st1.png) no-repeat;}
                   .rev-val .cod {float:left; width:245px;}
                            .cod .cod-img {float:left; margin: 0 10px 0 0; border: 1px solid #574641; width:138px; height:38px;}
                                 .cod-img img {width:100%; height:100%;}
                            .cod input[type="text"] {float:left; width:70px;}

                   .rev-val input[type="submit"] {float:right; outline: none; font-weight: bold; border: none; cursor: pointer; color:#574641; font-size: 16px; width:180px; height:44px; text-align: center; line-height: 44px; text-shadow:1px 1px 0 #fff; background: url(../images/rev-bt2.png) no-repeat;}
.close{
     position: absolute;
     width:24px;
     height:24px;
     cursor:pointer;
     display:block;
	 background: url(../images/close.png) no-repeat;
	 right: 10px;
	 top: 10px;
}