BODY {
     margin: 0;
	 padding: 0;
	 background: #fff;
	 font-size: 14px;
	 color: #000;
	 font-family: 'Tahoma';
}

a:link, a:active, a:visited {color: #000; outline: none; text-decoration: none;}
a:hover {text-decoration: underline; color: #000;}
a img {border: none;}

.clr {clear: both;}

.bg {overflow: hidden;}

.header-bg {min-height: 85px;}
.header-bg .header {margin: 15px auto 0 auto; width:940px;}
           .header .logo {float:left;}

           .header .header-r {float:right; width:542px;}
                   .header-r .authors-bt {float:left; width:88px; height:24px; background: url(../images/auth.png) no-repeat; padding: 0 10px; line-height: 24px; color:#fff; font-size: 14px;}
                             .authors-bt:hover {background: url(../images/auth-h.png) no-repeat; text-decoration: none;}

                   .header-r .lang {float:right; width:60px; margin: 2px 0 0 0;}
                             .lang a {display: inline-block; padding: 3px; width:16px; height:13px; border: 1px solid rgba(0,0,0,0);}
                             .lang a img {width:100%; height:100%;}
                             .lang a:hover {border: 1px solid #c8c8c8; background: #fff;}
                             .lang a.active {border: 1px solid #c8c8c8; background: #fff;}

                   .header-r .cont-bt {float:right; width:170px; margin: 0 20px 0 0; position: relative;}
                             .cont-bt img {display: inline-block; vertical-align: middle; margin: 0 4px;}

                             .cont-bt a {display: inline-block; color:#574641; border-bottom: none; text-decoration: none;}
							 .cont-bt a span {display: inline-block; color:#574641; border-bottom: 2px solid #aba29f;}
                             .cont-bt a:hover {text-decoration: none; border-bottom: none;}
							 .cont-bt a:hover span {border-bottom: none;}

                   .header-r .menu {margin: 10px 0 0 0; width:540px; height:50px; position: relative; background: url(../images/menu.png) no-repeat;}
                             .menu ul {margin: 0; padding: 0; list-style: none;}
                             .menu ul li.home {float:left; padding: 0; margin: 0; width:40px; height:50px; background: url(../images/home.png) no-repeat; font-size: 0;}
                             .menu ul li.home:hover {background: url(../images/home-h.png) no-repeat; padding: 0; margin: 0;}
                             .menu ul li.home a, .menu ul li.home:hover a, .menu ul li.home:hover a {color:transparent;display: block; width: 40px; height: 50px; background: none;}
                             .menu ul li {float: left; background: url(../images/line.png) center left no-repeat; line-height: 50px; font-size: 14px; font-weight: bold;}
                             .menu ul li a {color:#574641; text-shadow: 0 1px 1px #fff; display: block; padding: 0 15px; margin: 0 0 0 2px;}
                             .menu ul li:hover a {background: url(../images/menu-h.png) repeat-x; text-decoration: none;}
							 .menu ul li.active a {background: url(../images/menu-h.png) repeat-x; text-decoration: none;}
.slider-bg {height:400px; background: url(../images/slider-bg.jpg) repeat-x; margin: 20px 0 0 0; position: relative;}
.slider-bg .slider0 {height:400px; width: 920px; margin: 0 auto; position: relative; z-index: 200;}
.slider-bg .slider {height:400px; overflow: hidden;}
           .slider ul {margin: 0; padding: 0; list-style: none; width: 20000em;}
           .slider ul li {float:left;}
           .slider ul li .slider-desc {width:920px;}
                         .slider-desc .slider-desc-l {float:left; width:510px; margin: 140px 0 0 0;}
                                      .slider-desc-l .s-image {float:left; width:140px; min-height: 160px; position: relative; z-index: 900;}

                                      .slider-desc-l h3 {color:#fff; font-size: 35px; line-height: 35px; text-shadow: 2px 2px 5px #f4ba00; margin: 0 0 10px 0; font-weight: normal;}
                                      .slider-desc-l h3 span {font-weight: bold;}

                                      .slider-desc-l p {color:#574641; font-style: italic; font-size: 18px; margin: 10px 0; line-height: 24px; text-shadow:1px 0 1px #f1dc7b;}

                         .slider-desc .slider-desc-r {float:right; width:325px; background: url(../images/sh.png) no-repeat; padding: 35px 0 0 0; background-size: 100% 100%;}

           .slider0 .prev {position: absolute; top:50%; left:-60px; margin: -20px 0 0 0; width:40px; height:40px; background: url(../images/prev.png) no-repeat; display: block; z-index: 100; cursor: pointer;}
           .slider0 .prev:hover {background: url(../images/prev-h.png) no-repeat;}
           .slider0 .next {position: absolute; top:50%; right:-60px; margin: -20px 0 0 0; width:40px; height:40px; background: url(../images/next.png) no-repeat; display: block; z-index: 100; cursor: pointer;}
           .slider0 .next:hover {background: url(../images/next-h.png) no-repeat;}

           .pagination {position: absolute; bottom:-97px; left:0; width:270px; height:110px;}
           .pagination .pag {float:left; margin: 0 5px; width:50px; height:110px; text-align: center; cursor: pointer;}
           .pagination .pag:nth-child(2) {background: url(../images/p1.png) no-repeat center bottom;}
           .pagination .pag:nth-child(2).active {background: url(../images/p1-h.png) no-repeat center bottom;}
           .pagination .pag:nth-child(3) {background: url(../images/p2.png) no-repeat center bottom;}
           .pagination .pag:nth-child(3).active {background: url(../images/p2-h.png) no-repeat center bottom;}
           .pagination .pag:nth-child(4) {background: url(../images/p3.png) no-repeat center bottom;}
           .pagination .pag:nth-child(4).active {background: url(../images/p3-h.png) no-repeat center bottom;}
           .pagination .pag:nth-child(1) {background: url(../images/p4.png) no-repeat center bottom;}
           .pagination .pag:nth-child(1).active {background: url(../images/p4-h.png) no-repeat center bottom;}


.sale-bg {height:180px; background: #fff;}
.sale-bg .sale {margin: 0 auto; width:940px; padding: 0 0 15px 0;}
         .sale-r {float:right; width:650px;}
               .sale-r .work-bt {float:right; margin: 45px 0 0 0; width:222px; height:52px; text-transform: uppercase; text-align: center; text-shadow: 1px 0 1px #426700; color:#fff; font-size: 18px; font-weight: bold; line-height: 52px; background: url(../images/work-bt.png) no-repeat;}
               .sale-r .work-bt:hover {background: url(../images/work-bt-h.png) no-repeat; text-decoration: none;}
               .action {float:left; width:410px; margin: 18px 0 0 0;}
               .action .action-txt {float:left; width:230px; margin: 0 5px 0 0; height:108px; text-align: center; background: url(../images/act.png) no-repeat; background-size: auto 100%;}
                       .action-txt p {color:#000; font-size: 21px; margin: 22px 0; line-height: 26px;}
                       .action-txt p strong {color:#f00000; font-size: 24px; font-weight: bold; display: block;}
                       .action-txt p strong em {font-size: 38px; font-style: normal;}

               .action .timer {float:left; width:174px;}
                       .timer p {font-size:13px; color:#000; margin: 5px 0;}
                       .timer .timer-bl {width:174px; height:65px; background: url(../images/timer.png) no-repeat; position: relative;}

         .sale > p {color:#000; font-size: 21px; margin: 5px 0; text-align: center;}
         .sale > p strong {font-weight: bold;}

.prob-bg {min-height:359px; background: url(../images/prob.jpg) no-repeat center top; background-size: auto 100%;}
.prob-bg .prob {margin: 0 auto; padding: 0 0 30px 0; width:940px;}
         .title {padding: 35px 0 20px 0; text-align: center; color:#574641; font-size: 36px; line-height: 38px; text-shadow:0 1px 0 #fff;}
         .title2 {padding: 35px 0 20px 0; text-align: center; font-weight: bold; color:#fffffe; font-size: 36px; line-height: 38px; text-shadow:0 1px 0 #fff;}
         .title2 span {color:#f1dc7b;}
         .title3 {padding: 10px 0; text-align: center; color:#574641; font-size: 19px; font-weight: bold; text-transform: uppercase;}

         .prob ul {margin: 0; padding: 0; list-style: none; float:left; width:460px;}
         .prob ul.pr-l {margin: 0; padding: 0; list-style: none; float:right; width:420px;}
         .prob ul li {margin: 7px 0; min-height:30px; padding: 0 0 0 40px; background: url(../images/sm.png) no-repeat center left; color:#574641; font-size: 19px;}

.work-bg {min-height: 360px; background: #fff url(../images/work.jpg) no-repeat center bottom;}
.work-bg .work {margin:0 auto; padding: 0 0 30px 0; width:940px;}
         .work ul {margin: 0; padding: 0; list-style: none; float:left; width:460px;}
         .work ul.pr-l {margin: 0; padding: 0; list-style: none; float:right; width:420px;}
         .work ul li {margin: 20px 0; min-height:30px; padding: 0 0 0 40px; background: url(../images/sm2.png) no-repeat center left; color:#574641; font-size: 19px;}

.students-bg {min-height: 312px; background: url(../images/st.jpg) no-repeat center top; background-size: auto 100%;}
.students-bg .students {margin:0 auto; width:1000px;}
             .students table {width:100%;}
             .students table td {padding: 0 30px; color:#574641; font-size: 19px; vertical-align: top; text-align: left;}
             .students table td .s-image {height:72px;}
             .students table td em {color:#fff; font-size: 30px; font-weight: bold; font-style: normal;}
             .students table td p {margin: 0;}

.price-bg {min-height: 1000px; background: url(../images/price.png) no-repeat center top; background-size: auto 100%;}
.price-bg .price {margin: 0 auto; width:1000px;}
          .price .table-pr0 {width:1000px; background: #f1dc7b; padding: 5px; border-radius: 10px; margin: 10px 0 0 0;}
                 .table-pr0 .table-pr {width:960px; background: #fff; border-radius: 10px; padding: 20px;}
                            .table-pr .price-l {float:left; width:490px;}
                                      .price-l p {color:#574641; font-size: 14px; margin: 0;}

                                      .price-r {float:right; width:425px;}
                                      .price-r .action {margin: 0;}

                            .table-pr table {width:100%;}
                            .table-pr table thead td {background: #f1dc7b; width:30%; height:50px; padding: 0 0 0 45px; color:#574641; font-size: 18px; font-weight: bold;}
                            .table-pr table thead td:first-child {border-radius: 10px 0 0 0;}
                            .table-pr table thead td:last-child {border-radius: 0 10px 0 0;}
                            .table-pr table tbody tr:last-child td:first-child {border-radius: 0 0 0 10px;}
                            .table-pr table tbody tr:last-child td:last-child {border-radius: 0 0 10px 0;}
                            .table-pr table tbody td {padding: 0 0 0 45px; width:30%; height:50px; background: #fff; border-bottom: 1px solid #f1dc7b; border-left: 1px solid #f1dc7b; color:#333333; font-size: 18px;}
                            .table-pr table tbody td .old-p {display: inline-block; width:120px; color:#666666; font-size: 14px; text-decoration: line-through;}
                            .table-pr table tbody td .new-p {display: inline-block; width:130px; color:#f00000; font-size: 18px;}
                            .table-pr table tbody td:nth-child(3) {border-right: 1px solid #f1dc7b;}

                            .table-pr .price-bt {color:#fff; display: block; font-size: 18px; font-weight:bold; text-align: center; line-height: 52px; height:52px; width:550px; margin: 20px auto 0 auto; text-transform: uppercase; text-shadow: 1px 1px 1px #4a7300; background: url(../images/price-bt.png) no-repeat;}
                            .table-pr .price-bt:hover {background: url(../images/price-bt2.png) no-repeat; text-decoration: none;}

                            .table-pr h4 {margin: 15px 0 5px 0; color:#574641; font-size: 19px; font-weight: bold; text-align: center;}

                            .table-pr ul {float:left; width:400px; list-style: none; margin: 0; padding: 0;}
                            .table-pr ul li {padding: 0 0 0 25px; margin: 2px 0; min-height: 18px; background: url(../images/ch.png) no-repeat center left; color:#574641; font-size: 17px;}

.reviews-bg {margin: 0; min-height: 600px;}
.reviews-bg .reviews {margin: 0 auto; width:1000px;}
            .reviews .reviews-bl {float:left; width:490px;}
                     .reviews-bl .rev {min-height: 70px; margin: 0 0 35px 0; padding: 10px 30px; background: #f1dc7b; border-radius: 15px; position: relative;}
                                 .rev p {margin: 10px 0; font-style: italic; color:#574641; font-size: 14px;}

                                 .rev .point {position: absolute; bottom:-20px; right:50px; width:43px; height:21px; background: url(../images/point.png) no-repeat;}

                                 .rev .rev-name {position: absolute; bottom:-20px; left:30px; color:#574641; font-size: 14px; font-style: italic;}

                     .reviews-bl .like {float:left;}
                     .reviews-bl .rev-all {float:right; margin: 5px 0 0 0; color:#574641; font-size: 14px; text-decoration: underline; font-weight: bold;}
                     .reviews-bl .rev-all:hover {text-decoration: none;}

            .reviews .partners {float:right; width:460px;}
                     .partners .partners-bl a {display: inline-block; width:150px; margin: 10px 0; text-align: center;}

.footer-bg {min-height: 310px; background: url(../images/footer.png) no-repeat center top;}
.footer-bg .footer {margin: 30px auto 0 auto; width:1000px;}
           .footer .f-title1 {padding: 40px 0 0 0; color:#574641; font-size: 36px; font-weight: bold; text-align: center;}
           .footer .f-title2 {color:#574641; font-size: 19px; font-weight: bold; padding: 10px 0 15px 0; text-align: center;}
		   .footer .f-title2 a {color:#574641; text-decoration: underline;}
		   .footer .f-title2 a:hover {color:#574641; text-decoration: none;}
           .footer .telp, .footer p {display: block; color:#574641; font-size: 24px; padding: 0 0 10px 0; margin: 0; text-align: center;}
		   .footer .telp p {display: inline-block; margin: 0; padding: 0;}
           .footer p span {font-size: 24px;}
           .footer p a {color:#574641; font-size: 20px; text-decoration: underline;}
           .footer p a:hover {text-decoration: underline;}

           .footer .f-bottom {margin: 5px 0 0 0; padding: 15px 30px; border-top: 1px solid #574641;}
                   .f-bottom .copy {float: left; width:300px; color:#574641; font-size: 13px; font-weight: bold;}
                   .f-bottom .cl {margin: 0 auto; width:300px; text-align: center;}
                   .f-bottom .cl a {color:#574641; font-size: 13px; font-weight: bold; text-decoration: underline;}
                   .f-bottom .cl a:hover {text-decoration: none;}
                   .f-bottom .social {float:right; width:200px; margin: -15px 0 0 0;}
                             .social a {display: inline-block; vertical-align: top;}

                   .f-bottom .count {float: right; width:31px; margin: -15px 0 0 0;}

			#mycarousel {
				height: 400px;
				width: 920px;
			}

			#mycarousel li{
				width: 920px;
				height: 400px;
				position: absolute;
				overflow: hidden;
				display: none;
			}

			#mycarousel li.v{
				display: block;
			}

			.next {
				position: absolute;
				top: 247px;
				right: 0px;
				width: 44px;
				height: 44px;
				cursor: pointer;
				background: transparent url(../images/next.png) no-repeat 0 0;
			}
			.prev {
				position: absolute;
				top: 247px;
				left: 0px;
				width: 44px;
				height: 44px;
				cursor: pointer;
				background: transparent url(../images/prev.png) no-repeat 0 0;
			}
			/**
			 *  Move Own
			 */
			.stage {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				overflow: hidden;
				z-index: 100;
			}
			.far-clouds {
				background: transparent url(../images/far-clouds.png) 0 12px repeat-x;
			}
			.near-clouds {
				background: transparent url(../images/near-clouds.png) 0 208px repeat-x;
			}
			.near-clouds2 {
				background: transparent url(../images/near-clouds.png) 0 10px repeat-x;
				background-size: 820px auto;
			}

.title-line-bg {height:102px; background: url(../images/title.png) no-repeat center top; margin: 20px 0 0 0; position: relative;}
.title-line-bg .title-line {margin: 0 auto; width:940px; text-align: right; line-height: 102px; color:#fff; font-size: 35px; font-weight: bold; text-shadow: 0 0 5px #ccc;}

.wrap-bg {}
.wrap-bg .wrap {margin: 0 auto; width:940px; padding: 40px 0;}

.banner-bg {padding-bottom: 20px; background: url(../images/banner.jpg) center top no-repeat; background-size: auto 100%;}
.banner-bg .banner {margin: 0 auto; width:940px;}
           .banner .search {float:right; width:700px; margin: 45px 0 0 0;}
                   .search input[type="text"] {float:left; width:495px; outline: none; height:48px; background: #fff; border: 2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 5px #c5bb90; padding: 0 15px; color:#574641; font-size: 16px;}
                   .search input[type="submit"] {float:right; width:152px; height:52px; background: url(../images/search-bt.png) no-repeat; outline: none; border: none; cursor: pointer;}
				   .search input[type="submit"]:hover {background: url(../images/search-bt-h.png) no-repeat;}
           .banner p {margin: 10px 0; color:#574641; font-size: 21px; text-align: center;}
		   .banner img {position: relative; z-index: 300;}

.work-list-bg {min-height: 665px;}
.work-list-bg .work-list {margin: 0 auto; width:940px; padding: 40px 0; overflow: hidden;}
              .work-list ul {margin: 0; padding: 0; list-style: none;}
              .work-list ul li {display: inline-block; width:309px; font-size: 14px;}
              .work-list ul li a {color:#006699;}
              .work-list ul li span {color:#999999;}

.kkcount-down {position: absolute; top: 4px; left: 7px; display: block; width: 200px;}
.kkc-dni, .kkc-dni-text, .kkc-min-text, .kkc-godz-text, .kkc-sec-text {display: none;}
.kkc-godz, .kkc-min, .kkc-sec {float: left; color:#ffffff; font-size: 34px; margin: 0 23px 0 0;}

.cont-window {position: absolute; top:25px; left:-10px; display: none; width:150px; height:134px; z-index: 300; padding: 20px; background: url(../images/cont-w.png) no-repeat;}
.cont-window .cont-l {float:left; width:40px; text-align: center; height:25px; color:#574641; font-weight: bold; font-size: 14px; line-height: 25px; text-align: center;}
.cont-window .cont-r {float:right; width:110px; height:25px;}
.cont-window .cont-r p {color:#574641; font-size: 16px; margin: 0;}
.cont-window .cont-r p span {font-size: 14px;}
.cont-window .co-bt {position: absolute; color:#574641; font-weight: bold; font-size: 14px; line-height: 26px; text-align: center; bottom:0; left:0; border:none; width:190px; height:28px; background: url(../images/co.png) no-repeat; text-decoration: none!important;}
.cont-window .co-bt:hover {border:none;}
.eml {color:#574641; font-size: 12px; text-decoration: none!important; display: block!important; text-align: center; border: none!important;}
.eml:hover {text-decoration: none!important;}

.work-cat-bg {}
.work-cat-bg .work-cat {margin: 0 auto; width:940px; padding: 40px 0;}
             .work-cat table {width:100%;}
             .work-cat table thead td {background: #f1dc7b; height:50px; padding: 0 0 0 45px; color:#574641; font-size: 18px; font-weight: bold;}
             .work-cat table thead td:first-child {border-radius: 10px 0 0 0;}
             .work-cat table thead td:last-child {border-radius: 0 10px 0 0;}
             .work-cat table tbody tr:last-child td:first-child {border-radius: 0 0 0 10px;}
             .work-cat table tbody tr:last-child td:last-child {border-radius: 0 0 10px 0;}
             .work-cat table tbody td {padding: 0 45px; height:50px; background: #fff; border-bottom: 1px solid #f1dc7b; border-left: 1px solid #f1dc7b; color:#666; font-size: 14px;}
             .work-cat table tbody td:nth-child(3) {border-right: 1px solid #f1dc7b;}
             .work-cat table tbody td a {display: block; color:#006699; font-size: 14px;}
             .work-cat table tbody td span {display: block; font-size: 12px; color:666;}

             .work-cat .cat-pag {margin: 17px 40px 0 0; float:right;}
                       .cat-pag span {display: inline-block; margin: 0 5px; width:30px; height:30px; border-radius: 30px; background: #f4ba00; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
                       .cat-pag a {display: inline-block; margin: 0 5px; width:30px; height:30px; border-radius: 30px; background: #f1dc7b; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
                       .cat-pag a:hover {text-decoration: none; background: #f4ba00;}

             .work-filter {margin: 0 0 30px 0; padding: 0 0 0 35px;}
             .work-filter .ok-bt {float:left; margin: 30px 0 0 0; color:#574641; font-weight: bold; text-align: center; text-transform: uppercase; background: url(../images/ok.png) no-repeat; line-height: 44px; font-size: 16px; width:78px; height:44px;}
             .work-filter .ok-bt:hover {background: url(../images/ok-h.png) no-repeat; text-decoration: none;}
             .work-filter .clear-bt {float:left; margin: 40px 20px 0 20px; color:#006699; font-size: 16px; text-decoration: underline;}
             .work-filter .clear-bt:hover {text-decoration: none;}
             .work-filter .w-filter-val {float:left; margin: 0 20px 0 0;}
             .work-filter .w-filter-val span {display: block; margin: 0 0 10px 0; color:#574641; font-size: 16px;}

.rev-page-bg {}
.rev-page-bg .rev-page {margin: 0 auto; width:1000px; padding: 40px 0;}
			 a.add-rev {float:left; width:167px; height: 44px; background: url(../images/rev-bt.png) no-repeat; line-height: 44px; color:#574641; font-size: 14px; font-weight: bold; text-align: center;}
                       a.add-rev:hover {text-decoration: none; background: url(../images/rev-bt-h.png) no-repeat;}
             .rev-page .rev-pag {margin: 5px 0 0 0; float:right;}
                       .rev-pag span {display: inline-block; margin: 0 5px; width:30px; height:30px; border-radius: 30px; background: #f4ba00; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
                       .rev-pag a {display: inline-block; margin: 0 5px; width:30px; height:30px; border-radius: 30px; background: #f1dc7b; text-align: center; line-height: 30px; color:#574641; font-size: 14px;}
                       .rev-pag a:hover {text-decoration: none; background: #f4ba00;}

             .rev-page .rev-bl {margin: 20px 0 40px 0;}
                       .rev-bl .rev-left {float:left; width:143px; padding: 0 15px;}
                               .rev-left .stars {height:30px; margin: 15px 0 0 0;}
                                         .stars .rite {display:inline-block; width:23px; height:22px; background: url(../images/st2.png) no-repeat;}
                                         .stars .rite.act {background: url(../images/st1.png) no-repeat;}

                       .rev-bl .rev-right {float:right; width:750px; margin: 0; padding: 10px 30px; background: #f1dc7b; border-radius: 8px; position: relative;}
                               .rev-right p {margin: 10px 0; font-style: italic; color:#574641; font-size: 14px;}

                               .rev-right .point {position: absolute; bottom:-20px; right:50px; width:43px; height:21px; background: url(../images/point.png) no-repeat;}

                               .rev-right .rev-name {position: absolute; bottom:-20px; left:30px; color:#574641; font-size: 14px; font-style: italic;}

.aut-log {float:right; width:464px; margin: 45px 0 0 0;}
.aut-log .reg-bt {float:left; margin: 0 15px 0 0; width:284px; height:52px; background: url(../images/reg-bt.png) no-repeat; text-align: center; line-height: 52px; font-size: 18px; font-weight: bold; text-transform: uppercase; color:#fff; text-shadow: 1px 0 1px #426700;}
.aut-log .reg-bt:hover {background: url(../images/reg-bt-h.png) no-repeat; text-decoration: none;}
.aut-log .log-bt {float:left; width:152px; height:52px; background: url(../images/log-bt.png) no-repeat; text-align: center; line-height: 52px; font-size: 18px; font-weight: bold; text-transform: uppercase; color:#574641;}
.aut-log .log-bt:hover {background: url(../images/log-bt-h.png) no-repeat; text-decoration: none;}

.authors-bg {}
.authors-bg .authors {margin: 0 auto; width:940px; padding: 40px 0;}
            .authors h2 {text-align: center; margin: 5px 0; color:#574641; font-weight: normal; font-size: 30px;}
            .authors > p {margin: 10px 0; color:#574641; font-size: 19px;}
            .authors .date {text-align: center; color:#574641; font-size: 19px;}
            .authors .date strong {color:#f4ba00; font-size: 30px; font-weight: bold;}

            .authors .client-work {margin: 35px 0; padding: 25px; background: #f1dc7b; border-radius: 10px;}
                     .client-work h3 {text-align: center; color:#574641; font-size: 30px; margin: 0; font-weight: normal;}
                     .client-work .client-w-l {float:left; width:365px; padding:30px; background: url(../images/line2.png) no-repeat center right;}
                                  .client-w-l h4 {color:#574641; font-size: 19px; margin: 5px 0; font-weight: normal;}
                                  .client-w-l p {color:#574641; font-size: 14px; margin: 5px 0; font-style: italic;}
                     .client-work .client-w-r {float:left; width:365px; padding:30px;}
                                  .client-w-r h4 {color:#574641; font-size: 19px; margin: 5px 0; font-weight: normal;}
                                  .client-w-r p {color:#574641; font-size: 14px; margin: 5px 0; font-style: italic;}
                     .zakaz-list {margin: 35px 0; padding: 15px 0 15px 50px; background: #f1dc7b; border-radius: 10px;}
                     .zakaz-list ul {margin: 0; padding: 0; list-style: none;}
                     .zakaz-list ul li {display: inline-block; padding: 0 0 0 40px; width:380px; margin: 5px 0; min-height: 32px; background: url(../images/sm2.png) no-repeat; color:#574641; font-size: 19px;}

.aut-bt {margin: 35px 0 0 0; text-align: center;}
.aut-bt .reg-bt {display: inline-block; margin: 0 15px 0 0; width:284px; height:52px; background: url(../images/reg-bt.png) no-repeat; text-align: center; line-height: 52px; font-size: 18px; font-weight: bold; text-transform: uppercase; color:#fff; text-shadow: 1px 0 1px #426700;}
.aut-bt .reg-bt:hover {background: url(../images/reg-bt-h.png) no-repeat; text-decoration: none;}
.aut-bt .log-bt {display: inline-block; width:152px; height:52px; background: url(../images/log-bt.png) no-repeat; text-align: center; line-height: 52px; font-size: 18px; font-weight: bold; text-transform: uppercase; color:#574641;}
.aut-bt .log-bt:hover {background: url(../images/log-bt-h.png) no-repeat; text-decoration: none;}

.timer {float:left; width:174px;}
.timer p {font-size:13px; color:#000; margin: 5px 0;}
.timer .timer-bl {width:174px; height:65px; background: url(../images/timer.png) no-repeat; position: relative;}

.contacts-bg {}
.contacts-bg .contacts {margin: 0 auto; width:940px; padding: 40px 0;}
             .contacts .contacts-l {float:left; width:340px;}
                       .contacts-l .cont-tel p {display: inline-block; color:#574641; font-size: 24px; margin: 0;}
                                   .cont-tel p span {font-size: 18px;}

                                   .cont-tel img {display: inline-block; margin: 0 10px 0 0;}

                       .contacts-l .c-tel {margin: 30px 0 0 0;}
                                   .c-tel em {color:#574641; font-size: 18px; display: block; margin: 0 0 10px 0;}
                                   .c-tel .cont-l {float:left; width:40px; margin: 0 10px 0 0; text-align: center; min-height:25px; color:#574641; font-weight: bold; font-size: 14px; line-height: 25px; text-align: center;}
                                   .c-tel .cont-r {float:left; width:110px; min-height:25px;}
                                   .c-tel .cont-r p {color:#574641; font-size: 16px; margin: 0;}
                                   .c-tel .cont-r p span {font-size: 14px;}
                                   .c-tel a {display: block; margin: 20px 0; color:#006699; font-size: 18px; text-decoration: underline;}
                                   .c-tel a:hover {text-decoration: none;}

                       .contacts-l .c-txt {margin: 40px 0 0 0;}
                                   .c-txt h3 {margin: 0; color:#574641; font-size: 18px; font-weight: normal;}
                                   .c-txt p {color:#574641; font-size: 14px; margin: 3px 0;}

             .contacts .contacts-r {float:right; width:600px; height:500px;}

.work-list h1 {
	text-align: center;
	font-size: 30px;
	color: #574641;
	font-family: Tahoma;
	margin: -16px 0 16px 0;
	font-weight: normal;
}

.work_pbuy {
	width: 940px;
	min-height: 471px;
	background: #f1dc7b url(../images/work_pbuy.png) no-repeat center left;
	border-radius: 12px;
	-moz-border-radius: 12px;
	-webkit-border-radius: 12px;
	overflow: hidden;
	margin: 14px 0;
}
.work_pbuy_t1 {
	text-align: center;
	font-size: 18px;
	color: #574641;
	font-family: Tahoma;
	margin: 25px 0 5px 0;
}
.work_pbuy_t2 {
	text-align: center;
	font-size: 30px;
	color: #574641;
	font-family: Tahoma;
	margin: 0;
}
.work_pdesc table tr td {
	padding: 10px 0;
	border-bottom: 1px solid #f4ba00;
	vertical-align: top;
	color: #574641;
	font-size: 18px;
	font-family: Tahoma;
}
.work_pdesc table tr td:first-child {
	width: 220px;
	min-width: 220px;
}
.work_pdesc table tr td a {
	color: #006699;
	text-decoration: underline;
}
.work_pdesc table tr td a:hover {
	color: #006699;
	text-decoration: none;
}
.work-list .work_pzmist {
	font-size: 14px;
	font-style: italic;
	white-space: pre-wrap;
}
.work_pbuy_list {

}
.work_pbuy_i {
	float: left;
	width: 250px;
	margin:  28px 0 0 54px;
}
.work_pbuy_i:first-child {
	margin: 28px 0 0 71px;
	width: 232px;
}
.work_pbuy_i:last-child {
	margin: 28px 0 0 40px;
}
.work_pbuy_i .name {
	font-size: 19px;
	margin: 8px 0 10px 0;
	color: #574641;
	font-family: Tahoma;
}
.work_pbuy .desc {
	font-size: 14px;
	font-family: Tahoma;
	color: #574641;
	font-style: italic;
}
.work_pbuy a.buy {
	display: inline-block;
	min-width: 90px;
	height: 30px;
	background: #f4ba00;
	text-align: center;
	line-height: 30px;
	font-size: 12px;
	color: #574641;
	text-transform: lowercase;
	font-family: Tahoma;
	padding: 0 10px;
	margin: 24px 0 0 0;
	border-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-radius: 6px;
	font-weight: bold;
}
.work_pbuy a.buy:hover {
	text-decoration: none;
	background: #fff;
	color: #574641;
}
.work_line {
	background: #f4ba00;
	height: 1px;
	margin: 14px 0;
}
.work_zrazok {
	width: 902px;
	margin: 0 0 24px 0;
	padding: 17px 19px;
	background: #f9f1ca;
  white-space: pre-wrap;
}
.work_zrazok_t {
	margin: 0 0 8px 0;
	font-size: 18px;
	font-weight: bold;
	font-family: Tahoma;
	color: #574641;
}
.work_rec {
	margin: 0;
}
.work_rec_t {
	margin: 0 0 14px 0;
	font-size: 18px;
	font-family: Tahoma;
	color: #574641;
	font-weight: bold;
}
.work_rec ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
.bg .work-prod .work_rec ul li {
	display: block;
	padding: 0 0 6px 0;
	font-size: 14px;
	font-family: Tahoma;
	width: auto;
}
.work-prod .work_rec ul li a {
	color: #006699;
	text-decoration: none;
}
.work-prod .work_rec ul li a:hover {
	color: #006699;
	text-decoration: underline;
}

.table-pr.pr2 {width:100%; margin: 0; padding: 0;}
.price-txt-l {float:left; width:370px;}
.price-txt-l p {color:#574641; font-size: 15px; font-style: italic; margin: 3px 0;}
.price-txt-r {float:right; width:480px;}
.price-txt-r p {color:#574641; font-size: 15px; text-align: justify; font-style: italic; margin: 0;}

.op-title {text-align: center; margin: 0 0 15px 0; color:#574641; font-size: 30px;}
.op-title span {color:#57b003; font-weight: bold;}

.op-num {text-align: center;}
.op-num p {margin: 0; color:#574641;font-size: 22px;}

.op-title2 {margin: 35px 0 0 0; color:#574641; font-size: 19px; font-weight: bold; text-align: center;}
.op-title3 {text-align: center; margin: 25px 0; color:#f00000; font-size:19px;}

.op-txt {margin: 30px 0 20px 0;}
.op-txt .op-txt-bl {display: inline-block; margin: 0 10px 0 0; width:300px; vertical-align: top; position: relative;}
        .op-txt-bl .op-l {float: left; width:65px;}
        .op-txt-bl .op-r {float: left; width:235px;}
                   .op-r h3 {color:#574641; font-size: 19px; margin: 0 0 5px 0; font-weight: normal;}
                   .op-r p {color: #574641; font-size: 14px; margin: 0; font-style: italic;}
                   .op-r p a {color:#006699; text-decoration: underline;}
                   .op-r p a:hover {text-decoration: none;}

.authors .client-work {margin: 35px 0 50px 0; padding: 25px; background: #f1dc7b url(../images/sh2.png) no-repeat 10px 10px; border-radius: 10px;}
.sh3 {position: absolute; z-index: -99; top: -60px; left: -80px; width:200px; height:201px; background: url(../images/sh3.png) no-repeat;}

.rev-val.r2 input {float:left; width:45px!important; margin: 0 5px 0 0; text-align: center!important;}

.rev-val.r2 input.i2 {width:100px!important; text-align: center!important;}
.rev-val input.valid {border: 2px solid #66cc33!important;}
.rev-val input.error {border: 2px solid #ff0000!important;}
.rev-val.r2 .koma {float:left; margin: 9px 10px 0 10px; color:#333333; font-size: 18px;}
.rev-val.r2 p {float:left; margin: 5px 0 0 10px; color:#574641; font-size: 12px;}
.rev-val.r2 p i {display: block; font-style: normal; color:#574641; font-size: 12px; width: auto!important; text-align: left;}
label.error {font-size: 12px!important; color: #ff0000!important;}
.action.ac2 {float:right;}

.zakaz-pagination {margin: 0 auto; width:826px;}
.zakaz-pagination .zakaz-pag {float:left; width:105px; text-align: center;}
                  .zakaz-pag span {color:#c7c6c6; font-size: 18px;}
                  .zakaz-pag .zakaz-num {margin: 0 auto 10px auto; width:82px; height:81px; text-align: center; line-height: 81px; color:#fff; font-size: 36px; font-weight: bold; background: url(../images/num.png) no-repeat;}
                  .zakaz-pag.act .zakaz-num {background: url(../images/num2.png) no-repeat;}
                  .zakaz-pag.act span {color:#f4ba00;}
.zakaz-pagination .arrow-z {float:left; width:255px; height:21px; margin: 30px 0 0 0; background: url(../images/arr2.png) no-repeat;}
.zakaz-pagination .arrow-z.act {background: url(../images/arr3.png) no-repeat;}

.zakaz-form {margin: 30px 0 10px -35px; width:935px; border-radius: 10px; border: 5px solid #fff5c6; background: #f1dc7b; padding: 20px;}
.zakaz-form-l {float:left; width:457px;}
.z-val {margin: 0 0 15px 0;}
.z-val label {color:#574641; font-size: 16px;  margin: 0 0 5px 0; display: block; margin: 0 0 5px 0;}
.z-val label span {color:#ff0000;}
.z-val input {height:40px; width:432px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; color:#574641; font-size: 16px;}
.z-val input.valid {border: 2px solid #66cc33;}
.z-val input.error {border: 2px solid #ff0000;}
.z-val-l {float:left; width:220px;}
.z-val-l input {width:196px;}
.z-val-r {float:right; width:220px;}
.z-val-r input {width:196px;}
.zakaz-form-r {float:right; width:457px;}
.zakaz-form-c {width:100%; margin: 0 0 15px 0;}
.zakaz-form-c textarea {height:70px; color: #574641; font-size: 16px; font-family: Tahoma; width:97.3%; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 10px; color:#574641; font-size: 16px;}
.zakaz-form-c label {color:#574641; font-size: 16px;  margin: 0 0 5px 0; display: block; margin: 0 0 5px 0;}
.zakaz-form-c label span {color:#ff0000;}

.z-val.tell input {float:left; width:45px!important; margin: 0 5px 0 0; text-align: center!important;}
.z-val.tell input.i2 {width:100px!important; text-align: center!important;}
.z-val.tell .koma {float:left; margin: 9px 10px 0 10px; color:#333333; font-size: 18px;}
.z-val.tell p {float:left; width:25%; margin: 0 0 0 10px; color:#574641; font-size: 11px;}

.zakaz-form input[type="submit"] {display: block; margin: 30px auto 0 auto; width:320px; height:52px; background: url(../images/zakaz2.png) no-repeat; text-align: center; line-height: 52px; font-size: 18px; font-weight: bold; outline: none; border: none; cursor: pointer; text-transform: uppercase; color:#fff; text-shadow: 1px 0 1px #426700;}
.zakaz-form input[type="submit"]:hover {background: url(../images/zakaz2-h.png) no-repeat; text-decoration: none;}

.ui-datepicker-trigger {position: absolute; top: 34px; right: 8px; cursor: pointer;}
.ui-widget {position: relative;}
.z-val .ui-widget .ui-button {position: absolute; opacity: 0.5; border-radius: 0px!important; top: 17px; right: 10px; font-family: tahoma!important; font-size: 14px!important; border: none!important; background: url(../images/cf-selects-3.png)!important; width: 12px!important; height: 11px!important; cursor: pointer; padding: 0;}
.z-val .ui-widget .ui-button:hover {opacity: 1;}
.z-val .ui-widget .ui-button span {display: none!important;}
.custom-combobox-input {font-size: 16px!important; color: #574641!important; font-family: tahoma!important; font-weight: normal!important;}
.ui-autocomplete {overflow-y: auto; height: 250px; width: 436px!important; border-radius: 0px!important; list-style: none!important; padding: 0 10px!important; margin: 0!important; border: none!important; background: none!important;}
.ui-autocomplete li:first-child{border-top: 1px solid #f4ba00!important;}
.ui-autocomplete li {border-left: 1px solid #f4ba00!important; border-right: 1px solid #f4ba00!important; background: #fff!important; padding: 4px 30px!important; font-size: 14px!important;}
.ui-autocomplete li:hover{background: #f4ba00!important; color: #fff!important;}
.ui-autocomplete li a {background: none!important; font-weight: normal!important; display: block!important; border: none!important;}
.ui-autocomplete li a:hover, .ui-autocomplete li:hover a {text-decoration: none!important; cursor: pointer; background: none!important; font-weight: normal!important; display: block!important; color: #fff!important;}
.ui-autocomplete li:last-child{border-bottom: 1px solid #f4ba00!important;}
.ui-tooltip {display: none!important;}
.ui-autocomplete li.ui-menu-category {font-size: 16px!important; font-weight: bold; color: #f4ba00!important; background: #fff!important; padding: 0 20px!important;}
.faq_items {
	margin:0;
}
.faq_item {
	background: #f1dc7b;
	border-radius: 7px;
	-moz-border-radius: 7px;
	-webkit-border-radius: 7px;
	-khtml-border-radius: 7px;
	margin: 0 0 10px 0;
}
.faq_item_t {
	font-size: 22px;
	font-weight: normal;
	color: #574641;
	padding: 16px 21px 12px 21px;
}
.faq_item ul {
	padding: 9px 0 0 0;
	margin: 0;
	list-style: none;
	background: #f7f2c7;
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-khtml-border-radius: 0 0 7px 7px;
}
.faq_item ul li {
	min-height: 31px;
	display: block;
	overflow: hidden;
}
.faq_item ul li:last-child {
	border-radius: 0 0 7px 7px;
	-moz-border-radius: 0 0 7px 7px;
	-webkit-border-radius: 0 0 7px 7px;
	-khtml-border-radius: 0 0 7px 7px;
}
.faq_item ul li:nth-child(odd) {
	background: #f7f2c7;
}
.faq_item ul li:nth-child(even) {
	background: #eee8b3;
}
.faq_item ul li a {
	padding: 0 0 0 21px;
	font-size: 14px;
	color: #006699;
	line-height: 31px;
}
.faq_item ul li .faq_item_c {
	padding: 20px 18px;
	background: #fff;
	margin: 2px;
	color: #574641;
	font-size: 14px;
	display: none;
}