.global>.gbt{
    display: block;
    margin: 0px auto;
    width: 222px;
    height: 52px;
    text-transform: uppercase;
    text-align: center;
    text-shadow: 1px 0 1px #426700;
    color: #fff;
    font-size: 18px;
    line-height: 52px;
    background: url(./images/work-bt.png) no-repeat;
    }
.global>.gbt:hover {
    background: url(./images/work-bt-h.png) no-repeat;
    text-decoration:none;
}