.profile-block-hidden
{
	display: none;
}

.profile-block-shown
{
	display:block;
}




.profile-table
{
	width: 100%;
}

.profile-link
{
	margin-top: 5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom: 5px;
	font-weight: bold;
}

.profile-table td {
	vertical-align: top;
	width:50%;
}
.wide_field_descr
{
	display: inline;
	margin-left: 10px;
}
form input.wide {
    width: 255px !important;
}

