.addwork_form .af_val.ats1 .sbHolder{
	    width: 78px;
    /* background-size: 100% 100%; */
    display:inline-block;
    margin: 0 20px 0 0;
}
.dodate .ui-datepicker-trigger {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 12px;
}
.dodate {
    float: left;
    position: relative;
}