.overlay {
     background:#000;
     position:fixed;
     top:0px;
     bottom:0px;
     left:0px;
     right:0px;
     z-index:9998;
     opacity:0.5;
}
.nonebox{
     position:absolute;
     top:-1000px;
     left:50%;
     margin-left:-250px;
     background:#f1dc7b;
     padding:25px 20px;
     width:460px;
     z-index:9999;
     border: 3px solid #fff5c6;
     border-radius: 10px;
}
.nonebox h2 {
	margin:0 0 14px 0;
	padding:0;
	color:#574641;
	font-size:19px;
	text-transform:uppercase;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	font-weight: bold;
	font-family: Tahoma;
}
.agent_form {
	margin: 0;
}
.agent_form .af_val {
	margin: 0 0 15px 0;
}
.af_val2 {
	width: 200px;
	float: left;
}
.af_val label {
	display: block;
	margin: 0 0 10px 0;
	color:#574641;
	font-size: 16px;
}
.af_val label span {
	color:red;
}
.af_val input[type="text"] {
	height:40px;
	width:445px;
	outline: none;
	background: #fff;
	border:2px solid #fff5c6;
	border-radius: 10px;
	box-shadow: inset 1px 1px 1px #c5bb90;
	padding: 0 10px;
	color:#574641;
	font-size: 16px;
}
.af_val textarea {
	height:40px;
	width:445px;
	height:120px;
	outline: none;
	background: #fff;
	border:2px solid #fff5c6;
	border-radius: 10px;
	box-shadow: inset 1px 1px 1px #c5bb90;
	padding: 10px;
	font-family: 'Tahoma';
	color:#574641;
	font-size: 16px;
}
.af_val p {
	float:left;
	margin: 0 10px 0 0;
	color:#574641;
	font-size: 16px;
}
.agent_form input[type="submit"] {
	float:left;
	outline: none;
	font-weight: bold;
	border: none;
	cursor: pointer;
	color:#574641;
	font-size: 16px;
	width:180px;
	height:43px;
	text-align: center;
	line-height: 42px;
	text-shadow:1px 1px 0 #fff;
	background: url(../images/af_button.png) no-repeat;
}
.agent_form input[type="submit"]:hover {
	color:#574641;
	background: url(../images/af_button_h.png) no-repeat;
}
.af_val.phone input {
	float:left;
	width:45px!important;
	margin: 0 5px 0 0;
	text-align: center!important;
}
.af_val.phone input.i2 {
	width:100px!important;
	text-align: center!important;
}
.af_val input.valid, .af_val textarea.valid {
	border: 2px solid #66cc33!important;
}
.af_val input.error, .af_val textarea.error {
	border: 2px solid #ff0000!important;
}
.af_val.phone .koma {
	float:left;
	margin: 9px 10px 0 10px;
	color:#333333;
	font-size: 18px;
}
.af_val.phone p {
	float:left;
	margin: 5px 0 0 10px;
	color:#574641;
	font-size: 12px;
	font-style: italic;
}
.af_val.phone p i {
	display: block;
	font-style: italic;
	color:#574641;
	font-size: 12px;
}
.af_check {
	text-align: center;
}
.af_check label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
}
.af_check2 label {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	font-size: 16px;
	color: #574641;
}
.af_check2 i {
	display: inline-block;
	font-size: 12px;
	color: #666;
	font-style: italic;
}
.af_check2 i.af_val2_i {
	margin: -10px 0 0 38px;
}
.af_val.af_file {}
.af_val.af_file label {
	display: inline-block;
}
.agent_form	a.cancel {
	padding: 0 0 0 20px;
	float: left;
	width: 118px;
	background: url(../images/cancel.png) no-repeat center left;
	text-decoration: underline;
	font-size: 14px;
	color: #006699;
	margin-top: 14px;
}
.agent_form	a.cancel:hover {
	text-decoration: none;
	color: #006699;
}

.close{
     position: absolute;
     width:24px;
     height:24px;
     cursor:pointer;
     display:block;
	 background: url(../images/close.png) no-repeat;
	 right: 10px;
	 top: 10px;
}

/***Stylesheet for Work Detail Popup***/
.nonebox_w {
     position:absolute;
     top:-2000px;
     left:50%;
     margin-left:-320px;
     background:#f1dc7b;
     padding:40px 10px 15px 10px;
     width:620px;
     z-index:9999;
     border: 3px solid #fff5c6;
     border-radius: 10px;
     overflow: hidden;
}

.nonebox_w .cl-table thead td {
  padding: 10px;
  background: #f3c831;
  text-align: center;
  color:#574641;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
}

.nonebox_w .cl-table tbody td {
  padding: 10px;
  background: #f9eba8;
  color:#574641;
  font-size: 14px;
}

.nonebox_w .cl-table tbody td span {
  color:#006699;
}

.nonebox_w .cl-table tbody td:first-child {
  padding: 10px;
  background: #f9eba8;
  color:#574641;
  font-size: 14px;
  font-weight: bold;
}

.clp-val {
  margin: 15px 0 0 0;
}

.clp-val label {
  float:left;
  padding: 10px 0 0 10px;
  width:90px;
  color:#574641;
  font-size: 16px;
}

.clp-val textarea {
  width:490px!important;
  height:105px!important;
  outline: none;
  background: #fff;
  border:2px solid #fff5c6;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #c5bb90;
  padding: 10px;
  outline:none;
  color:#574641;
  font-size: 16px;
}

.clp-new-val textarea {
  width:595px!important;
  height:105px!important;
  outline: none;
  background: #fff;
  border:2px solid #fff5c6;
  border-radius: 10px;
  box-shadow: inset 1px 1px 1px #c5bb90;
  padding: 10px;
  outline:none;
  color:#574641;
  font-size: 16px;
}

.clp-bt {
  float:right;
  margin: 20px 0 0 0;
  width:180px;
  height:44px;
  background: url(../images/clp.png) no-repeat;
  text-align: center;
  line-height: 44px;
  color:#574641!important;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 1px 1px 0 #fff;
}

.clp-bt:hover {
  background: url(../images/clp-h.png) no-repeat;
  text-decoration: none;
}

.cl2-table {
  margin: 25px 0 0 0;
}

.cl2-table tr:nth-child(odd) td {
  padding: 10px 0 10px 20px;
  color:#574641;
  font-size: 14px;
  background: #f9eba8;
}

.cl2-table tr:nth-child(even) td {
}

.cl2-table tr td:first-child {
  width:100px;
}

.cl2-table tr td {
  padding: 10px 0 10px 20px;
  color:#574641;
  font-size: 14px;
  vertical-align: top;
}

.cl2-table td span {
  color:#006699;
}

.nw-table {
  margin: 25px 0 0 0;
}

.nw-table tr:nth-child(odd) td {
  padding: 10px 0 10px 17px;
  color:#574641;
  font-size: 14px;
  background: #f9eba8;
}

.nw-table tr:nth-child(even) td {
}

.nw-table tr td:first-child {
  width:100px;
  white-space: pre-wrap;
}

.nw-table tr td {
  padding: 10px 0 10px 17px;
  color:#574641;
  font-size: 14px;
  vertical-align: top;
  white-space: pre-wrap;
}

.nw-table td span {
  color:#006699;
}

.nonebox_w h3 {
  margin: -15px 0 15px 0;
  text-align: center;
  font-weight: normal;
  color:#574641;
  font-size: 18px;
}

.all-w {
  text-align: center;
  margin: 25px 0 10px 0;
  color:#574641;
  font-size: 16px;
  font-weight: bold;
}

.ready-table {
  background: #f4ba00;
}

.ready-table thead td {
  padding: 10px 10px 5px 10px;
  color:#574641;
  font-weight: bold;
  font-size: 14px;
}

.ready-table tbody td {
  padding: 10px 0 5px 10px;
  color:#574641;
  font-size: 12px;
  background: #fff;
  vertical-align: top;
}

.ready-table tbody td a {
  color:#006699;
  font-size: 12px;
}

.ready-table tbody td span {
  color:#666;
  display: block;
}

.r-pag {
  text-align: center;
  padding: 5px;
  background: #f4ba00;
}

.r-pag .r-pag-num, .r-pag .r-pag-prev, .r-pag .r-pag-next {
  display: inline-block;
  width:20px;
  height:20px;
  background: #f1dc7b;
  color:#574641;
  font-size: 12px;
  line-height: 20px;
  border-radius: 20px;
}

.r-pag .r-pag-num:hover, .r-pag .r-pag-num.active, .r-pag .r-pag-prev:hover, .r-pag .r-pag-next:hover {
  display: inline-block;
  width:20px;
  height:20px;
  background: #fff;
  text-decoration: none;
}

.r-pag .r-pag-txt {
  display: inline-block;
  width:20px;
  height:20px;
  color:#574641;
  font-size: 12px;
}

.new-pl {
  padding: 20px;
  background: #f4ba00;
  margin: 20px 0 0 0;
}

.new-pl-l {
  float:left;
  width:290px;
  border-right: 1px solid #f1dc7b;
}

.new-pl-l p {
  margin: 0 0 20px 0;
  color:#574641;
  font-size: 14px;
}

.new-pl-r {
  float:right;
  width:275px;
}

.new-pl-r p {
  margin: 0 0 10px 0;
  color:#574641;
  font-size: 14px;
}

.new-pl-r table {
  width:100%;
}

.new-pl-r table td a {
  color:#006699;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 0 0 20px;
  background: url(../images/close_2.png) no-repeat;
  margin: 0;
}

.new-pl-r table td a:hover {
  text-decoration: none;
}

.new-pl-r input {
  display: inline-block;
  margin: 0 5px;
  width:45px;
  background: #fff;
  height:20px;
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 4px #aaa;
  padding: 0 10px;
  color:#333333;
  font-size: 14px;
}

.new-pl-r a {
  display: block;
  margin: 15px 0 0 0;
  color:#006699!important;
  font-size: 14px;
}

.new-pl-bt {
  margin: 20px 0 0 0;
  text-align: center;
}

.new-pl-bt .edit {
  color:#f1dc7b;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #574641;
  display: inline-block;
  width:180px;
  height:44px;
  background: url(../images/edit2.png) no-repeat;
  line-height: 44px;
  text-align: center;
  margin: 0 20px;
}

.new-pl-bt .edit:hover {
  background: url(../images/edit2-h.png) no-repeat;
  text-decoration: none;
}

.new-pl-bt .save {
  margin: 0 20px;
  color:#574641;
  font-size: 16px;
  font-weight: bold;
  text-shadow: 0px 0px 1px #f1dc7b;
  display: inline-block;
  width:180px;
  height:44px;
  background: url(../images/clp.png) no-repeat;
  line-height: 44px;
  text-align: center;
}

.new-pl-bt .save:hover {
  background: url(../images/clp-h.png) no-repeat;
  text-decoration: none;
}

.activation {
  margin: 15px 0 0 0;
  padding: 15px;
  background: #f9eba8;
}

.activation .act-bt {
  width:123px;
  height:28px;
  display: inline-block;
  background: url(../images/act.png) no-repeat;
  color:#574641;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  line-height: 28px;
  padding: 0 0 0 20px;
}

.activation .act-bt:hover {
  background: url(../images/act-h.png) no-repeat;
  text-decoration: none;
}

.activation p {
  color:#574641;
  font-size: 14px;
  margin: 3px 0;
  display: inline-block;
}

.new-pay {
  padding: 20px;
  background: #f4ba00;
  margin: 20px 0 0 0;
}

.new-pay-t {
  border-bottom: 1px solid #f1dc7b;
  padding: 0 0 12px 0;
  margin: 0 0 8px 0;
}

.new-pay-l {
  float:left;
  width:290px;
  border-right: 1px solid #f1dc7b;
}

.new-pay-l p {
  margin: 0 0 10px 0;
  color:#574641;
  font-size: 14px;
}

.new-pay-l table {
  width:100%;
}

.new-pay-l table td a {
  color:#006699;
  font-size: 12px;
  text-decoration: underline;
  padding: 0 0 0 20px;
  background: url(../images/close_2.png) no-repeat;
  margin: 0;
}

.new-pay-l table td a:hover {
  text-decoration: none;
}

.new-pay-l input {
  display: inline-block;
  margin: 0 5px;
  width:45px;
  background: #fff;
  height:20px;
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 4px #aaa;
  padding: 0 10px;
  color:#333333;
  font-size: 14px;
}

.new-pay-l a {
  display: block;
  margin: 15px 0 0 0;
  color:#006699!important;
  font-size: 14px;
}

.new-pay-r {
  float:right;
  width:270px;
}

.new-pay-r p {
  margin: 5px 0 10px 0;
  color:#574641;
  font-size: 14px;
}

.new-pay-r input[type="text"] {
  display: inline-block;
  margin: 0 0 0 10px;
  width:165px;
  background: #fff;
  height:20px;
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 4px #aaa;
  padding: 0 10px;
  color:#333333;
  font-size: 14px;
}

.new-pay-r .input-pay {
  display: inline-block;
  margin: 0 0 0 10px;
  width:60px;
  background: #fff;
  height:20px;
  border: 1px solid #fff;
  box-shadow: inset 1px 1px 4px #aaa;
  padding: 0 10px;
  color:#333333;
  font-size: 14px;
}

.order-price {
	 background: #f4ba00;
	 padding: 20px;
}

.order-price p {
	 text-align: center;
	 color:#574641;
	 font-size: 18px;
	 margin: 0 0 15px 0;
}

.order-price input {
	 display: inline-block;
	 height:40px;
	 width:90px;
	 outline: none;
	 background: #fff;
	 border:2px solid #fff5c6;
	 border-radius: 10px;
	 box-shadow: inset 1px 1px 1px #c5bb90;
	 padding: 0 10px;
	 margin: 0 5px;
	 color:#574641;
	 font-size: 16px;
}

.order-price .price-work {
	 color:#ffffff;
	 font-size:19px;
	 font-weight:bold;
	 text-align:center;
	 text-shadow: 1px 1px 1px #476b00;
	 width:248px;
	 height:52px;
	 display:inline-block;
	 margin: 0 10px;
	 background:url(../images/order.png) no-repeat;
	 text-transform: uppercase;
	 line-height: 52px;
}
.order-price .price-work:hover {
	 background:url(../images/order-h.png) no-repeat;
	 text-decoration: none;
}

.order-price .cancel {
	 color:#ffffff;
	 font-size:19px;
	 font-weight:bold;
	 text-align:center;
	 text-shadow: 1px 1px 1px #961711;
	 width:187px;
	 height:52px;
	 display:inline-block;
	 margin: 0 10px;
	 background:url(../images/cancel2.png) no-repeat;
	 text-transform: uppercase;
	 line-height: 52px;
}
.order-price .cancel:hover {
	 background:url(../images/cancel2-h.png) no-repeat;
	 text-decoration: none;
}

.ord-bts {
	 text-align: center;
}

.order-price textarea {
     margin: 15px 0 0 0;
	 width:555px!important;
     height:80px!important;
     outline: none;
     background: #fff;
     border:2px solid #fff;
     border-radius: 10px;
     box-shadow: inset 1px 1px 1px #c5bb90;
     padding: 10px;
     color:#574641;
     font-size: 14px;
	 font-family: 'Tahoma';
}

/***Add Work***/
.addwork_form .af_val2 input{
	width:158px!important;
	background-size: 100% 100%;
}

.nonebox .rev-form {margin:20px 0 0 0;}
         .rev-form .rev-val {margin: 0 0 15px 0;}
                   .rev-val label {display: block; margin: 0 0 10px 0; color:#574641; font-size: 16px;}
                   .rev-val label span {color:#ff0000;}
                   .rev-val input[type="text"] {height:40px; width:440px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; color:#574641; font-size: 16px;}
                   .rev-val textarea {height:40px; width:445px; height:120px; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 10px; font-family: 'Tahoma'; color:#574641; font-size: 16px;}
                   .rev-val p {float:left; margin: 0 10px 0 0; color:#574641; font-size: 16px;}
				   .rev-val .wrong {color:#006699; font-size: 14px; float:left;}
				   .rev-val .reg {color:#006699; font-weight: bold; font-size: 14px; float:right;}
				   .rev-val i {font-style: normal; text-align: center; color:#574641; font-size: 14px; width: 160px; display:block; margin: 0 auto;}
				   .rev-val .log-bt2 {float:none!important; display: block!important; margin: 0 auto!important; outline: none!important; font-weight: bold!important; border: none!important; cursor: pointer!important; color:#ffffff!important; font-size: 19px!important; width:152px!important; height:52px!important; text-align: center!important; line-height: 52px!important; text-shadow:1px 1px 0 #6d9e00!important; background: url(../images/log-bt2.png) no-repeat!important;}
				   .rev-val .log-bt2:hover {background: url(../images/log-bt2-h.png) no-repeat!important;}
				   .rev-val .reg-bt2 {float:none!important; text-transform: uppercase; display: block!important; margin: 0 auto!important; outline: none!important; font-weight: bold!important; border: none!important; cursor: pointer!important; color:#ffffff!important; font-size: 19px!important; width:320px!important; height:52px!important; text-align: center!important; line-height: 52px!important; text-shadow:1px 1px 0 #6d9e00!important; background: url(../images/zakaz2.png) no-repeat!important;}
				   .rev-val .reg-bt2:hover {background: url(../images/zakaz2-h.png) no-repeat!important;}
