//------------------------------
//    main
//------------------------------
.main{
    padding: 21px 0 40px;
}
.title{
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 33px;
}
.form-item{
    margin-bottom: 25px;
}
.form-item__label{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    &>span{
        color: #D53A3A;
    }
}
.form-item__range{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}
.form-item__range-input{
    width: 51px;
    input{
        text-align: center;
        padding: 0;
    }
}
.form-item__range-slider{
    width: calc(100% - 51px - 23px);
}
.irs--round .irs-grid{
    .irs-grid-pol{
        display: none;
    }
    .irs-grid-text{
        font-size: 12px;
        color: #B6A6A0;
        font-weight: 500;
    }
}
.form-item__range{
    .irs--round.irs-with-grid{
        margin-top: -19px;
    }    
    .irs-from, .irs-to, .irs-single{
        display: none;
    }
}

.info{
    display: inline-block;
    width: 16px;
    position: relative;
    transform: translateY(3px);
    z-index: 100;
}
    .show{
        .info__baloon{
            opacity: 1;
            visibility: visible;
            bottom: 100%;
        }     
        .info__icon{
            background: url(../images/help.svg) 0 0 no-repeat;
            background-size: 16px 16px;            
        }
    }
.info__icon{
    background: url(../images/help-disabled.svg) 0 0 no-repeat;
    background-size: 16px 16px;
    width: 16px;
    height: 16px;
    cursor: pointer;
}
.info__icon_plagiarism{
    background: url(../images/help-disabled-2.svg) 0 0 no-repeat;
    background-size: 16px 16px;    
}
.info__baloon{
    position: absolute;
    left: 50%;
    transform: translate(-50%, -23px);
    width: 320px;
    bottom: 0;
    background: #fff;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    color: #85726B;
    padding: 16px 27px 16px 18px;
    font-weight: normal;
    line-height: 1.3;
    z-index: 700;
    visibility: hidden;
    opacity: 0;
    transition: .2s;
    text-align: left;
    &:after{
        @extend .a;
        border-top: 10px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        left: 50%;
        bottom: -8px;
    }

}
.info__close{
    position: absolute;
    top: 8px;
    right: 8px;
    color: #E0D7D3;
    cursor: pointer;
    transition: .3s;
    &:hover{
        color: red;
    }
}
.info__baloon_plagiarism{
    margin-left: -13px;
    &:after{
        margin-left: 5px;
    }
}
.info__baloon_cost{
    margin-left: -75px;
    &:after{
        margin-left: 67px;
    }
}
.info__baloon_phone{
    left: 0;
    transform: none;
    width: 100%;
    max-width: 277px;
    font-size: 14px;
    margin-bottom: 15px;
    &:after{
        left: 15px;
        margin: 0;
    }
}

.form-item_originality{
    display: none;
    &.show{
        display: block;
    }
}
.form-item_phone-disabled{
    position: relative;
}
.form-item__label_file{
    padding-left: 22px;
    background: url(../images/document.svg) 0 center no-repeat;
    background-size: 20px 20px;
    line-height: 20px;
}


.file-list__item{
    display: flex;
    align-items: center;
    padding-bottom: 11px;
}
.file-list__name{
    max-width: calc(100% - 28px);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    color: #A0918C;
    font-size: 14px;
    font-style: italic;
    font-weight: normal;
}
.file-list__status{
    margin-left: 10px;
}
.remove-file{
    background: url(../images/close.svg) center no-repeat;
    background-size: 18px 18px;
    width: 18px;
    height: 18px;
    display: block;
}
.file-list__add-item{
    margin-top: 9px;
    display: flex;
    align-items: center;
    height: 34px;
}

.need-tutorial{
    display: none;
    align-items: center;
    color: #CF5050;
    font-size: 14px;
    font-weight: normal;
    background: #FCF2EF;
    height: 34px;
    border-radius: 3px;
    margin-left: 32px;
    padding: 0 11px;
    position: relative;
    &:after{
        @extend .a;
        position: absolute;
        top: 50%;
        left: -8px;
        border-right: 9px solid #FCF2EF;
        margin-top: -5px;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
    }
    &.show{
        display: flex;
    }
}
.contact-information{
    padding: 27px 23px 8px;
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    margin-bottom: 23px;
    input[type="text"].input-dropdown,
    .selectize-input,
    .nice-select{
        background: #fff;
    }
}
.contact-information_mt{
    margin-top: 44px;
}
.contact-information__title{
    text-align: center;
    font-size: 18px;
    font-weight: 600;
    padding-bottom: 8px;
}
.contact-information__desc{
    color: #A28C84;
    font-size: 14px;
    font-weight: normal;
    padding-bottom: 25px;
    text-align: center;
}

.approximate-cost{
    padding: 20px 0;
    background: #F9FFF9;
    border: 1px solid #CEDBCE;
    border-radius: 3px;
    text-align: center;
    margin-bottom: 23px;
}
.approximate-cost__title{
    font-size: 14px;
    padding-bottom: 7px;
}
.approximate-cost__price{
    color: #65B96D;
    font-size: 26px;
    font-weight: 600;
    span{
        font-size: 16px;
    }
}

//------------------------------
//    authorization
//------------------------------
.main_authorization{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}
.authorization{
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    padding: 23px 23px 32px;
    max-width: 343px;
    margin: 0 auto;
    border-radius: 3px;
}
.logo-full{
    display: block;
    width: 227px;
    margin: 0 auto 40px;
    img{
        display: block;
        width: 100%;
        height: auto;
    }
}
.form-item-bottom{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 5px;
}
.form-item-bottom__button{
    flex-grow: 1;
    margin-right: 22px;
}
.authorization__title{
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 33px;
}
.title-18{
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 33px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
.authorization__success{
    text-align: center;
    color: #65B96D;
    font-size: 14px;
    font-weight: normal;
    margin: -15px 0 20px;
    display: none;
}

.icon-padlock{
    background: url(../images/padlock.svg) 0 0 no-repeat;
    width: 26px;
    height: 26px;
    display: block;
    background-size: contain;
    margin-right: 12px;
}
.form-item-bottom_320{
    max-width: 320px;
}
.form-item-bottom__save{
    width: calc(58% - 10px);
}
.form-item-bottom__back{
    width: calc(42% - 10px);
}
.password-label{
    position: relative;
    display: block;
}
.show-hide-pass{
    position: absolute;
    right: 15px;
    top: 20px;
    background: url(../images/visibility.svg) 0 0 no-repeat;
    width: 18px;
    height: 18px;
    background-size: contain;
    display: block;
    margin-top: -9px;
    cursor: pointer;
    &.active{
        &:after{
            @extend .a;
            position: absolute;
            width: 27px;
            height: 2px;
            background: #B7A9A4;
            right: 0px;
            top: 0;
            transform-origin: top right;
            transform: rotate(-38deg);
        }
    }
}

//------------------------------
//    order-empty
//------------------------------
.order-empty{
    padding-top: 7px;
}
.order-empty__icon{
    background: url(../images/cart.svg) 0 0 no-repeat;
    width: 41px;
    height: 41px;
    background-size: contain;
    margin: 0 auto 20px;
}
.order-empty__text{
    text-align: center;
    color: #786660;
    font-size: 14px;
    padding-bottom: 26px;
    font-weight: normal;
}
.button_new-order{
    max-width: 230px;
    margin: 0 auto;
}


//------------------------------
//    order
//------------------------------
.order-list{
    padding-bottom: 15px;
}
.order{
    padding: 17px 20px 0;
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    margin-bottom: 20px;
}
.order__title{
    text-decoration: underline;
    font-size: 14px;
    display: block;
    margin-bottom: 13px;
    max-height: 36px;
    overflow: hidden;
    position: relative;
    &:hover{
        text-decoration: none;
    }
    &:after{
        @extend .a;
        position: absolute;
        right: 0;
        top: 18px;
        background: linear-gradient(to left, #FCF9F9 0.5%, rgba(252, 249, 249, 0.13) 92.59%);
        width: 108px;
        height: 15px;
    }
}
.order__category{
    color: #7D6A63;
    font-size: 12px;
    font-weight: normal;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 15px;
}
.order__row{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding-bottom: 19px;
}
.order__status{
    height: 27px;
    display: flex;
    align-items: center;
    background: #EFEAEA;
    border-radius: 3px;
    font-size: 12px;
    padding: 0 10px;
}
.order__status_moderation{
    background: #EFEAEA;
}
.order__status_looking{
    background: #EEEDED;
}
.order__status_prepayment{
    background: #F7EDDE;
}
.order__status_progress{
    background: #DEE8F7;
}
.order__status_approval{
    background: #DEF2F6;
}
.order__status_done{
    background: #F6EDDE;
}
.order__status_success{
    background: #E3F6DE;
}
.order__status_cancel{
    color: #D43A3A;
    background: #FFDDDD;
}
.order__bottom{
    margin: 0 -20px;
    border-top: 1px solid #ECE1DE;
}
.order__link{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    max-width: 335px;
    padding: 0 20px;
    height: 40px;
}
.order__message{
    color: #8E817D;
    font-size: 14px;
    font-weight: 600;
    padding-left: 21px;
    background: url(../images/mail-2.svg) 0 center no-repeat;
    background-size: 14px 14px;
    &.order__message_empty{
        background: url(../images/mail-1.svg) 0 center no-repeat;
        background-size: 14px 14px; 
    }
    &:hover{
        color: #E8BE30;
        background: url(../images/mail-2.svg) 0 center no-repeat;
        background-size: 14px 14px;
    }
}
.order__file{
    color: #8E817D;
    font-size: 14px;
    font-weight: 600;
    padding-left: 21px;
    background: url(../images/file-2.svg) 0 center no-repeat;
    background-size: 15px 15px;
    &.order__file_empty{
        background: url(../images/file-1.svg) 0 center no-repeat;
        background-size: 15px 15px; 
    }
    &:hover{
        color: #88AEE7;
        background: url(../images/file-2.svg) 0 center no-repeat;
        background-size: 15px 15px;
    }
}

.order__price_dotted{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 32px;
    margin-right: 15px;
    padding-top: 10px;
    span{
        background: #B7A9A4;
        width: 6px;
        height: 6px;
        border-radius: 50%;
        animation-name: blink;
        animation-duration: 1s;
        animation-iteration-count: infinite;
        animation-fill-mode: both;
        &:nth-child(2){
            animation-delay: .2s;
        }
        &:nth-child(3){
            animation-delay: .4s;
        }
    }
}



@keyframes blink {
    0% {
      opacity: .2;
    }
    20% {
      opacity: 1;
    }
    100% {
      opacity: .2;
    }
}


.order__price-label{
    font-size: 14px;
    margin-bottom: 4px;
    font-weight: normal;
}
.order__price-number{
    color: #6EB375;
    font-size: 15px;
    font-weight: bold;
    margin-bottom: 6px;
}
.order__evaluate{
    border-top: 1px solid #ECE1DE;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3px;
}

//------------------------------
//    archive
//------------------------------
.archive{
    margin: 80px 0 0;
    padding: 40px 0 0;
    position: relative;
    z-index: 500;
    &:before{
        @extend .a;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 103px;
        background: linear-gradient(180deg, rgba(52, 41, 38, 0.13) 0%, rgba(52, 41, 38, 0) 37.86%);
        z-index: -1;
    }
}
.archive__title{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 22px;
}
.archive__item{
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    padding: 17px 20px 12px;
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    font-weight: normal;
    align-items: center;
}
.archive__name{
    color: #A89D99;
    font-size: 14px;
    text-decoration: underline;
    width: 100%;
    margin-bottom: 6px;
    max-height: 36px;
    overflow: hidden;
    position: relative;
    &:hover{
        text-decoration: none;
    }
    &:after{
        @extend .a;
        position: absolute;
        right: 0;
        top: 18px;
        background: linear-gradient(to left, #FCF9F9 0.5%, rgba(252, 249, 249, 0.13) 92.59%);
        width: 108px;
        height: 15px;
    }
}
.archive__info{
    height: 27px;
    display: flex;
    align-items: center;
    color: #7D6A63;
    font-size: 12px;
}
.archive__status{
    background: #F7DEDE;
    display: flex;
    align-items: center;
    border-radius: 3px;
    background: #F7DEDE;
    height: 27px;
    font-size: 12px;
    color: #8E7878;
    padding: 0 10px;
    font-weight: 500;
}
.archive__rating{
    height: 15px;
    .jq-star{
        padding-left: 0;
        margin-left: 2px;
    }
}

//------------------------------
//    SINGLE ORDER
//------------------------------
.back-row{
    margin-top: -7px;
    padding-bottom: 11px;
}
.single-order__title{
    font-size: 15px;
    text-decoration: underline;
    padding-right: 10px;
    margin-bottom: 23px;
}
.single-order__row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 320px;
    padding-bottom: 17px;
}
.single-order__id{
    color: #7D6A63;
    font-size: 12px;
}
.single-order__show-detal{
    font-size: 12px;
    color: #7D6A63;
    font-weight: normal;
    display: flex;
    align-items: center;
    &:after{
        @extend .a;
        background: url(../images/arrow-select.svg) 0 0 no-repeat;
        width: 10px;
        height: 10px;
        transition: .3s;
        margin-left: 5px;
        margin-top: -6px;
        transform: rotate(180deg);
    }
    span{
        border-bottom: 1px dashed #7D6A63;
        transition: .3s;
    }
    &.active{
        span{
            color: #645753;
            border-bottom-color: #645753;
        }
        &:after{
            transform: rotate(0);
            margin-top: 4px;
        }
    }
    &:hover{
        span{
            border-bottom-color: transparent;
        }
    }
}


.single-order__row-2{
    display: flex;
    align-items: center;
    padding-bottom: 27px;
}
.single-order__status{
    display: flex;
    align-items: center;
    font-size: 14px;
    font-weight: 600;
    padding: 0 10px;
    height: 35px;
    border-radius: 3px;
    text-align: center;
    justify-content: center;
}

.single-order__paid{
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    padding: 8px 10px 8px 60px;
    position: relative;
    min-height: 51px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: normal;
    &:before{
        @extend .a;
        background: url(../images/wallet.svg) 0 0 no-repeat;
        width: 25px;
        height: 25px;
        background-size: contain;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}
.single-order__paid_success{
    background: #F7FFF7;
    border: 1px solid #C3D9C5;
    &:before{
        background: url(../images/wallet-green.svg) 0 0 no-repeat;
        background-size: contain;
        transform: none;
        top: 16px;
    }
}
.single-order__paid-line-1{
    padding: 3px 0;
    strong{
        font-weight: 600;
    }
}
.single-order__paid-line-2{
    padding: 3px 0;
}
.single-order__file{
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    overflow: hidden;
}
.single-order__file-top{
    height: 63px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: #5B524F;
    font-weight: normal;
    font-size: 12px;
    padding: 8px 10px 8px 60px;
    position: relative;
    span{
        font-size: 14px;
        font-weight: 600;
    }
    &:before{
        @extend .a;
        background: url(../images/file-3.svg) 0 0 no-repeat;
        width: 28px;
        height: 28px;
        background-size: contain;
        left: 18px;
        top: 50%;
        transform: translateY(-50%);
        position: absolute;
    }
}
.single-order__file-empty{
    .single-order__file-top{
        color: #ABA09B;
        span{
            color: #9D8C88;
        }
    }
}
.tip{
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 8px;
}
.tip__item{
    border: 1px solid #6EB275;
    border-radius: 3px;
    height: 26px;
    display: inline-flex;
    align-items: center;
    padding: 0 10px;
    font-size: 14px;
    color: #6EB275;
    font-weight: 600;
    margin-right: 10px;
    &:hover{
        background: #6EB275;
        color: #fff;
    }
}


//------------------------------
//    CHAT
//------------------------------
.chat{
    padding: 24px 15px 8px;
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    margin-top: 15px;
}
.chat__title{
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 23px;
    padding-left: 8px;
}
.chat__textarea{
    padding-bottom: 14px;
    textarea{
        height: 71px;
        padding-top: 12px;
    }
}
.chat__bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 19px;
}
.chat__send{
    flex-grow: 1;
    margin-left: 25px;
    max-width: 135px;
}


.chat__body{
    overflow-y: auto;
    max-height: 400px;
    margin: 0 -15px 0;
    padding: 0 15px;
    &::-webkit-scrollbar-button {
        width: 3px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #dcdfe3; 
        border-left: 1px solid #dcdfe3;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #B7A9A4;
        border-radius: 0;
    }
    &::-webkit-resizer{
        width: 3px;
        height:0px;
    }
    &::-webkit-scrollbar{
        width: 3px;
    }
}
.chat__message{
    padding: 0 8px;
    margin-bottom: 20px;
}
.chat__message-info{
    font-size: 12px;
    font-weight: normal;
    color: #6C5A5A;
    padding-bottom: 6px;
    span{
        color: #AEA0A0;
        white-space: pre-wrap;
    }
}
.chat__message-text{
    display: inline-block;
    text-align: left;
    font-size: 15px;
    line-height: 1.47;
    font-weight: normal;
    background: #fff;
    border-radius: 5px 5px 5px 0;
    padding: 10px 15px;
    position: relative;
    box-shadow: 10px 5px 30px rgba(0, 0, 0, 0.05);
    &:after{
        @extend .a;
        position: absolute;
        border-top: 5px solid transparent;
        border-bottom: 5px solid transparent;
        border-right: 10px solid #fff;
        left: -2px;
        bottom: 0;
        transform: rotate(-35deg);
        transform-origin: right bottom;
    }
}
.chat__message_user{
    text-align: right;
    .chat__message-text{
        background: #EAE3E3;
        border-radius: 5px 5px 0 5px;
        &:after{
            transform: rotate(35deg);
            left: auto;
            right: -2px;
            border-right: 0;
            border-left: 10px solid #EAE3E3;
            bottom: -6px;
        }
    }
}
.doc-link{
    color: $c2;
    text-decoration: underline;
    padding-left: 28px;
    background: url(../images/document-blue.svg) 0 center no-repeat;
    background-size: 23px 23px;
    line-height: 23px;
    display: inline-block;
    &:hover{
        text-decoration: none;
    }
}

//------------------------------
//    detal
//------------------------------
.detal{
    background: #FCF9F9;
    border: 1px solid #ECE1DE;
    border-radius: 3px;
    padding: 12px 20px 30px;
    margin-bottom: 22px;
    font-size: 12px;
    font-weight: normal;
    display: none;
}
.detal__info{
    li{
        position: relative;
        padding: 10px 0 10px 34px;
        img{
            position: absolute;
            top: 50%;
            left: -2px;
            transform: translateY(-50%);
            display: block;
        }
    }
}
.detal__info-2{
    display: flex;
    justify-content: space-between;
    padding-top: 19px;
    padding-bottom: 19px;
    li{
        line-height: 1.5;
        text-align: center;
        figure{
            margin-bottom: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 22px;
            img{
                display: block;
            }
        }
        span{
            display: block;
            color: #887872;
        }
    }
}
.detal__content{
    color: #000;
    line-height: 1.5;
    margin-bottom: 22px;
    max-width: 512px;
}

//------------------------------
//    section
//------------------------------
.section{
    background: #F3EDED;
    border-top: 1px solid #ECE1DE;
    padding-top: 3px;
    transform: translateY(1px);
    margin-top: 20px;
    &:last-child{
        .section__tub-content{
            margin-bottom: 0;
        }
    }
    &:first-child{
        margin-top: 0;
    }
}
.section-separator{
    //height: 20px;
}
.section__title{
    margin-left: 18px;
    padding: 7px 0 7px 22px;
    background: url(../images/clip.svg) 0 center no-repeat;
    background-size: 15px 15px;
    color: #514744;
    font-weight: 600;
    font-size: 12px;
}
.section__tub{
    padding: 0 12px;
    border-bottom: 1px solid #ECE1DE;
    display: flex;
    font-size: 12px;
}
.section__tub-item{
    cursor: pointer;
    font-weight: normal;
    padding: 7px 5px 15px;
    transition: .3s;
    border-radius: 3px 3px 0px 0px;
    border: 1px solid transparent;
    border-bottom: 0;
    transform: translateY(1.5px);
    line-height: 1;
    white-space: nowrap;
    span{
        color: #716666;
        border-bottom: 1px dashed #716666;
    }
    &:nth-child(1){
        span{
            color: $c2;
            border-bottom: 1px dashed $c2;
            font-weight: 600;
        }
        &.active{
            span{
                color: #A4AFC2;
            }
        }
    }
    &:nth-child(3){
        &.active{
            background: #FFFCF2;
        }
    }
    &.active{
        background: #FCF9F9;
        border-color: #ECE1DE;
        span{
            color: #716666;
            border-bottom-color: transparent;
        }
    }
    &.section__tub-item_disabled{
        cursor: default;
        span{
            color: #BCB2B2;
            border-bottom-color: transparent;
        }
    }
}
.section__tub-content{
    padding: 12px 20px;
    background: #FCF9F9;
    display: none;
    margin-bottom: -20px;
    &.active{
        display: block;
    }
    &:nth-child(3){
        background: #FFFCF2;
    }
}
.text-content{
    font-size: 14px;
    color: #85726B;
    line-height: 1.3;
    font-weight: normal;
    a{
        color: inherit;
        border-bottom: 1px dashed #85726B;
        display: inline;
    }
}

//------------------------------
//    FAQ
//------------------------------
.faq__title{
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    &:before{
        @extend .a;
        background: url(../images/help-2.svg) 0 0 no-repeat;
        width: 23px;
        height: 23px;
        margin-right: 10px;
    }
}
.faq__item{
    padding-bottom: 25px;
    max-width: 557px;
}
.faq__question{
    padding-left: 31px;
    position: relative;
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 10px;
    cursor: pointer;
    &.active{
        .faq__icon{
            background: #FAD75F;
            &:after{
                transform: translate(-50%, -50%) rotate(90deg);
                transform-origin: center center;
            }
        }
    }
}
.faq__answer{
    padding-left: 31px;
    font-size: 14px;
    font-weight: normal;
    line-height: 1.5;
    color: #000;
    display: none;
    padding-bottom: 10px;
}
.faq__icon{
    background: #EAE3E3;
    width: 19px;
    height: 19px;
    border-radius: 2px;
    position: absolute;
    left: 0;
    top: 0;
    transition: .3s;
    &:after{
        @extend .a;
        width: 1px;
        height: 9px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #2F1F19;
        transition: .3s;
    }
    &:before{
        @extend .a;
        width: 9px;
        height: 1px;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        background: #2F1F19;
    }
}

//------------------------------
//    AAAAAAAAAA
//------------------------------
.your-rating{
    background: #FFFAEB;
    border: 1px solid #DFD3AD;
    border-radius: 3px;
    margin-bottom: 15px;
}
.your-rating__row{
    display: flex;
    align-items: center;
    padding: 16px 20px;
    font-weight: 600;
    font-size: 14px;
}
.your-rating__stars{
    margin-left: 15px;
    transform: translateY(2px);
    .jq-star{
        margin-right: 6px;
    }
}
.your-rating__review{
    padding: 13px 20px;
    font-style: italic;
    font-size: 12px;
    border-top: 1px solid #DFD3AD;
}


.finalize{
    padding: 8px 0 0 0;
    .form-item{
        margin-bottom: 10px;
    }
    input[type="text"].datepicker-i{
        background-color: #fff;
    }
}
.file-link{
    color: $c2;
    font-size: 12px;
    padding-left: 20px;
    background: url(../images/document-blue.svg) 0 center no-repeat;
    background-size: 13px 13px;
    display: inline-block;
    margin-top: 14px;
    &:hover{
        text-decoration: underline;
    }
}
//------------------------------
//    rating
//------------------------------
.rating{
    background: #FFFAEB;
    border: 1px solid #DFD3AD;
    border-radius: 3px;
    margin-bottom: 25px;
    padding: 20px;
    textarea{
        height: 71px;
    }
    .form-item{
        margin-bottom: 15px;
    }
}
.rating__top{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    max-width: 320px;
    padding-bottom: 9px;
}
.rating__title{
    font-weight: 600;
    font-size: 14px;
    margin-bottom: 7px;
    width: 100%;
}
.button_send-rating{
    height: 40px;
    max-width: 50px;
}
.rating__stars{
    flex-grow: 1;
    max-width: 205px;
    margin-right: 20px;
    display: flex;
    justify-content: space-between;
    margin-left: -7px;
    .jq-star{
        flex-grow: 1;
    }
}
.rating__check-style{
    display: flex;
    align-items: center;
    color: #746D6B;
    font-size: 12px;
    font-weight: normal;
    a{
        color: #746D6B;
        border-bottom: 1px dashed #746D6B;
        &:hover{
            border-bottom-color: transparent;
        }
    }
}
.label-after{
    padding-top: 8px;
    padding-left: 21px;
    color: #848073;
    font-size: 10px;
    font-style: italic;
}

.rating__hidden{
    padding-top: 12px;
    display: none;
}




.svg-rated-191{
    fill: #F4D569 !important;
}






//------------------------------
//    AAAAAAAAAA
//------------------------------


