//------------------------------
//    BUTTONS
//------------------------------
.link-style{
    color: $c2;
    font-weight: 600;
    font-size: 14px;
    span{
        display: inline;
        border-bottom: 1px dashed $c2;
        transition: .3s;
    }
    &:hover{
        span{
            border-bottom-color: transparent;
        }
    }
}
.link-style__password{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 31px;
    line-height: 19px;
    padding-top: 2px;
    background: url(../images/padlock-blue.svg) 0 center no-repeat;
    background-size: 21px 21px;
    padding-left: 28px;
    display: inline-block;
}
.button{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 56px;
    background: $c1;
    color: #2F1F19;
    font-weight: 600;
    font-size: 16px;
    position: relative;
    overflow: hidden;
    border-radius: 3px;
    white-space: pre-wrap;
    span{
        position: relative;
        z-index: 100;
    }
    &:hover{
        background: lighten($c1, 5%);
    }
    &:disabled{
        background: #fbe189;
        color: #b5a171;
        cursor: default;
    }
}
.button_small{
    height: 50px;
}
.button_gray{
    background: #EEE0DC;
    &:hover{
        background: lighten(#EEE0DC, 5%);
    }
}
.link-style_red{
    color: #D43A3A;
    margin-left: 22px;
    font-weight: 500;
    span{
        border-bottom-color: #D43A3A;
    }
}
.link-style_download{
    font-size: 12px;
    padding-left: 24px;
    background: url(../images/download.svg) 0 0px no-repeat;
    background-size: 15px 15px;
}
.link-style_green{
    span{
        color: #6EB275;
        border-bottom-color: #6EB275;
    }
}
.payment-count{
    color: #8E776E;
}


.button__new-order{
    max-width: 230px;
    margin: 0 auto;
}
.link-style_evaluate{
    padding-left: 24px;
    background: url(../images/star.svg) 0 0px no-repeat;
    background-size: 17px 17px;
}


.back-link{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    height: 30px;
    background: #F2EEEE;
    border-radius: 3px;
    padding: 0 14px 0 10px;
    font-size: 14px;
    font-weight: normal;
    &:before{
        @extend .a;
        background: url(../images/back-arrow.svg) 0 0 no-repeat;
        width: 11px;
        height: 11px;
        background-size: contain;
        margin-right: 5px;
        margin-top: 2px;
    }
    &:hover{
        background: $c1;
    }
}





.button_ok{
    margin: 0 auto;
}
.button_continue{
    max-width: 169px;
    margin: -10px auto 15px;
}



