//------------------------------
//    FOOTER
//------------------------------
.footer{
    background: #342926;
    position: relative;
    z-index: 901;
    width: 100%;
    .content{
        display: flex;
        align-items: center;
        justify-content: center;
        height: 58px;
    }
}
.social{
    display: flex;
    align-items: center;
    color: #81706C;
    font-size: 14px;
    font-weight: normal;
    padding-right: 37px;
    li{
        padding: 0 5px;
        a{
            background: #4B3C38;
            width: 30px;
            height: 30px;
            border-radius: 5px;
            color: #D0C4C0;
            display: flex;
            justify-content: center;
            align-items: center;
            &:hover{
                background: $c1;
                color: #4B3C38;
            }
        }
    }
}