$c1: #FAD75F;
$c2: #3C7BF5;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul li {
  list-style: none;
}
.wrapper{
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
    padding-top: 50px;
} 
.wrapper_not-header{
    padding-top: 0;
    .main{
        padding: 20px 0 50px;
        position: relative;
    }
}
footer{
    margin-top: auto;
}
main{
    flex-grow: 1;
}
html{
	text-size-adjust: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #2F1F19;
    line-height: 1.22;
}
select,
button,
input,
textarea{
    font-family: 'Montserrat', sans-serif;
}
a{
    text-decoration: none;
    transition: .3s;
    color: #2F1F19;
    outline: 0;
}
.a{
    content: '';
    display: block;
}
.content{
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
    width: 100%;
    //max-width: 360px;
}


.menu-mayk{
    margin-left: 50px;
    li{
        padding-bottom: 15px;
        a{
            &:hover{
                color: $c1;
            }
        }
    }
}



@media (hover: hover) {
    ::-webkit-scrollbar-button {
        width: 7px;
        height: 0px;
    }
    ::-webkit-scrollbar-track {
        background-color: #dddddd; 
        border-left: 0;
        border-radius: 0;
    }

    ::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: $c1;
        border-radius: 0;
    }
    ::-webkit-resizer{
        width: 7px;
        height:0px;
    }
    ::-webkit-scrollbar{
        width: 7px;
    }
}
