//------------------------------
//    HEADER
//------------------------------
.header{
    background: #594139;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 900;
}
.content_header{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__left{
    background: #FAD75F;
    height: 100%;
    display: flex;
    align-items: center;
    width: 104px;
    margin-left: -20px;
    padding-left: 20px;
}
.logo{
    display: block;
    margin-left: 10px;
    img{
        display: block;
        width: 44px;
        height: 31px;
    }
}
.user{
    display: flex;
    align-items: center;
}
.user__login,
.user__logout{
    background: url(../images/logout.svg) 0 0 no-repeat;
    width: 20px;
    height: 20px;
    margin-left: 31px;
    background-size: contain;
    position: relative;
    &:hover{
        .user__info{
            visibility: visible;
            opacity: 1;
            margin-top: 15px;
        }
    }
}
.user__info{
    background: #fff;
    border-radius: 3px;
    padding: 10px;
    font-size: 14px;
    width: 150px;
    display: block;
    right: -2px;
    top: 100%;
    position: absolute;
    margin-top: 5px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.15);
    visibility: hidden;
    opacity: 0;
    display: none;
    transition: .3s;
    &:after{
        @extend .a;
        border-bottom: 10px solid #fff;
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        position: absolute;
        right: 5px;
        top: -8px;
    }
}
.user__login{
    background: url(../images/login.svg) 0 0 no-repeat;
    background-size: contain;
}

.user__name{
    color: #F0E6E2;
    font-weight: 600;
    padding-left: 24px;
    background: url(../images/user.svg) 0 center no-repeat;
    background-size: 20px 20px;
    line-height: 20px;
}
.icon-menu{
    width: 21px;
    height: 17px;
    cursor: pointer;
    display: block;
}
.sw-topper,
.sw-bottom,
.sw-footer{
    position: relative;
    top: 0;
    width: 100%;
    max-width: 35px;
    height: 3px;
    background: #594139;
    border-radius: 3px;
    border: none;
    transition: transform 0.5s, top 0.2s;
}

.sw-bottom{
    top: 4px;
}
.sw-footer{
    top: 8px;
}
.icon-menu.active .sw-topper{
    top: 7px;
    transform: rotate(135deg);
}
.icon-menu.active .sw-bottom{
    top: 4px;
    transform: rotate(-135deg);
}
.icon-menu.active .sw-footer{
    top: 0;
    transform: rotate(180deg);
    opacity: 0;
}



.navigation-bg{
    position: fixed;
    top: 50px;
    left: 280px;
    right: 0;
    bottom: 0;
    z-index: 900;
    opacity: 0;
    visibility: hidden;
    background: linear-gradient(90deg, rgba(52, 41, 38, 0.39) 0%, rgba(52, 41, 38, 0) 100%);
    transition: .2s;
    &.active{
        opacity: 1;
        visibility: visible;
        transition-delay: .1s;
    }
}
.navigation{
    position: fixed;
    top: 50px;
    height: calc(100% - 50px);
    z-index: 900;
    background: #FFFBFA;
    width: 280px;
    display: flex;
    flex-direction: column;
    transition: .3s;
    transform: translateX(-100%);
    overflow-y: auto;
    &::-webkit-scrollbar-button {
        width: 5px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #dcdfe3; 
        border-left: 1px solid #dcdfe3;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background-color: $c1;
        border-radius: 0;
    }
    &::-webkit-resizer{
        width: 5px;
        height:0px;
    }
    &::-webkit-scrollbar{
        width: 5px;
    }
    &.active{
        transform: translateX(0);
    }
}
.menu{
    padding-top: 16px;
    position: relative;
    z-index: 100;
    li{
        .menu__link{
            height: 60px;
            display: flex;
            align-items: center;
            padding: 0 20px 0 52px;
            color: #786660;
            font-size: 15px;
            position: relative;
            border-bottom: 1px solid #D6CFCD;
            svg{
                position: absolute;
                left:31px;
                top: 50%;
                transform: translate(-50%, -50%);
                color: #B9ADAA;
                transition: .3s;
            }
            &:hover{
                color: #D7A400;
                svg{
                    color: #D7A400;
                }
            }
        }
    }
}
.contacts{
    margin-top: auto;
    height: 286px;
    background: #FAF3F1;
    padding: 33px 20px;
    min-height: 270px;
}
.contacts__title{
    font-weight: 600;
    padding-bottom: 10px;
}
.contacts__phone{
    margin-bottom: 10px;
    position: relative;
    z-index: 100;
    li{
        a{
            color: #2F1F19;
            font-size: 14px;
            line-height: 1.86;
        }
    }
}
.contacts__email{
    font-size: 14px;
    padding-left: 21px;
    position: relative;
    z-index: 100;
    background: url(../images/mail.svg) 0 3px no-repeat;
    span{
        border-bottom: 1px dashed #2F1F19;
    }
}




