/*-----------------submit----------------------*/
button,
button[type="submit"],
input[type="submit"]{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
    transition: .3s;
	border: 0;
	outline: 0;
    width: 100%;
    display: block;
}
/*-----------------input----------------------*/
textarea,
input[type="search"],
input[type="number"],
input[type="password"], 
input[type="email"],
input[type="text"],
input[type="tel"]{
    height: 40px;
    background: #fff;
    border: 0; 
    padding: 0 15px;
    font-size: 14px;
    display: block;
    outline: none;
    width: 100%;
    border: 1px solid #B7A9A4;
    border-radius: 3px;
    font-weight: 500;
    -webkit-appearance: none;
    &.datepicker-i{
        background: #FFFBFA url(../images/calendar.svg) calc(100% - 35px) center no-repeat;
        background-size: 14px;
        padding-right: 82px;
    }
    &.input-search{
        padding-right: 53px;
        background: #FFFBFA;
    }
    &:disabled{
        color: #C0AEA7;
    }
    &.input-dropdown{
        background: #FFFBFA;
        font-family: 'Montserrat', sans-serif;
        border-radius: 3px;
        &:focus{
            border-radius: 3px 3px 0 0;
        }
    }
    &.error{
        color: #D43A3A;
    }
    &.course-i,
    &.plagiarism-i{ 
        height: 0;
        visibility: hidden;
    }
}
.nice-select.error,
textarea.error,
input.error{
    background-color: #FFF4F4 !important;
    border: 1px solid #D43A3A !important;
}
label.error{
    color: #D43A3A;
    font-size: 14px;
    font-weight: normal;
    padding-top: 7px;
    display: block;
}


.custom-combobox{
    display: block;
    position: relative;
    input{
        padding-right: 50px;
    }
  &:after { 
    content: '';
    display: block; 
      background: url(../images/arrow-select.svg) 0 0 no-repeat;
    height: 6px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute; 
    right: 15px; 
    top: 20px; 
    transform-origin: center center;
    transform: rotate(-180deg);
    transition: all 0.15s ease-in-out;
    width: 10px;
  }
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top: 0;
        height: 40px;
        width: 1px;
        background: #B7A9A4;
    }
    &.input-active{
        &:after {
          transform: rotate(0);
        }
    }
}
.ui-tooltip,
.ui-button{
    display: none !important;
}
.ui-widget.ui-widget-content{
    border-color: #B7A9A4;
    border-radius: 0 0 3px 3px;
}
.ui-menu .ui-menu-item-wrapper{
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    padding: 6px 15px;
    border-color: transparent;
    &:hover{
        background: #F5EDEB;
        color: #2F1F19;
        font-weight: 500;
    }
}
.ui-menu{
    //max-width: 552px;
    padding: 11px 1px;
  -webkit-overflow-scrolling: touch;
    &::-webkit-scrollbar-button {
        width: 3px;
        height: 0px;
    }
    &::-webkit-scrollbar-track {
        background-color: #dcdfe3; 
        border-left: 1px solid #dcdfe3;
        border-radius: 0;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 0px;
        background: #B7A9A4;
        border-radius: 0;
    }
    &::-webkit-resizer{
        width: 3px;
        height:0px;
    }
    &::-webkit-scrollbar{
        width: 3px;
    }
    overflow: auto;
    max-height: 190px;
}
.c-datepicker{
    position: relative;
}
textarea{
    height: 120px;
    padding-top: 15px;
    resize: none;
    overflow: auto;
    font-weight: normal;
}
/*---------------placeholder------------------------*/
*::-webkit-input-placeholder {
	color: #8D7D78;
	opacity: 1;
}
*:-moz-placeholder {
	color: #8D7D78;
	opacity: 1;
}
*::-moz-placeholder {
	color: #8D7D78;
	opacity: 1;
}
*:-ms-input-placeholder {
	color: #8D7D78;
	opacity: 1;
}
textarea,
input[type="select-one"],
input[type="search"],
input[type="number"],
input[type="password"],
input[type="email"],
input[type="text"],
input[type="tel"]{
    &:focus{
        &::-webkit-input-placeholder {
            opacity: 0;
        }
        &:-moz-placeholder {
            opacity: 0;
        }
        &::-moz-placeholder {
            opacity: 0;
        }
        &:-ms-input-placeholder {
            opacity: 0;
        }        
    }
}
textarea.wpcf7-not-valid,
input[type="password"].wpcf7-not-valid,
input[type="email"].wpcf7-not-valid,
input[type="text"].wpcf7-not-valid,
input[type="tel"].wpcf7-not-valid,
textarea.valid-error,
input[type="password"].valid-error,
input[type="email"].valid-error,
input[type="text"].valid-error,
input[type="tel"].valid-error{
    border-color: red;
    &::-webkit-input-placeholder {
        color: red;
    }
    &:-moz-placeholder {
        color: red;
    }
    &::-moz-placeholder {
        color: red;
    }
    &:-ms-input-placeholder {
        color: red;
    }        
}
/*------------------checkbox---------------------*/
input[type="radio"],
input[type="checkbox"] {
    display: none;
}
input[type="radio"] + span,
input[type="checkbox"] + span {
    display: block;
    border: 1px solid #746D6B;
    width: 16px;
    height: 16px;
    border-radius: 2px;
    background: 0;
    cursor: pointer;
    margin-right: 5px;
    min-width: 16px;
    font-size: 0;
    text-indent: -999;
    color: transparent;
}
input[type="radio"] + span{
    border-radius: 50%;
}
input[type="radio"]:checked + span,
input[type="checkbox"]:checked + span {
    background: #E1DAC3 url(../images/check.svg) center no-repeat;
    background-size: 10px 10px;
    border-color: #E1DAC3;
}
input[type="radio"]:checked + span{
    background: #fff;
    border-width: 5px;
}
.input-list__item_privaci{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    span.wpcf7-list-item{
        display: inline !important;
        margin: 0 !important;
    }
}
/*------------------FILE---------------------*/

input[type="file"]{
    display: none;
}
.psevdo-file{
    display: block;
    width: 100%;
}
.file-btn{
    height: 55px;
    background: #d0d0d0;
    width: 100%;
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 17px;
    color: #5f6375;
    font-weight: 500;
    cursor: pointer;
    transition: .3s;
    padding: 0 8px;
    max-width: 200px;
    span{
        display: block;
        max-width: calc(100% - 40px);
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
    .fas{
        font-size: 19px;
        margin-right: 10px;
    }
    &:hover{
        background: lighten(#d0d0d0, 5%);
    }
}

/*------------------select---------------------*/
select{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    cursor: pointer;
}
select::-ms-expand{
    display: none;
}

/*------------------WPCF7 Loader---------------------*/

.input-list .ajax-loader{
    visibility: hidden; 
}

.input-list .ajax-loader{
    position: absolute !important;
    top: 0 !important;
    left: 0 !important;
    width: 100% !important;
    height: 100% !important;
    margin: 0 !important;
    background: rgba(255, 255, 255, 0.7) url(../images/loading.gif) center no-repeat !important;
    background-size: 50px auto !important; 
}