@media (hover: hover) {
    
}


@media screen and (max-width: 355px){
    .info__baloon{
        max-width: 280px;
    }
    .info__baloon_plagiarism{
        margin-left: -34px;
        &:after{
            margin-left: 27px;
        }
    }
    .order__status{
        font-size: 10px;
    }
    .order__file,
    .order__message{
        font-size: 12px;
    }
    .content{
        padding-left: 10px;
        padding-right: 10px;
    }
    .single-order__status{
        font-size: 13px;
    }
}

@media screen and (max-width: 600px){
    /*.ui-menu{
        max-width: calc(100% - 88px);
        width: 100%;
    }*/
}


@media screen and (min-width: 600px){
    .content{
        padding-left: 30px;
        padding-right: 30px;
    }
    .content_main{
        max-width: 660px;
    }
    .header__left{
        margin-left: -30px;
        padding-left: 30px;
        width: 134px;
    }
}
@media screen and (min-width: 767px){
    .content_main{
        margin-left: 0;
    }
    .main{
        padding-left: 300px;
        padding-bottom: 60px;
    }
    .content_header{
        height: 65px;
    }
    .wrapper{
        padding-top: 65px;
    }
    .wrapper_not-header{
        padding-top: 0;
    }
    .header__left{
        width: 300px;
        padding: 0;
        justify-content: center;
    }
    .icon-menu{
        display: none;
    }
    .navigation-bg{
        display: none;
    }
    .logo{
        margin: 0;
        img{
            width: 65px;
            height: 46px;
        }
    }
    .title{
        text-align: left;
    }
    .footer{
        position: fixed;
        bottom: 0;
        left: 0;
        max-width: 300px;
    }
    .footer_static{
        position: static;
        max-width: 100%;
    }
    .social{
        padding-right: 0;
        justify-content: flex-end;
    }
    .navigation{
        transform: translateX(0);
        width: 300px;
        top: 65px;
        &:after{
            content: '';
            display: block;
            position: absolute;
            z-index: 10;
            right: 0;
            top: 0;
            height: 100%;
            width: 44px;
            background: linear-gradient(to left, rgba(170, 154, 149, 0.15) 0%, rgba(250, 243, 241, 0) 100%);
        }
    }
    .contacts{
        padding-left: 30px;
        padding-right: 30px;
    }
    .menu{
        li{
            .menu__link{
                padding-left: 62px;
                svg{
                    left: 41px;
                }
            }
        }
    }
    .user__info{
        display: block;
    }
    .main_authorization{
        justify-content: center;
    }
    .authorization{
        padding: 32px 32px 40px;
    }
    .logo-full{
        width: 276px;
        margin-bottom: 68px;
    }
    .contact-information__desc,
    .contact-information__title{
        text-align: left;
    }
    .title-18{
        text-align: left;
        justify-content: flex-start;
        padding-left: 45px;
    }
    .order-empty{
        padding-top: 70px;
    }
    .order-empty__text{
        font-size: 18px;
    }
    .info__baloon_phone{
        left: 90px;
        margin-bottom: -8px;
    }
    .archive__title{
        text-align: left;
    }
    .section__tub-item,
    .section__title{
        font-size: 14px;
    }
    .section__tub-item{
        padding-left: 15px;
        padding-right: 15px;
    }
    .faq__title{
        justify-content: flex-start;
        margin-bottom: 50px;
    }
    .your-rating__review{
        br{
            display: none;
        }
    }
}




@media screen and (min-width: 900px){
    .order__bottom{
        display: flex;
        align-items: center;
    }
    .order__evaluate{
        border-top: 0;
        height: auto;
        padding: 0;
        margin-left: auto;
        margin-right: 20px;
    }    
    .detal__info-2{
        justify-content: flex-start;
        li{
            margin-right: 25px;
            &:last-child{
                margin-right: 0;
            }
            display: flex;
            align-items: center;
            figure{
                margin: 0 7px 0 0;
            }
            span{
                padding-left: 5px;
            }
        }
    }
    .single-order__paid-line-3{
        display: flex;
        align-items: center;
        padding-bottom: 5px;
        padding-top: 2px;
    }
    .tip{
        padding: 0 0 0 22px;
    }
    .single-order__paid_success{
        padding-top: 12px;
        &:before{
            top: 22px;
        }
    }
    .chat__bottom{
        padding-bottom: 0;
    }
    .rating__top{
        max-width: 100%;
    }
    .rating__title{
        width: auto;
        margin: 0 auto 0 0;
        transform: translateY(-5px);
    }
}




