.jq-stars {
  display: inline-block;
}

.jq-rating-label {
  font-size: 22px;
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: helvetica, arial, verdana;
}

.jq-star {
  width: 100px;
  height: 100px;
  display: inline-block;
  cursor: pointer;
}

.jq-star-svg {
  padding-left: 3px;
  width: 100%;
  height: 100% ;
}

.jq-star:hover .fs-star-svg path {
}

.jq-star-svg path {
  /* stroke: #000; */
  stroke-linejoin: round;
}

/* un-used */
.jq-shadow {
  -webkit-filter: drop-shadow( -2px -2px 2px #888 );
  filter: drop-shadow( -2px -2px 2px #888 );
}





// Default variables
$font_size: 14px !default;
$font_size_small: 12px !default;

$input_border_radius: 5px !default;
$input_height: 40px !default;
$input_height_small: 36px !default;
$dropdown_padding: 15px !default;

$gray_dark: #444 !default;
$gray: #999 !default;
$gray_light: #e8e8e8 !default;
$gray_lighter: #f6f6f6 !default;
$primary_light: $gray !default;
$arrow_color: #2F1F19 !default;

// Style the dropdown
.nice-select {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background: #FFFBFA;
  border-radius: 3px;
  border: 1px solid #B7A9A4;
  box-sizing: border-box;
  clear: both;
  cursor: pointer;
  display: block;
  font-family: inherit;
  font-size: $font_size;
  height: $input_height;
  line-height: $input_height - 2;
  outline: none;
  padding-left: $dropdown_padding;
  padding-right: 45px;
  position: relative;
  text-align: left !important;
  transition: all 0.2s ease-in-out;
  user-select: none;
  white-space: nowrap;
  width: 100%;
    .current{
        display: block;
        width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
  // Arrow
  &:after { 
    content: '';
    display: block; 
      background: url(../images/arrow-select.svg) 0 0 no-repeat;
    height: 6px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute; 
    right: 15px; 
    top: 50%; 
    transform-origin: center center;
    transform: rotate(-180deg);
    transition: all 0.15s ease-in-out;
    width: 10px;
  }
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 40px;
        top: 0;
        bottom: 0;
        width: 1px;
        background: #B7A9A4;
    }
  
  &.open {
    border-radius: 3px 3px 0 0;
    &:after {
      transform: rotate(0);
    }
    .list {
      opacity: 1;
      pointer-events: auto;
      transform: scale(1) translateY(0);
    }
  }
  &.disabled {
    border-color: lighten($gray_light, 2%);
    color: $gray;
    pointer-events: none;
    &:after { 
      border-color: lighten($arrow_color, 20%);
    }
  }
  
  // Modifiers
  &.wide {
    width: 100%;
    .list {
      left: 0 !important;
      right: 0 !important;
    }
  }
  &.right {
    float: right;
    .list {
      left: auto;
      right: 0;
    }
  }
  &.small {
    font-size: $font_size_small;
    height: $input_height_small;
    line-height: $input_height_small - 2;
    &:after { 
      height: 4px;
      width: 4px;
    }
    .option {
      line-height: $input_height_small - 2;
      min-height: $input_height_small - 2;
    }
  }
  
  // List and options
  .list {
      border: 1px solid #B7A9A4;
      border-top: 0;
      left: -1px;
      right: -1px;
    background-color: #fff;
      padding: 11px 0;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
    margin-top: 1px;
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    position: absolute;
    top: 100%; 
    transform-origin: 50% 0;
    transform: scale(.75) translateY(- $input_height / 2);

    z-index: 200;
    &:hover .option:not(:hover) {
      background-color: transparent !important;
    }
  }
  .option {
    cursor: pointer;
    line-height: 30px;
    list-style: none;
    outline: none;
    padding-left: $dropdown_padding;
    padding-right: $dropdown_padding + 11;
    text-align: left;
    transition: all 0.2s;
    &:hover, &.focus, &.selected.focus { 
      background-color: #F5EDEB;
    }
    &.selected { 
      
    }
    &.disabled {
      background-color: transparent;
      cursor: default;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}



.c-datepicker{
    position: relative;
    display: block;
  &:after { 
    content: '';
    display: block; 
      background: url(../images/arrow-select.svg) 0 0 no-repeat;
    height: 6px;
    margin-top: -2px;
    pointer-events: none;
    position: absolute; 
    right: 15px; 
    top: 20px; 
    transform-origin: center center;
    transform: rotate(-180deg);
    transition: all 0.15s ease-in-out;
    width: 10px;
  }
    &:before{
        content: '';
        display: block;
        position: absolute;
        right: 68px;
        top: 0;
        height: 40px;
        width: 1px;
        background: #B7A9A4;
    }
  
  &.open {
    border-radius: 3px 3px 0 3px;
    &:after {
      transform: rotate(0);
    }
  }
}


/* ------- Slick ARROW, DOTS Start---------- */
.slick-a-next,
.slick-a-prev,
.slick-arrow-prev.slick-arrow,
.slick-arrow-next.slick-arrow{
    position: absolute;
    cursor: pointer;
    transition: .3s;
    width: 50px;
    height: 50px;
    border: 1px solid #000;
    z-index: 700;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 50%;
    &:after{
        content: '';
        display: block;
        width: 15px;
        height: 15px;
        border-top: 3px solid #000;
        border-left: 3px solid #000;
        position: absolute;
        transform: translate(-50%, -50%) rotate(-45deg);
        top: 50%;
        left: 50%;
        margin-left: 3px;
    }
    &:hover{
        background: #000;
        &:after{
            border-color: #fff;
        }
    }
}
.slick-a-prev,
.slick-arrow-prev.slick-arrow{
    left: -65px;
}
.slick-a-next,
.slick-arrow-next.slick-arrow{
    right: -65px;
    &:after{
        transform: translate(-50%, -50%) rotate(135deg);
        margin-left: -3px;
    }
}
.slick-a-next.slick-disabled,
.slick-a-prev.slick-disabled,
.slick-arrow-next.slick-arrow.slick-disabled,
.slick-arrow-prev.slick-arrow.slick-disabled{
    opacity: .5;
    cursor: not-allowed;
}
.slick-a-next,
.slick-a-prev{
    transform: translateY(0);
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.slick-dots{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: flex;
    justify-content: center;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    li{
        padding: 0 5px;
        button{
            display: block;
            width: 20px;
            height: 20px;
            border-radius: 50%;
            cursor: pointer;
            color: transparent;
            border: 1px solid $c1;
            outline: none;
            background: transparent;
        }
    }
    .slick-active{
        button{
            background: $c1;
        }
    }
}

/* ------- Slick ARROW, DOTS Finish---------- */


#circle2 {
  display: block;
  height: 18px;
  width: 18px;
  border: 3px solid #E8DFDF;
  border-top-color: #B9A9A3;
  border-radius: 50%;
          animation: spin2 .8s infinite linear;
}

@keyframes spin2 {
  from {
            transform: rotate(0deg);
  }
  to {
            transform: rotate(359deg);
  }
}


/* ---------------------------- SLICK Slider ------------------------------------- */
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;touch-action:pan-y;-webkit-tap-highlight-color:transparent}.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}.slick-list:focus{outline:none}.slick-list.dragging{cursor:pointer;cursor:hand}.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.slick-track{position:relative;top:0;left:0;display:block}.slick-track:before,.slick-track:after{display:table;content:''}.slick-track:after{clear:both}.slick-loading .slick-track{visibility:hidden}.slick-slide{display:none;float:left;height:100%;min-height:1px}[dir='rtl'] .slick-slide{float:right}.slick-slide img{display:block}.slick-slide.slick-loading img{display:none}.slick-slide.dragging img{pointer-events:none}.slick-initialized .slick-slide{display:block}.slick-loading .slick-slide{visibility:hidden}.slick-vertical .slick-slide{display:block;height:auto;border:1px solid transparent}.slick-arrow.slick-hidden{display:none}@charset 'UTF-8';
@font-face{font-family:'slick';font-weight:normal;font-style:normal}
.slick-prev,.slick-next{font-size:0;line-height:0;position:absolute;top:50%;display:block;width:20px;height:20px;margin-top:-10px;padding:0;cursor:pointer;color:transparent;border:none;outline:none;background:transparent}.slick-prev:hover:before,.slick-prev:focus:before,.slick-next:hover:before,.slick-next:focus:before{opacity:1}.slick-prev.slick-disabled:before,.slick-next.slick-disabled:before{opacity:.25}.slick-prev:before,.slick-next:before{font-family:'slick';font-size:20px;line-height:1;opacity:.75;color:white;-webkit-font-smoothing:antialiased;-moz-osx-font-smoothing:grayscale}.slick-prev{left:-25px}[dir='rtl'] .slick-prev{right:-25px;left:auto}.slick-prev:before{content:''}[dir='rtl'] .slick-prev:before{content:''}.slick-next{right:-25px}[dir='rtl'] .slick-next{right:auto;left:-25px}.slick-next:before{content:''}[dir='rtl'] .slick-next:before{content:''}

@-webkit-keyframes bounceInRight{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}from{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}@keyframes bounceInRight{from,60%,75%,90%,to{-webkit-animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000);animation-timing-function:cubic-bezier(0.215,0.610,0.355,1.000)}from{opacity:0;-webkit-transform:translate3d(3000px,0,0);transform:translate3d(3000px,0,0)}60%{opacity:1;-webkit-transform:translate3d(-25px,0,0);transform:translate3d(-25px,0,0)}75%{-webkit-transform:translate3d(10px,0,0);transform:translate3d(10px,0,0)}90%{-webkit-transform:translate3d(-5px,0,0);transform:translate3d(-5px,0,0)}to{-webkit-transform:none;transform:none}}.bounceInRight{-webkit-animation-name:bounceInRight;animation-name:bounceInRight}