
.pop-background{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(52, 41, 38, 0.7);
    overflow-x: hidden;
    overflow-y: auto;
    display: flex;
    z-index: -99999;
    opacity: 0;
    padding-top: 50px;
    &.active{
        z-index: 1010;
        opacity: 1;
        transition: opacity .5s;
        .pop-scroll{
            transform: translateY(-25px);
        }
    }
}
@media (hover: hover) {
    .pop-background{
        padding-right: 7px;
    }
    .pop-visible{
        overflow: hidden;
        margin-right: 7px;
        height: auto;
    }
}
.pop-scroll{
    z-index: 1100;
    width: 100%;
    max-width: 320px;
    border-radius: 4px;
    width: calc(100% - 40px);
    background: #fff;
    padding: 39px 32px 30px;
    transition: .5s;
    position: relative;
    margin: auto auto;
    transform: translateY(-150px);
}
.active .pop-scroll{
    //top: 50%;
}
.close{
    position: absolute;
    color: #DED3D0;
    transition: .3s;
    cursor: pointer;
    top: 9px;
    right: 12px;
    svg{
        display: block;
    }
    &:hover{
        color: #D43A3A;
    }
}
.pop__title{
    text-align: center;
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 29px;
}
.pop__title_success{
    margin-bottom: 20px;
    padding-top: 54px;
    background: url(../images/success.svg) center 0 no-repeat;
    background-size: 42px 42px;
    margin-top: 7px;
}
.pop__desc{
    text-align: center;
    font-weight: normal;
    font-size: 14px;
    margin-bottom: 29px;
    color: #65544D;
    strong{
        font-weight: 600;
    }
}
.pop__yes-no{
    display: flex;
    justify-content: space-between;
    max-width: 220px;
    margin: 0 auto;
    padding-bottom: 13px;
    .button{
        width: calc(50% - 10px);
    }
}

.pop__content_left{
    .pop__title{
        text-align: left;
        margin-bottom: 13px;
    }
    .pop__desc{
        text-align: left;
        margin-bottom: 16px;
    }
}
.pop__back-ok{
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    .button{
        width: calc(59% - 5px);
    }
    .button_gray{
        width: calc(41% - 5px);
    }
}


