.addwork_form .af_val.ats1 .sbHolder{
	    width: 78px;
    /* background-size: 100% 100%; */
    display:inline-block;
    margin: 0 20px 0 0;
}
.dodate .ui-datepicker-trigger {
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 12px;
}
.dodate {
    float: left;
    position: relative;
}




#ui-datepicker-div{z-index:1001!important;}
















.backLink{
    margin-bottom: 30px;
}

.backLink a{
    color: rgba(0,0,0,.7);
    font-weight: bold;
}

/*.table_box tbody td a.download_file{
    color: rgba(0,0,0,.7);
    text-decoration: underline;
    padding-left: 0;
    background: none;
}*/

#set_here_new_termin{
    color: #574641;
    font-size: inherit!important;
}

span.light_gray{
    font-size: inherit!important;
    color:#686868;
}

.orange_block h3, .table_box h3{
    text-align: center;
    color: rgba(0,0,0,.87);
}

.orange_block h3{
    margin-top: 0;
}

.orange_block a{
    text-decoration: underline;
}

.orange_block a:hover{
    text-decoration: none;
}

.orange_block p{
    margin-top: 0;
    margin-bottom: 0;
}

.orange_block p:not(:last-child){
    margin-bottom: 8px;
}

.orange_block > div > div:not(:first-child){
    margin-top: 15px;
}

a.sendClient{
    color: #585700;
    font-size: 18px;
    font-weight: bold;
}

.block_wrapper textarea{
    width: 600px;
    height: 110px;
    resize: none;
    font-family: Arial;
    font-size: 14px;
    padding: 5px;
}

/*.table_box tbody td a{
    color: #000;
    text-decoration: underline;
}

.table_box tbody td a:hover{
    color: #000;
    text-decoration: none;
}*/

table.noBG td, table.noBG{
    background: none!important;
}

.yellow-btn{
    display: inline-block;
    height: 40px;
    padding: 0 25px;
    background: linear-gradient(to top, #FCBE0B, #FFDB60);
    border: 2px solid #FAC92E;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    color: #5B4200;
    cursor: pointer;
}

.yellow-btn:hover{
    background: #232323;
    color: #fff;
}

.ui-datepicker-trigger{
    margin-left: -20px;
}

#task_subject{
    width: 220px;
}

.innerSubDiv:not(:first-child){
    margin-top: 15px;
}

.innerSubDiv p{
    margin-top: 0;
}

.subBlock{
    padding-left:30px;
}

.subBlock #send_new_date{
    margin-left: 10px;
}

button[data-handler="today"]{
    display: none!important;
}










.ui-timepicker-div .ui-widget-header { margin-bottom: 8px; }
.ui-timepicker-div dl { text-align: left; }
.ui-timepicker-div dl dt { float: left; clear:left; padding: 0 0 0 5px; }
.ui-timepicker-div dl dd { margin: 0 10px 10px 40%; }
.ui-timepicker-div td { font-size: 90%; }
.ui-tpicker-grid-label { background: none; border: none; margin: 0; padding: 0; }
.ui-timepicker-div .ui_tpicker_unit_hide{ display: none; }

.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input { background: none; color: inherit; border: none; outline: none; border-bottom: solid 1px #555; width: 95%; }
.ui-timepicker-div .ui_tpicker_time .ui_tpicker_time_input:focus { border-bottom-color: #aaa; }

.ui-timepicker-rtl{ direction: rtl; }
.ui-timepicker-rtl dl { text-align: right; padding: 0 5px 0 0; }
.ui-timepicker-rtl dl dt{ float: right; clear: right; }
.ui-timepicker-rtl dl dd { margin: 0 40% 10px 10px; }

/* Shortened version style */
.ui-timepicker-div.ui-timepicker-oneLine { padding-right: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time, 
.ui-timepicker-div.ui-timepicker-oneLine dt { display: none; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_time_label { display: block; padding-top: 2px; }
.ui-timepicker-div.ui-timepicker-oneLine dl { text-align: right; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd, 
.ui-timepicker-div.ui-timepicker-oneLine dl dd > div { display:inline-block; margin:0; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_minute:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_second:before { content:':'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_millisec:before,
.ui-timepicker-div.ui-timepicker-oneLine dl dd.ui_tpicker_microsec:before { content:'.'; display:inline-block; }
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide,
.ui-timepicker-div.ui-timepicker-oneLine .ui_tpicker_unit_hide:before{ display: none; }

