.selectbox {vertical-align:middle; cursor:pointer; }
.selectbox #disabled {opacity:0.5; cursor:auto; }

.selectbox.focused .select {}
.selectbox .select {float: left; margin: 0; width:457px; height:44px; color:#999; font-size:16px; outline:none; line-height:44px; z-index: 999!important;}
.clp-val .selectbox .select {width:490px!important; height:44px!important; outline: none; background: #fff; border:2px solid #fff5c6; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}
.anketa .selectbox  {float: left;}
.anketa .selectbox .select {float:left; display: inline-block; width:433px!important; height:44px!important; margin: 0 10px 0 0; outline: none; background: #fff url(images/cf-selects-4.png) no-repeat center right; border:2px solid #f4ba00; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}
.anketa .sel1 .selectbox .select {float:none; display: inline-block; width:74px!important; height:44px!important; margin: 0 10px 0 0; outline: none; background: #fff url(images/cf-selects-4.png) no-repeat center right; border:2px solid #f4ba00; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}
.anketa .sel2 .selectbox .select {float:none; display: inline-block; width:148px!important; height:44px!important; margin: 0 10px 0 0; outline: none; background: #fff url(images/cf-selects-4.png) no-repeat center right; border:2px solid #f4ba00; border-radius: 10px; box-shadow: inset 1px 1px 1px #c5bb90; padding: 0 10px; outline:none; line-height:44px;}
.sel01 .selectbox .select {border:2px solid #ff0000!important;}
.sel02 .selectbox .select {border:2px solid #66cc33!important;}

.anketa .s-center .selectbox .select {width:105px!important; float:none; display: inline-block;}
.selectbox .select .text {display:block; white-space:nowrap; text-overflow:ellipsis; overflow:hidden; padding:0px 15px;}

.selectbox .trigger {position:absolute; top:0; right:0; width:40px; height:100%;}
.clp-val .trigger {position:absolute; top:2px; right:10px; width:40px; height:100%; background:url(images/cf-selects-4.png) no-repeat center right; opacity: 0.5;}
.clp-val .trigger:hover {background:url(images/cf-selects-4.png) no-repeat center right; opacity: 1;}
.selectbox .dropdown {margin:0; top:47px; width:457px; height:auto!important; right:0!important; left:auto!important; overflow-y:hidden !important;}
.clp-val .selectbox .dropdown {width:514px; top:47px;}
.anketa .selectbox .dropdown {min-width:100px; right: 10px!important;}
.anketa .s-center .selectbox .dropdown {width:130px; right: 10px!important;}
#addwork_form .short .selectbox .dropdown {width:173px; right: 10px!important;}

.selectbox ul {margin:-1px 8px 0 8px; padding:0; height:auto; list-style:none; border:2px solid #f4ba00;}
.selectbox li:first-child { border-top:none;}
.selectbox li {padding:0 15px; height: 30px; color:#999; font-size: 16px; line-height:27px; border-top:1px solid #f4ba00; background:#fff;}
.selectbox li:hover {color:#000!important;}
.selectbox li:first-child:hover {color:#000!important;}
.selectbox li.selected {color:#999;}
.selectbox li.disabled {color:#999;}