	.rating {
	float: left;
	width: 180px;
}

.rating a {
	float: left;
	width: 23px;
	height: 22px;
	background: url(/bitrix/templates/magistr_html5/images/st2.png) no-repeat;
	cursor: pointer;
	margin-right: 2px;
}

.rating a.active {
	background: url(/bitrix/templates/magistr_html5/images/st1.png) no-repeat;
}

.notetext{
	color: green;
	font-weight: bold;
}